<a href="https://colab.research.google.com/github/DLesmes/ML_NN_Sk/blob/main/NN_from_Sk.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Requeriments

In [1]:
import numpy as np
import modin.pandas as pd
#import pandas as pd

from scipy import stats
import sklearn.metrics       as Metrics
from sklearn.metrics import mean_absolute_error, r2_score
from sklearn.model_selection import train_test_split
#from sklearn.model_selection import GridSearchCV
#from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import ExtraTreesRegressor
#from sklearn.model_selection import RandomizedSearchCV
from sklearn.preprocessing import MinMaxScaler

UserWarning: Modin Ray engine was started with 337 GB free space avaliable, if it is not enough for your application, please set environment variable MODIN_ON_RAY_PLASMA_DIR=/directory/without/space/limiting

## Load Data (Alomarrano)

In [2]:
df = pd.read_csv("/mnt/workstation/data/Alomarrano/littlepig_full_ok.csv")
id_cli = df['id_registro']
#df = df.drop(['id_registro'], axis=1)
df

,periodo,fecha_nacimiento,edad,ult_actual,categoria,codigo_ciiu,ind_mora_vigente,cartera_castigada,mora_max,cant_moras_30_ult_12_meses,...,estado_civil,nivel_academico,profesion,ocupacion,ciudad_residencia,rep_calif_cred,genero,id_registro,anho,mes
0,201908,19840630,35,20180526,1.0,10,1,1,0,0,...,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,LORICA,C,M,2089776#201908,2019,8
1,201909,19840630,35,20180526,1.0,10,1,1,0,0,...,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,LORICA,C,M,2089776#201909,2019,9
2,201907,19840630,35,20180526,1.0,10,1,1,0,0,...,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,LORICA,C,M,2089776#201907,2019,7
3,201903,19840630,35,20180526,1.0,10,1,1,0,0,...,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,LORICA,C,M,2089776#201903,2019,3
4,201911,19840630,35,20180526,1.0,10,1,1,0,0,...,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,LORICA,C,M,2089776#201911,2019,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9527188,202011,19740415,47,20201010,2.0,10,1,1,0,0,...,SOLTERO,UNIVERSITARIO,OTROS,Empleado,PUERRES,A,F,8596193#202011,2020,11
9527189,202011,19850620,35,20201003,3.0,90,1,1,28,0,...,DIVORCIADO,UNIVERSITARIO,CARRERA MILITAR,Empleado,PEDRAZA,C,M,8616083#202011,2020,11
9527190,202011,19740316,47,20200616,3.0,10,1,1,23,0,...,DIVORCIADO,UNIVERSITARIO,QUIMICA FARMACEUTICA,Independiente,MURILLO,D,M,8670207#202011,2020,11
9527191,202011,19780722,42,20200423,2.0,10,1,1,0,0,...,CASADO,ESPECIALIZACION,ECONOMIA,Empleado,PUERRES,B,F,8677655#202011,2020,11
9527192,202011,19801025,40,20200221,2.0,10,1,1,20,0,...,UNION LIBRE,UNIVERSITARIO,OTROS,Empleado,PEDRAZA,E,F,8692808#202011,2020,11

In [3]:
mejores_variables = pd.read_csv("/mnt/workstation/data/Alomarrano/littlepig_Variables.csv")
mejores_variables = list(mejores_variables['Selected_variables'])
mejores_variables

['categoria',
 'ingreso_final',
 'mediana_nom3',
 'profesion',
 'nivel_academico',
 'ocupacion',
 'ocupacion_tag_gasto_familiar',
 'estado_civil',
 'rep_calif_cred',
 'genero',
 'cartera_castigada',
 'ind_mora_vigente',
 'rep_calif_cred_tag_gasto_familiar',
 'genero_tag',
 'estado_civil_tag_gasto_familiar',
 'nivel_academico_tag_gasto_familiar',
 'profesion_tag_gasto_familiar',
 'ctas_activas',
 'ult_actual',
 'tiene_cred_hipo_2',
 'tiene_cred_hipo_1',
 'cant_oblig_tot_sf',
 'periodo',
 'tenencia_tc',
 'cupo_total_tc',
 'mes',
 'saldo_no_rot_mdo',
 'mediana_pen3',
 'ciudad_residencia',
 'edad',
 'gasto_familiar']

In [4]:
df = df[mejores_variables]
df

,categoria,ingreso_final,mediana_nom3,profesion,nivel_academico,ocupacion,ocupacion_tag_gasto_familiar,estado_civil,rep_calif_cred,genero,...,cant_oblig_tot_sf,periodo,tenencia_tc,cupo_total_tc,mes,saldo_no_rot_mdo,mediana_pen3,ciudad_residencia,edad,gasto_familiar
0,1.0,1173431.0,1255032.0,TECNOLOGIA SISTEMAS,TECNOLOGO,Empleado,6,DIVORCIADO,C,M,...,1,201908,0,0.0,8,903000.0,0.0,LORICA,35,2.325260e+05
1,1.0,1173431.0,1255032.0,TECNOLOGIA SISTEMAS,TECNOLOGO,Empleado,6,DIVORCIADO,C,M,...,1,201909,0,0.0,9,903000.0,0.0,LORICA,35,2.659000e+05
2,1.0,1172612.0,1255032.0,TECNOLOGIA SISTEMAS,TECNOLOGO,Empleado,6,DIVORCIADO,C,M,...,1,201907,0,0.0,7,903000.0,0.0,LORICA,35,2.430520e+05
3,1.0,1172612.0,1282673.0,TECNOLOGIA SISTEMAS,TECNOLOGO,Empleado,6,DIVORCIADO,C,M,...,1,201903,0,0.0,3,2433000.0,0.0,LORICA,35,2.760140e+05
4,1.0,1355032.0,1255032.0,TECNOLOGIA SISTEMAS,TECNOLOGO,Empleado,6,DIVORCIADO,C,M,...,0,201911,0,0.0,11,0.0,0.0,LORICA,35,4.188660e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9527188,2.0,3876343.0,2281362.0,OTROS,UNIVERSITARIO,Empleado,6,SOLTERO,A,F,...,2,202011,1,6000000.0,11,0.0,0.0,PUERRES,47,7.431714e+05
9527189,3.0,26913722.0,14956096.0,CARRERA MILITAR,UNIVERSITARIO,Empleado,6,DIVORCIADO,C,M,...,12,202011,1,71000000.0,11,99000.0,0.0,PEDRAZA,35,8.502165e+05
9527190,3.0,16301000.0,0.0,QUIMICA FARMACEUTICA,UNIVERSITARIO,Independiente,8,DIVORCIADO,D,M,...,17,202011,1,150800000.0,11,300000.0,0.0,MURILLO,47,7.853290e+05
9527191,2.0,14481371.0,11916465.0,ECONOMIA,ESPECIALIZACION,Empleado,6,CASADO,B,F,...,18,202011,1,26000000.0,11,184811000.0,0.0,PUERRES,42,1.029045e+06
9527192,2.0,8407800.0,0.0,OTROS,UNIVERSITARIO,Empleado,6,UNION LIBRE,E,F,...,14,202011,1,30000000.0,11,25769000.0,0.0,PEDRAZA,40,9.110522e+05

In [5]:
features = pd.DataFrame(df.dtypes)
features.columns = ['type']
features_f = features[features['type'] == 'float64'].index
features_o = features[features['type'] == 'object'].index
#features_i = features[features['type'] == 'int64'].index
#features_b = features[features['type'] == 'bool'].index

UserWarning: Distributing <class 'pandas.core.series.Series'> object. This may take some time.

In [6]:
df_std = df.iloc[8000000:,:]
df_std

,categoria,ingreso_final,mediana_nom3,profesion,nivel_academico,ocupacion,ocupacion_tag_gasto_familiar,estado_civil,rep_calif_cred,genero,...,cant_oblig_tot_sf,periodo,tenencia_tc,cupo_total_tc,mes,saldo_no_rot_mdo,mediana_pen3,ciudad_residencia,edad,gasto_familiar
8000000,1.0,2406953.0,779157.0,OTROS,TECNOLOGO,Empleado,6,SOLTERO,G,F,...,1,201902,0,0.0,2,5954000.0,0.0,PEDRAZA,47,3.663700e+05
8000001,1.0,3014036.0,0.0,OTROS,TECNOLOGO,Empleado,6,SOLTERO,D,F,...,1,202001,0,0.0,1,7480000.0,0.0,PEDRAZA,48,7.372630e+05
8000002,2.0,1242174.0,0.0,OTROS,TECNOLOGO,Empleado,6,SOLTERO,D,F,...,5,202009,1,4000000.0,9,5356000.0,0.0,PEDRAZA,48,4.473640e+05
8000003,1.0,2851369.0,741967.0,OTROS,TECNOLOGO,Empleado,6,SOLTERO,E,F,...,1,201908,0,0.0,8,6692000.0,0.0,PEDRAZA,47,4.797520e+05
8000004,1.0,3171369.0,0.0,OTROS,TECNOLOGO,Empleado,6,SOLTERO,D,F,...,1,201911,0,0.0,11,8552000.0,0.0,PEDRAZA,48,1.599610e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9527188,2.0,3876343.0,2281362.0,OTROS,UNIVERSITARIO,Empleado,6,SOLTERO,A,F,...,2,202011,1,6000000.0,11,0.0,0.0,PUERRES,47,7.431714e+05
9527189,3.0,26913722.0,14956096.0,CARRERA MILITAR,UNIVERSITARIO,Empleado,6,DIVORCIADO,C,M,...,12,202011,1,71000000.0,11,99000.0,0.0,PEDRAZA,35,8.502165e+05
9527190,3.0,16301000.0,0.0,QUIMICA FARMACEUTICA,UNIVERSITARIO,Independiente,8,DIVORCIADO,D,M,...,17,202011,1,150800000.0,11,300000.0,0.0,MURILLO,47,7.853290e+05
9527191,2.0,14481371.0,11916465.0,ECONOMIA,ESPECIALIZACION,Empleado,6,CASADO,B,F,...,18,202011,1,26000000.0,11,184811000.0,0.0,PUERRES,42,1.029045e+06
9527192,2.0,8407800.0,0.0,OTROS,UNIVERSITARIO,Empleado,6,UNION LIBRE,E,F,...,14,202011,1,30000000.0,11,25769000.0,0.0,PEDRAZA,40,9.110522e+05

## One-Hot Encoding

In [7]:
df_onehot = pd.get_dummies(df_std,
                           columns=features_o)
list(df_onehot.columns)

['categoria',
 'ingreso_final',
 'mediana_nom3',
 'ocupacion_tag_gasto_familiar',
 'cartera_castigada',
 'ind_mora_vigente',
 'rep_calif_cred_tag_gasto_familiar',
 'genero_tag',
 'estado_civil_tag_gasto_familiar',
 'nivel_academico_tag_gasto_familiar',
 'profesion_tag_gasto_familiar',
 'ctas_activas',
 'ult_actual',
 'tiene_cred_hipo_2',
 'tiene_cred_hipo_1',
 'cant_oblig_tot_sf',
 'periodo',
 'tenencia_tc',
 'cupo_total_tc',
 'mes',
 'saldo_no_rot_mdo',
 'mediana_pen3',
 'edad',
 'gasto_familiar',
 'profesion_ADMINISTRACION',
 'profesion_AGRONOMIA',
 'profesion_ARQUITECTURA',
 'profesion_ARTES',
 'profesion_AUXILIAR CONTABLE',
 'profesion_AUXILIAR DE ENFERMERIA',
 'profesion_AUXILIAR DE ODONTOLOGIA',
 'profesion_AZAFATA',
 'profesion_BACTERIOLOGIA',
 'profesion_BIOLOGIA',
 'profesion_CARRERA MILITAR',
 'profesion_COMERCIO INTERNACIONAL',
 'profesion_COMUNICACION SOCIAL',
 'profesion_CONSTRUCCION CIVIL',
 'profesion_CONTADURIA',
 'profesion_DECORADORES Y DISEADORES COMERCIALES',
 'profesion_DELINEANTE DE ARQUITECTURA',
 'profesion_DERECHO',
 'profesion_DISEO Y PUBLICIDAD',
 'profesion_ECONOMIA',
 'profesion_EDUCACION',
 'profesion_ENFERMERIA',
 'profesion_ESPEC EN PROBL DE PERS Y ORIENTA ANAL. PRP',
 'profesion_FILOSOFIA Y LETRAS',
 'profesion_FOTOGRAFOS Y OPERADORES DE CAMARA CINE Y TV',
 'profesion_GEOLOGIA',
 'profesion_INGENIERIA ADMINISTRATIVA',
 'profesion_INGENIERIA AGRICOLA',
 'profesion_INGENIERIA AMBIENTAL',
 'profesion_INGENIERIA CIVIL',
 'profesion_INGENIERIA DE MINAS',
 'profesion_INGENIERIA DE PETROLEOS',
 'profesion_INGENIERIA DE SISTEMAS',
 'profesion_INGENIERIA ELECTRICA',
 'profesion_INGENIERIA FINANCIERA',
 'profesion_INGENIERIA FORESTAL',
 'profesion_INGENIERIA INDUSTRIAL',
 'profesion_INGENIERIA MECANICA',
 'profesion_INGENIERIA SANITARIA',
 'profesion_INGENIERO',
 'profesion_INGENIERO ELECTRONICO',
 'profesion_INGENIERO METALURGICO',
 'profesion_INGENIRIA QUIMICA',
 'profesion_INSPECTORES DE ESTABLECIMIENTOS DE ENSEANZA',
 'profesion_JOYERO',
 'profesion_MEDICINA',
 'profesion_MERCADOTECNIA',
 'profesion_NINGUNA',
 'profesion_NUTRICION Y DIETETICA',
 'profesion_ODONTOLOGIA',
 'profesion_OPERACIONES DE EQUIPOS MEDICOS',
 'profesion_OTROS',
 'profesion_PILOTOS',
 'profesion_PROFESIONALES EN METODOS DIDACTICOS',
 'profesion_PROFESORES DE EDUCACION ESPECIAL',
 'profesion_PROFESORES DE EDUCACION PREESCOLAR',
 'profesion_PROFESORES DE EDUCACION PRIMARIA',
 'profesion_PSICOLOGIA',
 'profesion_QUIMICA FARMACEUTICA',
 'profesion_REGENCIA DE FARMACIA',
 'profesion_RELIGIOSA',
 'profesion_SACERDOTE',
 'profesion_SECRETARIADO',
 'profesion_SOCIOLOGIA',
 'profesion_TECNOLOGIA AGROPECUARIA',
 'profesion_TECNOLOGIA DEPORTIVA',
 'profesion_TECNOLOGIA ELECTRICIDAD',
 'profesion_TECNOLOGIA EN ADMINISTRACION',
 'profesion_TECNOLOGIA EN CIENCIAS DE LA SALUD',
 'profesion_TECNOLOGIA EN CONSTRUCCION',
 'profesion_TECNOLOGIA EN MINAS',
 'profesion_TECNOLOGIA INDUSTRIAL',
 'profesion_TECNOLOGIA MECANICA',
 'profesion_TECNOLOGIA SISTEMAS',
 'profesion_TRABAJADORES DE ASISTENCIA SOCIAL',
 'profesion_TRABAJO SOCIAL',
 'profesion_TRANSPORTADOR',
 'profesion_VETERINARIA',
 'profesion_ZOOTECNIA',
 'nivel_academico_BACHILLER',
 'nivel_academico_ESPECIALIZACION',
 'nivel_academico_NINGUNO',
 'nivel_academico_PRIMARIO',
 'nivel_academico_TECNOLOGO',
 'nivel_academico_UNIVERSITARIO',
 'ocupacion_Comerciante',
 'ocupacion_Desempleado con Ingresos',
 'ocupacion_Desempleado sin Ingresos',
 'ocupacion_Empleado',
 'ocupacion_Estudiante',
 'ocupacion_Independiente',
 'ocupacion_Jubilado',
 'ocupacion_Otro',
 'ocupacion_Pensionado',
 'ocupacion_Rentista de Capital',
 'estado_civil_CASADO',
 'estado_civil_DIVORCIADO',
 'estado_civil_SOLTERO',
 'estado_civil_UNION LIBRE',
 'estado_civil_VIUDO',
 'rep_calif_cred_A',
 'rep_calif_cred_B',
 'rep_calif_cred_C',
 'rep_calif_cred_D',
 'rep_calif_cred_E',
 'rep_calif_cred_F',
 'rep_calif_cred_G',
 'rep_calif_cred_H',
 'genero_F',
 'genero_M',
 'ciudad_residencia_ABISINIA',
 'ciudad_residencia_ACEVEDO',
 'ciudad_residencia_ACO',
 'ciudad_residencia_AGRADO',
 'ciudad_residencia_AGUA AZUL',
 'ciudad_residencia_AGUA DE DIOS',
 'ciudad_residencia_AGUA DULCE',
 'ciudad_residencia_AGUA MORA',
 'ciudad_residencia_AGUACHICA',
 'ciudad_residencia_AGUADAS',
 'ciudad_residencia_AGUAZUL',
 'ciudad_residencia_AGUSTIN CODAZZI',
 'ciudad_residencia_AIPE',
 'ciudad_residencia_ALCALA',
 'ciudad_residencia_ALDANA',
 'ciudad_residencia_ALEJANDRIA',
 'ciudad_residencia_ALGECIRAS',
 'ciudad_residencia_ALMAGUER',
 'ciudad_residencia_ALMEIDA',
 'ciudad_residencia_ALTA VISTA',
 'ciudad_residencia_ALTAGRACIA',
 'ciudad_residencia_ALVARADO',
 'ciudad_residencia_AMBALEMA',
 'ciudad_residencia_ANAPOIMA',
 'ciudad_residencia_ANDALUCIA',
 'ciudad_residencia_ANDES',
 'ciudad_residencia_ANGELOPOLIS',
 'ciudad_residencia_ANGOSTURA',
 'ciudad_residencia_ANORI',
 'ciudad_residencia_AQUITANIA',
 'ciudad_residencia_ARABIA',
 'ciudad_residencia_ARAUCA',
 'ciudad_residencia_ARBOLEDAS',
 'ciudad_residencia_ARBOLETES',
 'ciudad_residencia_ARMENIA',
 'ciudad_residencia_ARROYO DE PIEDRA',
 'ciudad_residencia_ATACO',
 'ciudad_residencia_AYAPEL',
 'ciudad_residencia_BAGAZAL',
 'ciudad_residencia_BAHIA SOLANO',
 'ciudad_residencia_BALLESTAS',
 'ciudad_residencia_BARANOA',
 'ciudad_residencia_BARATOA',
 'ciudad_residencia_BARBACOAS',
 'ciudad_residencia_BARBACOAS (NARIO)',
 'ciudad_residencia_BARBOSA',
 'ciudad_residencia_BARCELONA',
 'ciudad_residencia_BARRANCABERMEJA',
 'ciudad_residencia_BARRANCAS',
 'ciudad_residencia_BARRANCO MINAS',
 'ciudad_residencia_BARRIO OBRERO',
 'ciudad_residencia_BELALCAZAR',
 'ciudad_residencia_BELEN (NARIO)',
 'ciudad_residencia_BELEN DE UMBRIA',
 'ciudad_residencia_BELENCITO',
 'ciudad_residencia_BELLAVISTA',
 'ciudad_residencia_BELLO',
 'ciudad_residencia_BELMIRA',
 'ciudad_residencia_BERASTEGUI',
 'ciudad_residencia_BERBEO',
 'ciudad_residencia_BERRUECOS',
 'ciudad_residencia_BESOTE',
 'ciudad_residencia_BETULIA',
 'ciudad_residencia_BOBAL',
 'ciudad_residencia_BOCAS DE SATINGA',
 'ciudad_residencia_BOCHALEMA',
 'ciudad_residencia_BOGOTA D.C.',
 'ciudad_residencia_BOJACA',
 'ciudad_residencia_BOLOMBOLO',
 'ciudad_residencia_BONDA',
 'ciudad_residencia_BOQUERON',
 'ciudad_residencia_BOSCONIA',
 'ciudad_residencia_BRICENO',
 'ciudad_residencia_BRICEO (ANTIOQUIA)',
 'ciudad_residencia_BRICEO - CUNDINAMARCA',
 'ciudad_residencia_BUCARAMANGA',
 'ciudad_residencia_BUCARASICA',
 'ciudad_residencia_BUENAVISTICA',
 'ciudad_residencia_BUENOS AIRES',
 'ciudad_residencia_BUESACO',
 'ciudad_residencia_BUESAQUILLO DOS',
 'ciudad_residencia_BUGALAGRANDE',
 'ciudad_residencia_CABRERA',
 'ciudad_residencia_CACERES',
 'ciudad_residencia_CAJIBIO',
 'ciudad_residencia_CALAMAR',
 'ciudad_residencia_CALDONO',
 'ciudad_residencia_CALI',
 'ciudad_residencia_CALIMA',
 'ciudad_residencia_CALOTO',
 'ciudad_residencia_CAMARONES',
 'ciudad_residencia_CAMBAO',
 'ciudad_residencia_CAMPOHERMOSO',
 'ciudad_residencia_CANALETE',
 'ciudad_residencia_CANDELARIA',
 'ciudad_residencia_CAPARRAPI',
 'ciudad_residencia_CAPITANEJO',
 'ciudad_residencia_CARACOL',
 'ciudad_residencia_CARAZA',
 'ciudad_residencia_CARLOSAMA',
 'ciudad_residencia_CARMEN D ROVIRA',
 'ciudad_residencia_CARMEN DE APICALA',
 'ciudad_residencia_CARMEN DE ATRATO',
 'ciudad_residencia_CARMEN DE CARUPA',
 'ciudad_residencia_CARMEN DE VIBORAL',
 'ciudad_residencia_CARRA',
 'ciudad_residencia_CARRILLO',
 'ciudad_residencia_CARTAGENA',
 'ciudad_residencia_CARTAGO',
 'ciudad_residencia_CARTAGUA',
 'ciudad_residencia_CASTILLA LA NUEVA',
 'ciudad_residencia_CASUARITO - PUERTO CARREO',
 'ciudad_residencia_CAUCA',
 'ciudad_residencia_CEJA',
 'ciudad_residencia_CERETE',
 'ciudad_residencia_CERINZA',
 'ciudad_residencia_CERRITO',
 'ciudad_residencia_CERRO SAN ANTONIO',
 'ciudad_residencia_CHACHAGUI',
 'ciudad_residencia_CHAPARRAL',
 'ciudad_residencia_CHICORAL',
 'ciudad_residencia_CHINACOTA',
 'ciudad_residencia_CHINAVITA',
 'ciudad_residencia_CHINU',
 'ciudad_residencia_CHIPATA',
 'ciudad_residencia_CHIQUINQUIRA',
 'ciudad_residencia_CHIRIGUANA',
 'ciudad_residencia_CHISCAS',
 'ciudad_residencia_CHITARAQUE',
 'ciudad_residencia_CHOCOA',
 'ciudad_residencia_CHOCONTA',
 'ciudad_residencia_CICUCO',
 'ciudad_residencia_CIENAGA DE ORO',
 'ciudad_residencia_CIENEGA',
 'ciudad_residencia_CIRCASIA',
 'ciudad_residencia_CITE',
 'ciudad_residencia_CIUDAD BOLIVAR',
 'ciudad_residencia_CIUDAD EXTERIOR',
 'ciudad_residencia_CLEMENCIA',
 'ciudad_residencia_COCONUCO',
 'ciudad_residencia_COCORNA',
 'ciudad_residencia_COELLO',
 'ciudad_residencia_COGUA',
 'ciudad_residencia_COLON',
 'ciudad_residencia_CONTRATACION',
 'ciudad_residencia_COPACABANA',
 'ciudad_residencia_CORDOBA',
 'ciudad_residencia_CORDOBA (NARIO)',
 'ciudad_residencia_CORINTO',
 'ciudad_residencia_CORINTO - EL PEON',
 'ciudad_residencia_COROZAL',
 'ciudad_residencia_COTORRA',
 'ciudad_residencia_COVENAS',
 'ciudad_residencia_COVEAS',
 'ciudad_residencia_CRAVO NORTE',
 'ciudad_residencia_CRUCES',
 'ciudad_residencia_CUBARA',
 'ciudad_residencia_CUCUNUBA',
 'ciudad_residencia_CUCUTA',
 'ciudad_residencia_CUCUTILLA',
 'ciudad_residencia_CUESTA RICA',
 'ciudad_residencia_CUITIVA',
 'ciudad_residencia_CUMARAL',
 'ciudad_residencia_CUMBAL',
 'ciudad_residencia_CUPI',
 'ciudad_residencia_CURUMANI',
 'ciudad_residencia_DABEIBA',
 'ciudad_residencia_DIBULLLA',
 'ciudad_residencia_DINAMARCA',
 'ciudad_residencia_DISTRACCION',
 'ciudad_residencia_DON MATIAS',
 'ciudad_residencia_DOS QUEBRADAS',
 'ciudad_residencia_DOSQUEBRADAS',
 'ciudad_residencia_DUITAMA',
 'ciudad_residencia_DURANIA',
 'ciudad_residencia_EBEJICO',
 'ciudad_residencia_EL AGUILA',
 'ciudad_residencia_EL BORDO',
 'ciudad_residencia_EL CABUYAL',
 'ciudad_residencia_EL CAIMO',
 'ciudad_residencia_EL CARMELO',
 'ciudad_residencia_EL CARMEN',
 'ciudad_residencia_EL CERRITO',
 'ciudad_residencia_EL CHOCO',
 'ciudad_residencia_EL COLEGIO',
 'ciudad_residencia_EL COPEY',
 'ciudad_residencia_EL DIFICIL',
 'ciudad_residencia_EL HATO',
 'ciudad_residencia_EL MINGUEO',
 'ciudad_residencia_EL MOLINO',
 'ciudad_residencia_EL NARANJO',
 'ciudad_residencia_EL OVERO',
 'ciudad_residencia_EL PASO',
 'ciudad_residencia_EL PAUJIL',
 'ciudad_residencia_EL PEOL (ANTIOQUIA)',
 'ciudad_residencia_EL PEON - EL PEON',
 'ciudad_residencia_EL PLACER',
 'ciudad_residencia_EL PLAN',
 'ciudad_residencia_EL PORVENIR',
 'ciudad_residencia_EL RETEN',
 'ciudad_residencia_EL RETIRO',
 'ciudad_residencia_EL RETORNO',
 'ciudad_residencia_EL ROBLE',
 'ciudad_residencia_EL ROSARIO',
 'ciudad_residencia_EL ROSARIO (NARIO)',
 'ciudad_residencia_EL SANTUARIO',
 'ciudad_residencia_EL TABLON (NARIO)',
 'ciudad_residencia_EL TAMBO (NARIO)',
 'ciudad_residencia_EL TARRA',
 'ciudad_residencia_EL TOTUMO',
 'ciudad_residencia_EL TRES',
 'ciudad_residencia_ENCENILLA',
 'ciudad_residencia_ESTADOS UNIDOS',
 'ciudad_residencia_EVITAR',
 'ciudad_residencia_FATIMA',
 'ciudad_residencia_FELIDIA',
 'ciudad_residencia_FILADELFIA',
 'ciudad_residencia_FILANDIA',
 'ciudad_residencia_FINLANDIA',
 'ciudad_residencia_FLANDES',
 'ciudad_residencia_FLORENCIA',
 'ciudad_residencia_FLORIDA',
 'ciudad_residencia_FLORIDABLANCA',
 'ciudad_residencia_FORTUL',
 'ciudad_residencia_FRESNO',
 'ciudad_residencia_FUNES',
 'ciudad_residencia_FUNZA',
 'ciudad_residencia_FUSAGASUGA',
 'ciudad_residencia_GACHANCIPA',
 'ciudad_residencia_GACHANTIVA',
 'ciudad_residencia_GAIRA',
 'ciudad_residencia_GALAPA',
 'ciudad_residencia_GALERAS',
 'ciudad_residencia_GALINDEZ',
 'ciudad_residencia_GAMARRA',
 'ciudad_residencia_GAMBOTE',
 'ciudad_residencia_GENOVA',
 'ciudad_residencia_GINEBRA',
 'ciudad_residencia_GIRARDOTA',
 'ciudad_residencia_GIRON',
 'ciudad_residencia_GOMEZ PLATA',
 'ciudad_residencia_GRANADA',
 'ciudad_residencia_GRANADA EL SOCHE',
 'ciudad_residencia_GUACAMAYAL',
 'ciudad_residencia_GUACHENE',
 'ciudad_residencia_GUACHEN',
 'ciudad_residencia_GUACHETA',
 'ciudad_residencia_GUADALAJARA DE BUGA',
 'ciudad_residencia_GUALMATAN',
 'ciudad_residencia_GUAMAL',
 'ciudad_residencia_GUAMALITO',
 'ciudad_residencia_GUAMO',
 'ciudad_residencia_GUANABANAL',
 'ciudad_residencia_GUAPI',
 'ciudad_residencia_GUARUMO',
 'ciudad_residencia_GUASCA',
 'ciudad_residencia_GUATAPE',
 'ciudad_residencia_GUATEQUE',
 'ciudad_residencia_GUAVIO ALTO',
 'ciudad_residencia_GUAYABAL',
 'ciudad_residencia_GUICAN',
 'ciudad_residencia_HELICONIA',
 'ciudad_residencia_HOBO',
 'ciudad_residencia_HUERTAS',
 'ciudad_residencia_HUMADEA',
 'ciudad_residencia_IBAGUE',
 'ciudad_residencia_INIRIDA',
 'ciudad_residencia_IPIALES - NARIO',
 'ciudad_residencia_ISCUANDE',
 'ciudad_residencia_ITAGUI',
 'ciudad_residencia_ITUANGO',
 'ciudad_residencia_IZA',
 'ciudad_residencia_JAMUNDI',
 'ciudad_residencia_JARDIN',
 'ciudad_residencia_JERICO',
 'ciudad_residencia_JONGOBITO',
 'ciudad_residencia_JUAN DE ACOSTA',
 'ciudad_residencia_JUAN MINA',
 'ciudad_residencia_LA ALDEA',
 'ciudad_residencia_LA ARGENTINA',
 'ciudad_residencia_LA CEJITA',
 'ciudad_residencia_LA CRUZ',
 'ciudad_residencia_LA CRUZADA',
 'ciudad_residencia_LA CUCHILLA',
 'ciudad_residencia_LA CUMBRE',
 'ciudad_residencia_LA DORADA',
 'ciudad_residencia_LA GALLERA',
 'ciudad_residencia_LA GRAN VIA',
 'ciudad_residencia_LA HORMIGA',
 'ciudad_residencia_LA JAGUA DE IBIRICO',
 'ciudad_residencia_LA MARGARITA',
 'ciudad_residencia_LA MERCED',
 'ciudad_residencia_LA MESA',
 'ciudad_residencia_LA MILAGROSA',
 'ciudad_residencia_LA MONTA#ITA',
 'ciudad_residencia_LA MONTAITA',
 'ciudad_residencia_LA PENA',
 'ciudad_residencia_LA PEA - LA PEA',
 'ciudad_residencia_LA PINTADA',
 'ciudad_residencia_LA PLAYA',
 'ciudad_residencia_LA PLAYITA',
 'ciudad_residencia_LA RAYA',
 'ciudad_residencia_LA SALINA',
 'ciudad_residencia_LA SIERRA',
 'ciudad_residencia_LA SIERRA (PTO NARE',
 'ciudad_residencia_LA SOLEDAD',
 'ciudad_residencia_LA TABLAZA',
 'ciudad_residencia_LA UNION (NARIO)',
 'ciudad_residencia_LA VICTORIA',
 'ciudad_residencia_LABATECA',
 'ciudad_residencia_LANDAZURI',
 'ciudad_residencia_LAS PALMAS',
 'ciudad_residencia_LAS PENAS',
 'ciudad_residencia_LAS PEAS - COROZAL',
 'ciudad_residencia_LAURELES',
 'ciudad_residencia_LEJANIAS',
 'ciudad_residencia_LIBANO',
 'ciudad_residencia_LLANO GRANDE',
 'ciudad_residencia_LLORO',
 'ciudad_residencia_LORICA',
 'ciudad_residencia_LOS ANDES',
 'ciudad_residencia_LOS CAUCHOS',
 'ciudad_residencia_LOS GARSONES',
 'ciudad_residencia_LOS PALMITOS',
 'ciudad_residencia_LOS PATIOS NORTE DE SANTANDER',
 'ciudad_residencia_LURUACO',
 'ciudad_residencia_MACAJAN',
 'ciudad_residencia_MACANAL',
 'ciudad_residencia_MACEO',
 'ciudad_residencia_MACHETA',
 'ciudad_residencia_MADRID',
 'ciudad_residencia_MADRIGAL',
 'ciudad_residencia_MAGUARE',
 'ciudad_residencia_MAICAO',
 'ciudad_residencia_MALAGANA',
 'ciudad_residencia_MALAMBO',
 'ciudad_residencia_MANAURE BALCON DL CESAR',
 'ciudad_residencia_MARIPI',
 'ciudad_residencia_MARQUETALIA',
 'ciudad_residencia_MARSELLA',
 'ciudad_residencia_MARULANDA',
 'ciudad_residencia_MEDELLIN',
 'ciudad_residencia_MEDIO SAN JUAN',
 'ciudad_residencia_MEXICO',
 'ciudad_residencia_MIAMI',
 'ciudad_residencia_MICAY',
 'ciudad_residencia_MINAS',
 'ciudad_residencia_MINCA',
 'ciudad_residencia_MIRABUENO',
 'ciudad_residencia_MIRANDA',
 'ciudad_residencia_MOCOA',
 'ciudad_residencia_MOGOTES',
 'ciudad_residencia_MOMPOS',
 'ciudad_residencia_MONGUA',
 'ciudad_residencia_MONGUI',
 'ciudad_residencia_MONTELIBANO',
 'ciudad_residencia_MONTENEGRO',
 'ciudad_residencia_MONTERREY',
 'ciudad_residencia_MORALES',
 'ciudad_residencia_MORROA',
 'ciudad_residencia_MOSQUERA',
 'ciudad_residencia_MOTAVITA',
 'ciudad_residencia_MURILLO',
 'ciudad_residencia_MUTIS',
 'ciudad_residencia_NARANJAL',
 'ciudad_residencia_NARINO',
 'ciudad_residencia_NARIO (ANTIOQUIA)',
 'ciudad_residencia_NARIO (CUNDINAMARCA)',
 'ciudad_residencia_NARIO - PASTO',
 'ciudad_residencia_NATAGAIMA',
 'ciudad_residencia_NECHI',
 'ciudad_residencia_NECOCLI',
 'ciudad_residencia_NILO',
 'ciudad_residencia_NIMAIMA',
 'ciudad_residencia_NIQUIA',
 'ciudad_residencia_NUEVA COLONIA',
 'ciudad_residencia_NUEVA GRANADA',
 'ciudad_residencia_NUNCHIA',
 'ciudad_residencia_NUEZ - BOGOTA D.C.',
 'ciudad_residencia_OBONUCO',
 'ciudad_residencia_OCA#A',
 'ciudad_residencia_OCAMONTE',
 'ciudad_residencia_OCAA',
 'ciudad_residencia_OLAYA HERRERA',
 'ciudad_residencia_OROCUE',
 'ciudad_residencia_ORTIGAL',
 'ciudad_residencia_OVEJAS',
 'ciudad_residencia_PACORA',
 'ciudad_residencia_PADILLA',
 'ciudad_residencia_PAISPAMBA',
 'ciudad_residencia_PALMAS SOCORRO',
 'ciudad_residencia_PALMIRA',
 'ciudad_residencia_PALMITAL',
 'ciudad_residencia_PAMBANA',
 'ciudad_residencia_PAMPLONA',
 'ciudad_residencia_PAN DE AZUCAR',
 'ciudad_residencia_PANDI',
 'ciudad_residencia_PARAMO',
 'ciudad_residencia_PARATEBUENO',
 'ciudad_residencia_PASACABALLOS',
 'ciudad_residencia_PEDRAZA',
 'ciudad_residencia_PELAYA',
 'ciudad_residencia_PENDALES',
 'ciudad_residencia_PENSILVANIA',
 'ciudad_residencia_PEREIRA',
 'ciudad_residencia_PEOL',
 'ciudad_residencia_PIEDRANCHA - MALLAMA - NARIO',
 'ciudad_residencia_PIEDRAS',
 'ciudad_residencia_PIEDRAS BLANCAS',
 'ciudad_residencia_PIENDAMO',
 'ciudad_residencia_PIJINO',
 'ciudad_residencia_PINILLOS',
 'ciudad_residencia_PIOJO',
 'ciudad_residencia_PITAL',
 'ciudad_residencia_PITALITO',
 'ciudad_residencia_PLANETA RICA',
 'ciudad_residencia_PONEDERA',
 'ciudad_residencia_PORCE',
 'ciudad_residencia_PORE',
 'ciudad_residencia_PORVENIR',
 'ciudad_residencia_POTOSI',
 'ciudad_residencia_PROVIDENCIA',
 'ciudad_residencia_PUEBLO BELLO',
 'ciudad_residencia_PUEBLO RICO',
 'ciudad_residencia_PUEBLO VIEJO',
 'ciudad_residencia_PUENTE DE PIEDRA',
 'ciudad_residencia_PUENTE NACIONAL',
 'ciudad_residencia_PUERRES',
 'ciudad_residencia_PUERTO ARAUJO',
 'ciudad_residencia_PUERTO ASIS',
 'ciudad_residencia_PUERTO BERRIO',
 'ciudad_residencia_PUERTO CAICEDO',
 'ciudad_residencia_PUERTO CLAVER',
 'ciudad_residencia_PUERTO LIBERTADOR',
 'ciudad_residencia_PUERTO LIBRE',
 'ciudad_residencia_PUERTO LIMON',
 'ciudad_residencia_PUERTO LLERAS',
 'ciudad_residencia_PUERTO LOPEZ',
 'ciudad_residencia_PUERTO NARE',
 'ciudad_residencia_PUERTO PARRA',
 'ciudad_residencia_PUERTO PERALES',
 'ciudad_residencia_PUERTO RICO',
 'ciudad_residencia_PUERTO RONDON',
 'ciudad_residencia_PUERTO SALGAR',
 'ciudad_residencia_PUERTO SANTANDER',
 'ciudad_residencia_PUERTO SERVIEZ',
 'ciudad_residencia_PUERTO VALDIVIA',
 'ciudad_residencia_PULI',
 'ciudad_residencia_PUNTA DE CARTAGENA',
 'ciudad_residencia_PURIFICACION',
 'ciudad_residencia_PURISIMA',
 'ciudad_residencia_QUIMBAYA',
 'ciudad_residencia_RAQUIRA',
 'ciudad_residencia_REPELON',
 'ciudad_residencia_RESTREPO',
 'ciudad_residencia_RETIRO',
 'ciudad_residencia_RICAURTE (NARIO)',
 'ciudad_residencia_RINCON HONDO',
 'ciudad_residencia_RIO DE ORO',
 'ciudad_residencia_RIO VIEJO',
 'ciudad_residencia_RIOFRIO',
 'ciudad_residencia_RIONEGRO',
 'ciudad_residencia_RIONUEVO',
 'ciudad_residencia_RIOSUCIO',
 'ciudad_residencia_RISARALDA',
 'ciudad_residencia_RIVERA',
 'ciudad_residencia_ROBLEDO',
 'ciudad_residencia_ROTINET',
 'ciudad_residencia_ROVIRA',
 'ciudad_residencia_SABANALARAGA',
 'ciudad_residencia_SACAMA',
 'ciudad_residencia_SAHAGUN',
 'ciudad_residencia_SALAMINA',
 'ciudad_residencia_SAMANA',
 'ciudad_residencia_SAN ADOLFO',
 'ciudad_residencia_SAN ANDRES',
 'ciudad_residencia_SAN ANDRES BOCA',
 'ciudad_residencia_SAN ANDRES DE CUERQUIA',
 'ciudad_residencia_SAN ANDRES SOTAVENTO',
 'ciudad_residencia_SAN ANTERO',
 'ciudad_residencia_SAN ANTONIO',
 'ciudad_residencia_SAN BARTOLO',
 'ciudad_residencia_SAN FERNANDO',
 'ciudad_residencia_SAN GIL',
 'ciudad_residencia_SAN JACINTO DEL CAUCA',
 'ciudad_residencia_SAN JOAQUIN',
 'ciudad_residencia_SAN JOSE',
 'ciudad_residencia_SAN JOSE DE LA MONTANA',
 'ciudad_residencia_SAN JOSE DE MIRANDA',
 'ciudad_residencia_SAN JOSE DE URE',
 'ciudad_residencia_SAN JOSE DEL GUAVIARE',
 'ciudad_residencia_SAN JOSE DEL NUS',
 'ciudad_residencia_SAN JOSE DEL PALMAR',
 'ciudad_residencia_SAN JOSE NUESTRA SENORA',
 'ciudad_residencia_SAN JOSE NUESTRA SEORA - SAN ROQUE',

In [8]:
df_onehot

,categoria,ingreso_final,mediana_nom3,ocupacion_tag_gasto_familiar,cartera_castigada,ind_mora_vigente,rep_calif_cred_tag_gasto_familiar,genero_tag,estado_civil_tag_gasto_familiar,nivel_academico_tag_gasto_familiar,...,ciudad_residencia_YAMUESQUER,ciudad_residencia_YARIMA,ciudad_residencia_YONDO,ciudad_residencia_ZAMBRANO,ciudad_residencia_ZAPATOCA,ciudad_residencia_ZARAGOZA,ciudad_residencia_ZARZAL,ciudad_residencia_ZIPACON,ciudad_residencia_ZONA BANANERA,ciudad_residencia_ZU#IGA
8000000,1.0,2406953.0,779157.0,6,1,1,2,1,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
8000001,1.0,3014036.0,0.0,6,1,1,3,1,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
8000002,2.0,1242174.0,0.0,6,1,1,3,1,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
8000003,1.0,2851369.0,741967.0,6,1,1,4,1,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
8000004,1.0,3171369.0,0.0,6,1,1,3,1,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9527188,2.0,3876343.0,2281362.0,6,1,1,8,1,1.0,3.0,...,0,0,0,0,0,0,0,0,0,0
9527189,3.0,26913722.0,14956096.0,6,1,1,5,2,3.0,3.0,...,0,0,0,0,0,0,0,0,0,0
9527190,3.0,16301000.0,0.0,8,1,1,3,2,3.0,3.0,...,0,0,0,0,0,0,0,0,0,0
9527191,2.0,14481371.0,11916465.0,6,1,1,7,1,5.0,5.0,...,0,0,0,0,0,0,0,0,0,0
9527192,2.0,8407800.0,0.0,6,1,1,4,1,4.0,3.0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
(df_onehot.iloc[:,23] == df_onehot['gasto_familiar']).value_counts()

True    1527193
dtype: int64

## Best Variables

In [10]:
X = pd.read_csv("/mnt/workstation/data/Alomarrano/littlepig_PCAVariables.csv")
top_PCA_Variables = list(X['Variable'])
top_PCA_Variables[:16]

['categoria',
 'ingreso_final',
 'mediana_nom3',
 'ocupacion_tag_gasto_familiar',
 'cartera_castigada',
 'ind_mora_vigente',
 'rep_calif_cred_tag_gasto_familiar',
 'genero_tag',
 'estado_civil_tag_gasto_familiar',
 'profesion_tag_gasto_familiar',
 'ctas_activas',
 'periodo',
 'profesion_AUXILIAR DE ODONTOLOGIA',
 'profesion_BACTERIOLOGIA',
 'profesion_CARRERA MILITAR',
 'profesion_COMERCIO INTERNACIONAL']

In [11]:
top_PCA_Variables = ['categoria',
 'ingreso_final',
 'mediana_nom3',
 'ocupacion_tag_gasto_familiar',
 'cartera_castigada',
 'ind_mora_vigente',
 'rep_calif_cred_tag_gasto_familiar',
 'genero_tag',
 'estado_civil_tag_gasto_familiar',
 'profesion_tag_gasto_familiar',
 'ctas_activas',
 'periodo',
 'profesion_AUXILIAR DE ODONTOLOGIA',
 'profesion_BACTERIOLOGIA',
 'profesion_CARRERA MILITAR',
 'profesion_COMERCIO INTERNACIONAL',
                     'gasto_familiar']

In [12]:
df_onehot = df_onehot[top_PCA_Variables]
df_onehot

,categoria,ingreso_final,mediana_nom3,ocupacion_tag_gasto_familiar,cartera_castigada,ind_mora_vigente,rep_calif_cred_tag_gasto_familiar,genero_tag,estado_civil_tag_gasto_familiar,profesion_tag_gasto_familiar,ctas_activas,periodo,profesion_AUXILIAR DE ODONTOLOGIA,profesion_BACTERIOLOGIA,profesion_CARRERA MILITAR,profesion_COMERCIO INTERNACIONAL,gasto_familiar
8000000,1.0,2406953.0,779157.0,6,1,1,2,1,1.0,44,2,201902,0,0,0,0,3.663700e+05
8000001,1.0,3014036.0,0.0,6,1,1,3,1,1.0,44,2,202001,0,0,0,0,7.372630e+05
8000002,2.0,1242174.0,0.0,6,1,1,3,1,1.0,44,2,202009,0,0,0,0,4.473640e+05
8000003,1.0,2851369.0,741967.0,6,1,1,4,1,1.0,44,2,201908,0,0,0,0,4.797520e+05
8000004,1.0,3171369.0,0.0,6,1,1,3,1,1.0,44,2,201911,0,0,0,0,1.599610e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9527188,2.0,3876343.0,2281362.0,6,1,1,8,1,1.0,44,1,202011,0,0,0,0,7.431714e+05
9527189,3.0,26913722.0,14956096.0,6,1,1,5,2,3.0,47,2,202011,0,0,1,0,8.502165e+05
9527190,3.0,16301000.0,0.0,8,1,1,3,2,3.0,46,1,202011,0,0,0,0,7.853290e+05
9527191,2.0,14481371.0,11916465.0,6,1,1,7,1,5.0,64,1,202011,0,0,0,0,1.029045e+06
9527192,2.0,8407800.0,0.0,6,1,1,4,1,4.0,44,1,202011,0,0,0,0,9.110522e+05

## Normalization

In [13]:
Estandar = MinMaxScaler()
Estandar.fit(df_onehot)

df_std = Estandar.transform(df_onehot)
df_std = pd.DataFrame(df_std)
round(df_std.describe().T,2)

UserWarning: Distributing <class 'numpy.ndarray'> object. This may take some time.
UserWarning: `DataFrame.__round__` defaulting to pandas implementation.
To request implementation, send an email to feature_requests@modin.org.
UserWarning: Distributing <class 'pandas.core.frame.DataFrame'> object. This may take some time.

        count  mean   std  min   25%   50%   75%  max
0   1527193.0  0.31  0.14  0.0  0.20  0.20  0.40  1.0
1   1527193.0  0.00  0.00  0.0  0.00  0.00  0.00  1.0
2   1527193.0  0.00  0.01  0.0  0.00  0.00  0.01  1.0
3   1527193.0  0.54  0.17  0.0  0.56  0.56  0.56  1.0
4   1527193.0  0.00  0.00  0.0  0.00  0.00  0.00  0.0
5   1527193.0  0.00  0.00  0.0  0.00  0.00  0.00  0.0
6   1527193.0  0.61  0.36  0.0  0.29  0.71  1.00  1.0
7   1527193.0  0.49  0.50  0.0  0.00  0.00  1.00  1.0
8   1527193.0  0.46  0.46  0.0  0.00  0.50  1.00  1.0
9   1527193.0  0.58  0.21  0.0  0.55  0.55  0.69  1.0
10  1527193.0  0.07  0.03  0.0  0.07  0.07  0.07  1.0
11  1527193.0  0.52  0.46  0.0  0.05  0.91  0.96  1.0
12  1527193.0  0.00  0.02  0.0  0.00  0.00  0.00  1.0
13  1527193.0  0.00  0.06  0.0  0.00  0.00  0.00  1.0
14  1527193.0  0.00  0.06  0.0  0.00  0.00  0.00  1.0
15  1527193.0  0.01  0.09  0.0  0.00  0.00  0.00  1.0
16  1527193.0  0.02  0.00  0.0  0.02  0.02  0.02  1.0

In [14]:
x_val = df_std.iloc[-281666:,:-1]
y_val = df_std.iloc[-281666:,-1]
y = df_std.iloc[:-281666,-1]

In [15]:
print(x_val.shape)
print(y_val.shape)
print(y.shape)

(281666, 16)
(281666,)
(1245527,)

## Train_Test

In [16]:
X_train, X_test, y_train, y_test = train_test_split(df_std.iloc[:-281666,:-1],
                                                    y,
                                                    test_size=0.30)

X_train

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
154021,0.2,0.000144,0.000000,0.555556,0.0,0.0,0.000000,0.0,0.00,0.012821,0.142857,0.917431,0.0,0.0,0.0,0.0
306725,0.4,0.002045,0.000000,0.555556,0.0,0.0,0.857143,1.0,1.00,0.987179,0.071429,0.009174,0.0,0.0,0.0,0.0
505670,0.4,0.001430,0.000000,0.333333,0.0,0.0,1.000000,1.0,1.00,0.807692,0.071429,0.000000,0.0,0.0,0.0,0.0
127329,0.6,0.000513,0.000000,0.111111,0.0,0.0,1.000000,0.0,0.50,0.692308,0.071429,0.027523,0.0,0.0,0.0,0.0
683127,0.2,0.000524,0.003368,0.555556,0.0,0.0,0.285714,1.0,0.75,0.551282,0.071429,0.055046,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403482,0.2,0.000238,0.003550,0.555556,0.0,0.0,0.142857,1.0,0.75,0.076923,0.071429,0.917431,0.0,0.0,0.0,0.0
562217,0.2,0.000390,0.006120,0.555556,0.0,0.0,0.285714,0.0,0.00,0.551282,0.071429,0.027523,0.0,0.0,0.0,0.0
1233232,0.2,0.000285,0.000000,0.000000,0.0,0.0,1.000000,0.0,0.00,0.551282,0.142857,0.972477,0.0,0.0,0.0,0.0
860230,0.2,0.000224,0.000000,0.555556,0.0,0.0,0.142857,1.0,0.00,0.551282,0.071429,0.926606,0.0,0.0,0.0,0.0
440232,0.2,0.000621,0.000000,0.555556,0.0,0.0,0.571429,1.0,0.00,0.910256,0.071429,0.935780,0.0,0.0,0.0,0.0

In [17]:
X_train = np.asarray(X_train)
y_train = np.asarray(y_train)
X_test = np.asarray(X_test)
y_test = np.asarray(y_test)
x_val = np.asarray(x_val)
y_val = np.asarray(y_val)

# Decision Tree

In [18]:
dtree = DecisionTreeRegressor(criterion='mse',
                               max_depth=17
                               )
dtree.fit(X_train, y_train)
y_hat_dt = dtree.predict(X_test)
print("mae for Decision Tree on CV data: ",mean_absolute_error(y_test,y_hat_dt))
print("R2 Score for Decision Tree on CV data: ",r2_score(y_test,y_hat_dt))

mae for Extra tree on CV data:  0.0010906450591146586
R2 Score for Random Forest on CV data:  -0.9696835377311808

In [19]:
mape_dt = sum(pd.DataFrame((y_hat_dt/y_test)-1).abs()/len(y_hat_dt))

mape_dt

RuntimeWarning: divide by zero encountered in true_divide
UserWarning: Distributing <class 'numpy.ndarray'> object. This may take some time.

0

# Extra Tree

In [20]:
et = ExtraTreesRegressor(n_jobs=-1,
                        criterion='mse',
                        max_features='sqrt',
                        n_estimators=80,
                        max_depth=10,
                         min_samples_split=10,
                         min_samples_leaf=10)

In [21]:
et.fit(X_train, y_train)
y_hat_et = et.predict(X_test)
print("mae for Extra tree on CV data: ",mean_absolute_error(y_test,y_hat_et))
print("R2 Score for Extra tree on CV data: ",r2_score(y_test,y_hat_et))

mae for Extra tree on CV data:  0.0010672391516079321
R2 Score for Random Forest on CV data:  0.07213001866044932

In [22]:
mape_et = sum(pd.DataFrame(y_hat_et/y_test-1).abs()/len(y_hat_et))
mape_et

RuntimeWarning: divide by zero encountered in true_divide
UserWarning: Distributing <class 'numpy.ndarray'> object. This may take some time.

0

# Random Forest

In [23]:
rf =RandomForestRegressor(random_state=42,
                            max_features='auto',
                            n_estimators= 10,
                            max_depth=10,
                            criterion='mae',
                            n_jobs=-1)

In [ ]:
rf.fit(X_train, y_train)

In [ ]:
y_hat_rf = rf.predict(X_test)
print("mae for Random Forest on CV data: ",mean_absolute_error(y_test,y_hat_rf))
print("Determination coeficient for Random Forest on CV data: ",r2_score(y_test,y_hat_rf))

In [ ]:
mape_rf = sum(pd.DataFrame(y_test-y_hat_rf).abs()
                 .div(pd.DataFrame(y_test))
                 /len(y_hat_rf)
             )

mape_rf

# Assessment

In [ ]:
model_names={'Decision Tree':y_hat_dt,
            'Estra tree':y_hat_et,
            'Random Forest':y_hat_rf}

#sns.set_style('darkgrid')
sns.set(style="ticks", context="talk")
plt.style.use("dark_background")
plt.rcParams.update({'font.size': 15})
fig, ax = plt.subplots(figsize=(10, 6))
ax.plot([0, 1], [0, 1], linestyle='--', lw=2, color='y', label='Guess Randomly AUC = 0.5', alpha=.8)
for name in model_names:

    fpr, tpr, _ = Metrics.roc_curve(y_test, model_names[name])
    auc=Metrics.auc(fpr, tpr)
    
    # Display plot for ROC curve
    ax.plot(fpr,tpr,label=name+" AUC = %s " % str(auc))
    plt.legend(loc=4)
    plt.title("ROC Curves")
    plt.ylabel('True Positive Rate')
    plt.xlabel('False Positive Rate')
    
plt.show()

# Submission

In [ ]:
#y_hat = Dtree.predict(x_val)
#y_hat = et.predict(x_val)
#y_hat = rf.predict(x_val)
y_hat

In [ ]:
sub_normalized = pd.DataFrame(x_val)
sub_normalized[16] = y_hat
sub_normalized

In [ ]:
sub_desnorm = Estandar.inverse_transform(sub_normalized)
sub_desnorm = pd.DataFrame(sub_desnorm).iloc[:,-1]
sub_desnorm

#  Muestras

Depende de los sub que ya esten guardado en la carpeta, para no sobre escribirlos

In [ ]:
#n = 5
n

In [ ]:
sub_record = pd.DataFrame(id_cli.iloc[-281666:,])
sub_record.reset_index(inplace = True, drop =True)
sub_record.reset_index(inplace = True)
sub_gasto = pd.DataFrame(sub_desnorm)
sub_gasto.reset_index(inplace = True, drop =True)
sub_gasto.reset_index(inplace = True)
sub = pd.merge(sub_record,sub_gasto, on = 'index',how="left")
sub = sub.drop(columns=['index'], axis=0)
sub.columns = ['id_registro','gasto_familiar']
sub

In [ ]:
n = n+1
sub_name = "/mnt/workstation/data/Alomarrano/Sub/Treebase{}.csv".format(n)
sub_name

In [ ]:
np.mean(sub['gasto_familiar'])

In [ ]:
sub.to_csv(sub_name, index=False)