In [1]:
import numpy                 as np
import pandas                as pd
import matplotlib.pyplot     as plt
import seaborn               as sns

import statsmodels.api         as sm
import statsmodels.formula.api as smf
from sklearn.model_selection import train_test_split

In [2]:
pd.read_csv("/mnt/workstation/data/DataXmes_full_ok.csv")

,id_cli,mes,cupo_total_tc,cuota_de_vivienda,ind,mora_max,cant_moras_30_ult_12_meses,cant_moras_60_ult_12_meses,cant_moras_90_ult_12_meses,cant_mora_30_tdc_ult_3m_sf,...,pension_fopep,tiene_cred_hipo_1,tiene_cred_hipo_2,estado_civil_untag_gasto_familiar,nivel_academico_untag_gasto_familiar,profesion_untag_gasto_familiar,ocupacion_untag_gasto_familiar,ciudad_residencia_untag_gasto_familiar,rep_calif_cred_untag_gasto_familiar,genero_untag
0,3.0,1,6600000.0,0.0,3.281244e+06,0,0,0,0,0,...,0,0,0,CASADO,ESPECIALIZACION,ADMINISTRACION,Empleado,BELLO,A,F
1,3.0,2,6600000.0,0.0,3.155679e+06,0,0,0,0,0,...,0,0,0,CASADO,ESPECIALIZACION,ADMINISTRACION,Empleado,BELLO,G,F
2,3.0,3,6600000.0,0.0,2.775457e+06,0,0,0,0,0,...,0,0,0,CASADO,ESPECIALIZACION,ADMINISTRACION,Empleado,BELLO,A,F
3,3.0,4,6600000.0,0.0,2.123905e+06,0,0,0,0,0,...,0,0,0,CASADO,ESPECIALIZACION,ADMINISTRACION,Empleado,BELLO,E,F
4,3.0,5,6600000.0,0.0,2.601551e+06,0,0,0,0,0,...,0,0,0,CASADO,ESPECIALIZACION,ADMINISTRACION,Empleado,BELLO,A,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10397402,8704800.0,7,1700000.0,0.0,7.537400e+05,0,0,0,0,0,...,0,0,0,DIVORCIADO,BACHILLER,NINGUNA,Rentista de Capital,MANIZALES,A,F
10397403,8704800.0,8,1700000.0,0.0,5.397950e+05,0,0,0,0,0,...,0,0,0,DIVORCIADO,BACHILLER,NINGUNA,Rentista de Capital,MANIZALES,A,F
10397404,8704800.0,9,1700000.0,0.0,6.162950e+05,0,0,0,0,0,...,0,0,0,DIVORCIADO,BACHILLER,NINGUNA,Rentista de Capital,MANIZALES,A,F
10397405,8704800.0,10,1700000.0,0.0,5.230038e+05,0,0,0,0,0,...,0,0,0,DIVORCIADO,BACHILLER,NINGUNA,Rentista de Capital,MANIZALES,A,F
10397406,8704800.0,11,1700000.0,0.0,5.230038e+05,0,0,0,0,0,...,0,0,0,DIVORCIADO,BACHILLER,NINGUNA,Rentista de Capital,MANIZALES,A,F

In [4]:
pd.read_csv("/mnt/workstation/data/input_CategoricasArregladas.csv")

,Unnamed: 0,periodo,id_cli,fecha_nacimiento,edad,genero,estado_civil,nivel_academico,profesion,ocupacion,...,cuota_libranza_sf,cant_oblig_tot_sf,cant_cast_ult_12m_sr,ind,rep_calif_cred,pol_centr_ext,convenio_lib,ingreso_nomina,ingreso_segurida_social,gasto_familiar
0,0,201908.0,2089776.0,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,...,0.0,1.0,0.0,311715.5,C,0.0,NaN,1255032.0,NaN,232526.0
1,1,201909.0,2089776.0,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,...,0.0,1.0,0.0,311715.5,C,0.0,NaN,1255032.0,NaN,265900.0
2,2,201907.0,2089776.0,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,...,0.0,1.0,0.0,311306.0,C,0.0,NaN,1255032.0,NaN,243052.0
3,3,201903.0,2089776.0,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,...,0.0,1.0,0.0,311306.0,C,0.0,NaN,1172612.0,NaN,276014.0
4,4,201911.0,2089776.0,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,...,0.0,0.0,0.0,677516.0,C,0.0,NaN,1255032.0,NaN,418866.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19255243,19255243,201910.0,2090044.0,19670629.0,52.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,...,0.0,3.0,0.0,929800.0,C,0.0,NaN,NaN,NaN,25500.0
19255244,19255244,202002.0,2090044.0,19670629.0,53.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,...,0.0,3.0,0.0,41800.0,D,0.0,NaN,NaN,NaN,147900.0
19255245,19255245,201903.0,2090044.0,19670629.0,52.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,...,0.0,0.0,0.0,928500.0,B,0.0,NaN,NaN,NaN,777437.1
19255246,19255246,202001.0,2090044.0,19670629.0,52.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,...,0.0,3.0,0.0,41800.0,D,0.0,NaN,NaN,NaN,1131012.0
19255247,19255247,202004.0,2090044.0,19670629.0,53.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,...,0.0,3.0,0.0,879800.0,B,0.0,NaN,NaN,2650000.0,597462.0