## Requeriments

In [1]:
import numpy                 as np
#import pandas                as pd
import modin.pandas as pd
import matplotlib.pyplot     as plt
import seaborn               as sns
import missingno as msno
from zipfile import ZipFile as zf
import random
#import sklearn.metrics       as Metrics

from sklearn.impute import SimpleImputer

UserWarning: Modin Ray engine was started with 346 GB free space avaliable, if it is not enough for your application, please set environment variable MODIN_ON_RAY_PLASMA_DIR=/directory/without/space/limiting

## Loading ten variables datasets

In [2]:
#df = pd.read_csv("/mnt/workstation/data/input_Pesos_Dic_20.csv")#, sep= ",", names =header)
#topten = pd.read_csv("/mnt/workstation/data/Input_Topten.csv")
#middleten = pd.read_csv("/mnt/workstation/data/Aggregate_20_30.csv")
#lastten = pd.read_csv("/mnt/workstation/data/Aggregate_last_10_v2.csv")
labels = pd.read_csv("/mnt/workstation/data/labels.csv")
df_Xcli = pd.read_csv("/mnt/workstation/data/Alomarrano/test_input_CategoricasArregladas.csv")
df_Xcli

,Unnamed: 0,id_registro,periodo,id_cli,fecha_nacimiento,edad,genero,estado_civil,nivel_academico,profesion,...,saldo_prom3_tdc_mdo,cuota_tc_mdo,saldo_no_rot_mdo,cuota_libranza_sf,cant_oblig_tot_sf,cant_cast_ult_12m_sr,ind,rep_calif_cred,pol_centr_ext,gasto_familiar
0,0,2089776#201908,201908,2089776,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,...,0.000000e+00,0.0,903000.0,0.0,1.0,0.0,3.117155e+05,C,0.0,232526.0
1,1,2089776#201909,201909,2089776,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,...,0.000000e+00,0.0,903000.0,0.0,1.0,0.0,3.117155e+05,C,0.0,265900.0
2,2,2089776#201907,201907,2089776,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,...,0.000000e+00,0.0,903000.0,0.0,1.0,0.0,3.113060e+05,C,0.0,243052.0
3,3,2089776#201903,201903,2089776,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,...,0.000000e+00,0.0,2433000.0,0.0,1.0,0.0,3.113060e+05,C,0.0,276014.0
4,4,2089776#201911,201911,2089776,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,...,0.000000e+00,0.0,0.0,0.0,0.0,0.0,6.775160e+05,C,0.0,418866.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9527188,9527188,8596193#202011,202011,8596193,19740415.0,47.0,F,SOLTERO,UNIVERSITARIO,OTROS,...,0.000000e+00,0.0,0.0,0.0,2.0,0.0,2.101424e+06,A,0.0,NaN
9527189,9527189,8616083#202011,202011,8616083,19850620.0,35.0,M,NaN,NaN,NaN,...,8.286667e+06,237000.0,99000.0,0.0,12.0,0.0,1.170550e+07,C,0.0,NaN
9527190,9527190,8670207#202011,202011,8670207,19740316.0,47.0,M,DIVORCIADO,NaN,NaN,...,3.091700e+07,10350000.0,300000.0,0.0,17.0,0.0,-4.154790e+07,D,0.0,NaN
9527191,9527191,8677655#202011,202011,8677655,19780722.0,42.0,F,CASADO,ESPECIALIZACION,ECONOMIA,...,3.760867e+07,1953000.0,184811000.0,0.0,18.0,0.0,5.313457e+06,B,0.0,NaN
9527192,9527192,8692808#202011,202011,8692808,19801025.0,40.0,F,NaN,UNIVERSITARIO,OTROS,...,6.008000e+07,1141000.0,25769000.0,0.0,14.0,0.0,-2.172737e+06,E,0.0,NaN

topten.columns

topten = topten.drop(columns=['departamento_residencia',
                                    'ciudad_laboral',
                                    'departamento_laboral',
                                ], axis=0)

middleten.columns

middleten = middleten.drop(columns=['periodo',
                                    'ctas_activas',
                                    'ctas_embargadas',
                                    'saldo_prom3_tdc_mdo',
                                    'cupo_tc_mdo'
                                    ], axis=0)

lastten.columns

## Merging

topten.shape

df_Xcli = topten.merge(middleten.iloc[:,1:], on="id_cli", how='left')
df_Xcli.shape

df_Xcli = df_Xcli.merge(lastten.iloc[:,1:], on="id_cli", how='left')
df_Xcli.shape

## Cleaning

In [3]:
df_Xcli['mora_max'] = df_Xcli['mora_max'].replace(np.nan,0)
df_Xcli['cant_moras_30_ult_12_meses'] = df_Xcli['cant_moras_30_ult_12_meses'].replace(np.nan,0)
df_Xcli['cant_moras_60_ult_12_meses'] = df_Xcli['cant_moras_60_ult_12_meses'].replace(np.nan,0)
df_Xcli['cant_moras_90_ult_12_meses'] = df_Xcli['cant_moras_90_ult_12_meses'].replace(np.nan,0)
df_Xcli['cant_mora_30_tdc_ult_3m_sf'] = df_Xcli['cant_mora_30_tdc_ult_3m_sf'].replace(np.nan,0)
df_Xcli['cant_mora_30_consum_ult_3m_sf'] = df_Xcli['cant_mora_30_consum_ult_3m_sf'].replace(np.nan,0)
df_Xcli['cant_oblig_tot_sf'] = df_Xcli['cant_oblig_tot_sf'].replace(np.nan,0)
df_Xcli['cant_cast_ult_12m_sr'] = df_Xcli['cant_cast_ult_12m_sr'].replace(np.nan,0)

In [4]:
features = pd.DataFrame(df_Xcli.dtypes)
features.columns = ['type']
features_f = features[features['type'] == 'float64'].index
features_o = features[features['type'] == 'object'].index
features_i = features[features['type'] == 'int64'].index
features_b = features[features['type'] == 'bool'].index

UserWarning: Distributing <class 'pandas.core.series.Series'> object. This may take some time.

In [5]:
for i in features_b:
    df_Xcli[i] = df_Xcli[i].astype('int')

In [6]:
features = pd.DataFrame(df_Xcli.dtypes)
features.columns = ['type']
features_f = features[features['type'] == 'float64'].index
features_o = features[features['type'] == 'object'].index
features_i = features[features['type'] == 'int64'].index
features_b = features[features['type'] == 'bool'].index

UserWarning: Distributing <class 'pandas.core.series.Series'> object. This may take some time.

In [7]:
df_Xcli[features_o].describe(include='all').T

                     count   unique             top     freq
id_registro        9527193  9527193  2101764#202008        1
genero             9527193        2               F  4941539
estado_civil       9506222        5         SOLTERO  4609348
nivel_academico    9480866        6   UNIVERSITARIO  5711314
profesion          9477607       87           OTROS  3561488
ocupacion          9526868       10        Empleado  7158283
ciudad_residencia  9526350     1327     BOGOTA D.C.  2634338
rep_calif_cred     9514617        8               A  2693172

In [8]:
df_Xcli[features_f].describe().T

,count,mean,std,min,25%,50%,75%,max
fecha_nacimiento,9527193.0,1.977122e+07,1.296593e+05,1.900061e+07,1.969082e+07,1.980092e+07,19870707.00,2.020091e+07
edad,9527193.0,4.236348e+01,1.297790e+01,0.000000e+00,3.200000e+01,3.900000e+01,50.00,1.190000e+02
ult_actual,9527193.0,2.019047e+07,1.186793e+04,0.000000e+00,2.019011e+07,2.019071e+07,20200103.00,2.020102e+07
categoria,9523869.0,1.493677e+00,6.700234e-01,0.000000e+00,1.000000e+00,1.000000e+00,2.00,5.000000e+00
codigo_ciiu,9527193.0,3.876112e+02,1.634031e+03,0.000000e+00,1.000000e+01,1.000000e+01,10.00,9.900000e+03
mora_max,9527193.0,3.638598e+00,1.987645e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.00,3.367000e+03
cant_moras_30_ult_12_meses,9527193.0,5.051939e-02,4.727955e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.00,1.200000e+01
cant_moras_60_ult_12_meses,9527193.0,2.555107e-02,3.566778e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.00,1.200000e+01
cant_moras_90_ult_12_meses,9527193.0,1.676884e-02,2.923579e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.00,1.200000e+01
cupo_total_tc,9527193.0,6.289413e+06,1.312793e+07,0.000000e+00,0.000000e+00,0.000000e+00,7700000.00,9.662000e+08
cuota_tc_bancolombia,9527193.0,2.682018e+05,6.997905e+05,0.000000e+00,0.000000e+00,0.000000e+00,296000.00,1.187058e+08
nro_tot_cuentas,9527193.0,1.104576e+00,4.594948e-01,0.000000e+00,1.000000e+00,1.000000e+00,1.00,3.600000e+01
ctas_activas,9527193.0,1.034584e+00,4.096437e-01,0.000000e+00,1.000000e+00,1.000000e+00,1.00,3.600000e+01
ctas_embargadas,9527193.0,3.053365e-03,5.789105e-02,0.000000e+00,0.000000e+00,0.000000e+00,0.00,4.000000e+00
mediana_nom3,9527193.0,1.432649e+06,2.925975e+06,0.000000e+00,0.000000e+00,0.000000e+00,2124801.00,5.826296e+08
mediana_pen3,9527193.0,2.178064e+05,1.099234e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.00,8.252953e+08
ingreso_nompen,9527193.0,1.650455e+06,3.049736e+06,0.000000e+00,0.000000e+00,0.000000e+00,2446286.00,8.252953e+08
ingreso_final,9527193.0,4.790094e+06,7.579053e+06,0.000000e+00,1.902000e+06,3.116200e+06,5300000.00,6.678545e+09
cant_mora_30_tdc_ult_3m_sf,9527193.0,2.145123e-02,1.870863e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.00,1.100000e+01
cant_mora_30_consum_ult_3m_sf,9527193.0,1.014636e-01,7.471795e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.00,1.500000e+02
cuota_de_vivienda,9527193.0,1.611561e+05,1.143519e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.00,5.723090e+08
cuota_de_consumo,9527193.0,8.978521e+05,5.424928e+06,-4.110399e+08,0.000000e+00,9.700000e+04,786000.00,2.460707e+09
cuota_rotativos,9527193.0,4.496823e+04,1.317855e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.00,1.008301e+09
cuota_tarjeta_de_credito,9527193.0,5.786361e+05,2.841368e+06,0.000000e+00,0.000000e+00,2.440000e+05,629000.00,4.396925e+09
cuota_de_sector_solidario,9527193.0,7.959000e+04,4.518026e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.00,5.146613e+09
cuota_sector_real_comercio,9527193.0,4.348420e+05,3.512795e+07,0.000000e+00,0.000000e+00,0.000000e+00,46000.00,4.995000e+10
cupo_tc_mdo,9527193.0,1.114982e+07,3.570418e+07,0.000000e+00,0.000000e+00,3.080000e+06,12152000.00,5.002155e+10
saldo_prom3_tdc_mdo,9527193.0,3.128938e+06,3.565709e+07,0.000000e+00,0.000000e+00,1.466667e+04,2664000.00,3.900324e+10
cuota_tc_mdo,9527193.0,6.412010e+05,6.140603e+06,0.000000e+00,0.000000e+00,0.000000e+00,405000.00,9.770945e+09
saldo_no_rot_mdo,9527193.0,3.036021e+07,9.685447e+07,0.000000e+00,0.000000e+00,1.782000e+06,28725000.00,4.661178e+10
cuota_libranza_sf,9527193.0,1.076285e+05,1.251617e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.00,3.001250e+08
cant_oblig_tot_sf,9527193.0,3.774108e+00,3.750180e+00,0.000000e+00,1.000000e+00,3.000000e+00,5.00,1.390000e+02
cant_cast_ult_12m_sr,9527193.0,1.797572e-01,1.796506e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.00,5.280000e+02
ind,9527176.0,5.798801e+05,4.108461e+07,-4.994239e+10,3.135188e+04,7.668999e+05,1941601.25,5.586829e+08
pol_centr_ext,9504554.0,1.256986e+00,3.072674e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.00,2.400000e+01
gasto_familiar,9245527.0,7.777227e+05,1.534329e+06,-9.300000e+06,1.869295e+05,4.321526e+05,895900.00,7.190166e+08

sns.set_style('darkgrid')
plt.rcParams.update({'font.size':15})
plt.figure(figsize=(25,10))
sns.heatmap(df_Xcli.isnull(), cbar=False)
plt.title("Top Ten Variables")
plt.xlabel('Variables')
plt.ylabel('rows')

## Dismiss Variables

In [9]:
Nulos = 100*df_Xcli.isnull().sum()/df_Xcli.shape[0]
Nulos = pd.DataFrame(Nulos)
variables_nulas = Nulos[Nulos[0]>31]
variables_nulas

UserWarning: `DataFrame._repr_html_` for empty DataFrame defaulting to pandas implementation.
To request implementation, send an email to feature_requests@modin.org.

Empty DataFrame
Columns: [0]
Index: []

In [10]:
df_Xcli = df_Xcli.drop(list(variables_nulas.index), axis=1)
df_Xcli.shape

(9527193, 57)

In [11]:
features = pd.DataFrame(df_Xcli.dtypes)
features.columns = ['type']
features_f = features[features['type'] == 'float64'].index
features_o = features[features['type'] == 'object'].index
features_i = features[features['type'] == 'int64'].index
features_b = features[features['type'] == 'bool'].index

UserWarning: Distributing <class 'pandas.core.series.Series'> object. This may take some time.

## To complete variables

In [12]:
Nulos = 100*df_Xcli.isnull().sum()/df_Xcli.shape[0]
Nulos = pd.DataFrame(Nulos)
Nulos[Nulos[0]!=0]

                          0
estado_civil       0.220117
nivel_academico    0.486261
profesion          0.520468
ocupacion          0.003411
categoria          0.034890
ciudad_residencia  0.008848
ind                0.000178
rep_calif_cred     0.132001
pol_centr_ext      0.237625
gasto_familiar     2.956443

## Labeling

In [13]:
labels

        Categoria      Particip        Variable  Label        Var_mean
0          CASADO  9.678370e+05    estado_civil      5  gasto_familiar
1     UNION LIBRE  8.678049e+05    estado_civil      4  gasto_familiar
2      DIVORCIADO  7.881397e+05    estado_civil      3  gasto_familiar
3           VIUDO  6.969590e+05    estado_civil      2  gasto_familiar
4         SOLTERO  6.912766e+05    estado_civil      1  gasto_familiar
...           ...           ...             ...    ...             ...
9109            D  1.101550e+06  rep_calif_cred      5  ingreso_nompen
9110            F  1.099701e+06  rep_calif_cred      4  ingreso_nompen
9111            G  1.099355e+06  rep_calif_cred      3  ingreso_nompen
9112            H  1.095841e+06  rep_calif_cred      2  ingreso_nompen
9113            E  1.055179e+06  rep_calif_cred      1  ingreso_nompen

[9114 rows x 5 columns]

In [17]:
features_o[2:]

Index(['estado_civil', 'nivel_academico', 'profesion', 'ocupacion',
       'ciudad_residencia', 'rep_calif_cred'],
      dtype='object')

In [18]:
for j in ['gasto_familiar']:#,'ind','ingreso_nompen']:
    for i in features_o[2:]:
        tag = labels[labels['Var_mean'] ==j]
        tmp = pd.pivot_table(tag[tag['Categoria'].isin(df_Xcli[i].unique())][['Categoria','Label']],
                       values='Label',
                       columns='Categoria').round()
        tmp = tmp.T.to_dict()['Label']
        nueva_variable = i+'_tag_'+j
        df_Xcli[nueva_variable] = df_Xcli[i].map(tmp)

UserWarning: `pivot_table` implementation has mismatches with pandas:
Order of columns could be different from pandas.
UserWarning: `DataFrame.to_dict` defaulting to pandas implementation.
UserWarning: `DataFrame.to_dict` defaulting to pandas implementation.
UserWarning: `DataFrame.to_dict` defaulting to pandas implementation.
UserWarning: `DataFrame.to_dict` defaulting to pandas implementation.
UserWarning: `DataFrame.to_dict` defaulting to pandas implementation.
UserWarning: `DataFrame.to_dict` defaulting to pandas implementation.

In [19]:
conditions = [
    (df_Xcli['genero'] == 'M'),
    (df_Xcli['genero'] == 'F')
]
values = [2,1]
df_Xcli['genero_tag'] = np.select(conditions, values)

In [20]:
df_Xcli.columns

Index(['Unnamed: 0', 'id_registro', 'periodo', 'id_cli', 'fecha_nacimiento',
       'edad', 'genero', 'estado_civil', 'nivel_academico', 'profesion',
       'ocupacion', 'ult_actual', 'categoria', 'codigo_ciiu',
       'ind_mora_vigente', 'cartera_castigada', 'ciudad_residencia',
       'mora_max', 'cant_moras_30_ult_12_meses', 'cant_moras_60_ult_12_meses',
       'cant_moras_90_ult_12_meses', 'cupo_total_tc', 'tenencia_tc',
       'cuota_tc_bancolombia', 'tiene_consumo', 'tiene_crediagil',
       'nro_tot_cuentas', 'ctas_activas', 'tiene_ctas_activas',
       'ctas_embargadas', 'tiene_ctas_embargadas', 'pension_fopep',
       'tiene_cred_hipo_1', 'tiene_cred_hipo_2', 'mediana_nom3',
       'mediana_pen3', 'ingreso_nompen', 'ingreso_final',
       'cant_mora_30_tdc_ult_3m_sf', 'cant_mora_30_consum_ult_3m_sf',
       'cuota_de_vivienda', 'cuota_de_consumo', 'cuota_rotativos',
       'cuota_tarjeta_de_credito', 'cuota_de_sector_solidario',
       'cuota_sector_real_comercio', 'cupo_tc_mdo', 'saldo_prom3_tdc_mdo',
       'cuota_tc_mdo', 'saldo_no_rot_mdo', 'cuota_libranza_sf',
       'cant_oblig_tot_sf', 'cant_cast_ult_12m_sr', 'ind', 'rep_calif_cred',
       'pol_centr_ext', 'gasto_familiar', 'estado_civil_tag_gasto_familiar',
       'nivel_academico_tag_gasto_familiar', 'profesion_tag_gasto_familiar',
       'ocupacion_tag_gasto_familiar', 'ciudad_residencia_tag_gasto_familiar',
       'rep_calif_cred_tag_gasto_familiar', 'genero_tag'],
      dtype='object')

# Numeric final data to complete

In [21]:
features = pd.DataFrame(df_Xcli.dtypes)
features.columns = ['type']
features_f = features[features['type'] == 'float64'].index
features_o = features[features['type'] == 'object'].index
features_i = features[features['type'] == 'int64'].index
features_b = features[features['type'] == 'bool'].index

UserWarning: Distributing <class 'pandas.core.series.Series'> object. This may take some time.

In [22]:
df_Xcli = df_Xcli.drop(features_o, axis=1)
df_Xcli.shape

(9527193, 56)

In [23]:
df_Xcli.describe().T.head(60)

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,9527193.0,4.763596e+06,2.750264e+06,0.000000e+00,2.381798e+06,4.763596e+06,7145394.00,9.527192e+06
periodo,9527193.0,2.019586e+05,4.966026e+01,2.019020e+05,2.019070e+05,2.020010e+05,202007.00,2.020110e+05
id_cli,9527193.0,2.985499e+06,2.532554e+06,3.000000e+00,1.082598e+06,2.255384e+06,3940060.00,8.704801e+06
fecha_nacimiento,9527193.0,1.977122e+07,1.296593e+05,1.900061e+07,1.969082e+07,1.980092e+07,19870707.00,2.020091e+07
edad,9527193.0,4.236348e+01,1.297790e+01,0.000000e+00,3.200000e+01,3.900000e+01,50.00,1.190000e+02
ult_actual,9527193.0,2.019047e+07,1.186793e+04,0.000000e+00,2.019011e+07,2.019071e+07,20200103.00,2.020102e+07
categoria,9523869.0,1.493677e+00,6.700234e-01,0.000000e+00,1.000000e+00,1.000000e+00,2.00,5.000000e+00
codigo_ciiu,9527193.0,3.876112e+02,1.634031e+03,0.000000e+00,1.000000e+01,1.000000e+01,10.00,9.900000e+03
ind_mora_vigente,9527193.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.00,1.000000e+00
cartera_castigada,9527193.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.00,1.000000e+00
mora_max,9527193.0,3.638598e+00,1.987645e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.00,3.367000e+03
cant_moras_30_ult_12_meses,9527193.0,5.051939e-02,4.727955e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.00,1.200000e+01
cant_moras_60_ult_12_meses,9527193.0,2.555107e-02,3.566778e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.00,1.200000e+01
cant_moras_90_ult_12_meses,9527193.0,1.676884e-02,2.923579e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.00,1.200000e+01
cupo_total_tc,9527193.0,6.289413e+06,1.312793e+07,0.000000e+00,0.000000e+00,0.000000e+00,7700000.00,9.662000e+08
tenencia_tc,9527193.0,4.845946e-01,4.997626e-01,0.000000e+00,0.000000e+00,0.000000e+00,1.00,1.000000e+00
cuota_tc_bancolombia,9527193.0,2.682018e+05,6.997905e+05,0.000000e+00,0.000000e+00,0.000000e+00,296000.00,1.187058e+08
tiene_consumo,9527193.0,1.847099e-01,3.880621e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.00,1.000000e+00
tiene_crediagil,9527193.0,2.012525e-01,4.009363e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.00,1.000000e+00
nro_tot_cuentas,9527193.0,1.104576e+00,4.594948e-01,0.000000e+00,1.000000e+00,1.000000e+00,1.00,3.600000e+01
ctas_activas,9527193.0,1.034584e+00,4.096437e-01,0.000000e+00,1.000000e+00,1.000000e+00,1.00,3.600000e+01
tiene_ctas_activas,9527193.0,9.419072e-01,2.339188e-01,0.000000e+00,1.000000e+00,1.000000e+00,1.00,1.000000e+00
ctas_embargadas,9527193.0,3.053365e-03,5.789105e-02,0.000000e+00,0.000000e+00,0.000000e+00,0.00,4.000000e+00
tiene_ctas_embargadas,9527193.0,3.393350e-02,1.810581e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.00,1.000000e+00
pension_fopep,9527193.0,5.913263e-02,2.358728e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.00,1.000000e+00
tiene_cred_hipo_1,9527193.0,3.135939e-02,1.742871e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.00,1.000000e+00
tiene_cred_hipo_2,9527193.0,3.135939e-02,1.742871e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.00,1.000000e+00
mediana_nom3,9527193.0,1.432649e+06,2.925975e+06,0.000000e+00,0.000000e+00,0.000000e+00,2124801.00,5.826296e+08
mediana_pen3,9527193.0,2.178064e+05,1.099234e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.00,8.252953e+08
ingreso_nompen,9527193.0,1.650455e+06,3.049736e+06,0.000000e+00,0.000000e+00,0.000000e+00,2446286.00,8.252953e+08
ingreso_final,9527193.0,4.790094e+06,7.579053e+06,0.000000e+00,1.902000e+06,3.116200e+06,5300000.00,6.678545e+09
cant_mora_30_tdc_ult_3m_sf,9527193.0,2.145123e-02,1.870863e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.00,1.100000e+01
cant_mora_30_consum_ult_3m_sf,9527193.0,1.014636e-01,7.471795e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.00,1.500000e+02
cuota_de_vivienda,9527193.0,1.611561e+05,1.143519e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.00,5.723090e+08
cuota_de_consumo,9527193.0,8.978521e+05,5.424928e+06,-4.110399e+08,0.000000e+00,9.700000e+04,786000.00,2.460707e+09
cuota_rotativos,9527193.0,4.496823e+04,1.317855e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.00,1.008301e+09
cuota_tarjeta_de_credito,9527193.0,5.786361e+05,2.841368e+06,0.000000e+00,0.000000e+00,2.440000e+05,629000.00,4.396925e+09
cuota_de_sector_solidario,9527193.0,7.959000e+04,4.518026e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.00,5.146613e+09
cuota_sector_real_comercio,9527193.0,4.348420e+05,3.512795e+07,0.000000e+00,0.000000e+00,0.000000e+00,46000.00,4.995000e+10
cupo_tc_mdo,9527193.0,1.114982e+07,3.570418e+07,0.000000e+00,0.000000e+00,3.080000e+06,12152000.00,5.002155e+10
saldo_prom3_tdc_mdo,9527193.0,3.128938e+06,3.565709e+07,0.000000e+00,0.000000e+00,1.466667e+04,2664000.00,3.900324e+10
cuota_tc_mdo,9527193.0,6.412010e+05,6.140603e+06,0.000000e+00,0.000000e+00,0.000000e+00,405000.00,9.770945e+09
saldo_no_rot_mdo,9527193.0,3.036021e+07,9.685447e+07,0.000000e+00,0.000000e+00,1.782000e+06,28725000.00,4.661178e+10
cuota_libranza_sf,9527193.0,1.076285e+05,1.251617e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.00,3.001250e+08
cant_oblig_tot_sf,9527193.0,3.774108e+00,3.750180e+00,0.000000e+00,1.000000e+00,3.000000e+00,5.00,1.390000e+02
cant_cast_ult_12m_sr,9527193.0,1.797572e-01,1.796506e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.00,5.280000e+02
ind,9527176.0,5.798801e+05,4.108461e+07,-4.994239e+10,3.135188e+04,7.668999e+05,1941601.25,5.586829e+08
pol_centr_ext,9504554.0,1.256986e+00,3.072674e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.00,2.400000e+01
gasto_familiar,9245527.0,7.777227e+05,1.534329e+06,-9.300000e+06,1.869295e+05,4.321526e+05,895900.00,7.190166e+08
estado_civil_tag_gasto_familiar,9506222.0,2.808858e+00,1.841928e+00,1.000000e+00,1.000000e+00,2.000000e+00,5.00,5.000000e+00
nivel_academico_tag_gasto_familiar,9480866.0,2.900080e+00,1.209483e+00,1.000000e+00,3.000000e+00,3.000000e+00,3.00,6.000000e+00
profesion_tag_gasto_familiar,9476289.0,4.567317e+01,1.648106e+01,1.000000e+00,4.400000e+01,4.400000e+01,55.00,7.900000e+01
ocupacion_tag_gasto_familiar,9526868.0,5.798126e+00,1.576456e+00,1.000000e+00,6.000000e+00,6.000000e+00,6.00,1.000000e+01
ciudad_residencia_tag_gasto_familiar,9526301.0,7.706050e+02,2.368676e+02,2.000000e+00,4.280000e+02,8.920000e+02,928.00,1.502000e+03
rep_calif_cred_tag_gasto_familiar,9514617.0,5.218515e+00,2.506504e+00,1.000000e+00,3.000000e+00,5.000000e+00,8.00,8.000000e+00
genero_tag,9527193.0,1.481323e+00,4.996511e-01,1.000000e+00,1.000000e+00,1.000000e+00,2.00,2.000000e+00

In [25]:
df_Xcli = df_Xcli.drop(columns=[#'genero_tag_gasto_familiar',
                                    'Unnamed: 0',     
                                ], axis=0)

df_Xcli

,periodo,id_cli,fecha_nacimiento,edad,ult_actual,categoria,codigo_ciiu,ind_mora_vigente,cartera_castigada,mora_max,...,ind,pol_centr_ext,gasto_familiar,estado_civil_tag_gasto_familiar,nivel_academico_tag_gasto_familiar,profesion_tag_gasto_familiar,ocupacion_tag_gasto_familiar,ciudad_residencia_tag_gasto_familiar,rep_calif_cred_tag_gasto_familiar,genero_tag
0,201908,2089776,19840630.0,35.0,20180526.0,1.0,10.0,1,1,0.0,...,3.117155e+05,0.0,232526.0,3.0,1.0,7.0,6.0,928.0,5.0,2
1,201909,2089776,19840630.0,35.0,20180526.0,1.0,10.0,1,1,0.0,...,3.117155e+05,0.0,265900.0,3.0,1.0,7.0,6.0,928.0,5.0,2
2,201907,2089776,19840630.0,35.0,20180526.0,1.0,10.0,1,1,0.0,...,3.113060e+05,0.0,243052.0,3.0,1.0,7.0,6.0,928.0,5.0,2
3,201903,2089776,19840630.0,35.0,20180526.0,1.0,10.0,1,1,0.0,...,3.113060e+05,0.0,276014.0,3.0,1.0,7.0,6.0,928.0,5.0,2
4,201911,2089776,19840630.0,35.0,20180526.0,1.0,10.0,1,1,0.0,...,6.775160e+05,0.0,418866.0,3.0,1.0,7.0,6.0,928.0,5.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9527188,202011,8596193,19740415.0,47.0,20201010.0,2.0,10.0,1,1,0.0,...,2.101424e+06,0.0,NaN,1.0,3.0,44.0,6.0,892.0,8.0,1
9527189,202011,8616083,19850620.0,35.0,20201003.0,3.0,90.0,1,1,28.0,...,1.170550e+07,0.0,NaN,NaN,NaN,NaN,6.0,428.0,5.0,2
9527190,202011,8670207,19740316.0,47.0,20200616.0,3.0,10.0,1,1,23.0,...,-4.154790e+07,0.0,NaN,3.0,NaN,NaN,8.0,1002.0,3.0,2
9527191,202011,8677655,19780722.0,42.0,20200423.0,2.0,10.0,1,1,0.0,...,5.313457e+06,0.0,NaN,5.0,5.0,64.0,6.0,892.0,7.0,1
9527192,202011,8692808,19801025.0,40.0,20200221.0,2.0,10.0,1,1,20.0,...,-2.172737e+06,0.0,NaN,NaN,3.0,44.0,6.0,428.0,4.0,1

In [26]:
df_Xcli.to_csv("/mnt/workstation/data/Alomarrano/ToComplete_littlepig_con_PPCA.csv", index=False)

UserWarning: `DataFrame.to_csv` defaulting to pandas implementation.
UserWarning: Distributing <class 'pandas.core.frame.DataFrame'> object. This may take some time.