# Requeriments

In [1]:
import numpy                 as np
#import pandas                as pd
import modin.pandas as pd
import matplotlib.pyplot     as plt
import seaborn               as sns
import missingno as msno
from zipfile import ZipFile
import random
#import sklearn.metrics       as Metrics

UserWarning: Modin Ray engine was started with 358 GB free space avaliable, if it is not enough for your application, please set environment variable MODIN_ON_RAY_PLASMA_DIR=/directory/without/space/limiting

## Loading data (Toevaluate_data)

In [2]:
zip_file = ZipFile('/mnt/workstation/data/dt2020_base_evaluar.zip')
Toevaluate = pd.read_csv(zip_file.open("dt2020_base_evaluar.csv"), sep= ",")
Toevaluate

UserWarning: Parameters provided defaulting to pandas implementation.
To request implementation, send an email to feature_requests@modin.org.

,id_registro,periodo,id_cli,fecha_nacimiento,edad,genero,estado_civil,nivel_academico,profesion,ocupacion,...,saldo_no_rot_mdo,cuota_libranza_sf,cant_oblig_tot_sf,cant_cast_ult_12m_sr,ind,rep_calif_cred,pol_centr_ext,convenio_lib,ingreso_nomina,ingreso_segurida_social
0,4055#201902,201902,4055,19721103,46.203970,M,CASADO,UNIVERSITARIO,DISEÃ‘O Y PUBLICIDAD,Empleado,...,127148000.0,1797000.0,7.0,0.0,2.060457e+06,A,0.0,74339,2734528.0,NaN
1,12598#201902,201902,12598,19750930,43.299110,M,SOLTERO,UNIVERSITARIO,ADMINISTRACION,Empleado,...,87661000.0,0.0,5.0,66.0,-7.187437e+07,H,15.0,NaN,2291070.0,NaN
2,23697#201902,201902,23697,19740130,44.963723,M,CASADO,UNIVERSITARIO,OTROS,Empleado,...,58967000.0,0.0,3.0,0.0,-1.448765e+06,A,0.0,NaN,NaN,NaN
3,23768#201902,201902,23768,19610620,57.577002,M,NO INFORMA,BACHILLER,NaN,Empleado,...,0.0,0.0,0.0,0.0,2.208260e+06,G,0.0,NaN,NaN,NaN
4,7174#201902,201902,7174,19661010,52.271047,F,DIVORCIADO,UNIVERSITARIO,MEDICINA,Empleado,...,22746000.0,0.0,7.0,0.0,3.212636e+06,A,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281661,8596193#202011,202011,8596193,19740415,46.516085,F,SOLTERO,UNIVERSITARIO,OTROS,Empleado,...,0.0,0.0,2.0,0.0,2.101424e+06,A,0.0,70721,2281362.5,3876343.0
281662,8616083#202011,202011,8616083,19850620,35.334702,M,NO INFORMA,NO INFORMA,NaN,Socio Empleado - Socio,...,99000.0,0.0,12.0,0.0,1.170550e+07,C,0.0,NaN,14510896.0,NaN
281663,8670207#202011,202011,8670207,19740316,46.598220,M,DIVORCIADO,NO INFORMA,NaN,Profesional Independiente,...,300000.0,0.0,17.0,0.0,-4.154790e+07,D,0.0,NaN,NaN,NaN
281664,8677655#202011,202011,8677655,19780722,42.247775,F,CASADO,ESPECIALIZACION,ECONOMIA,Empleado,...,184811000.0,0.0,18.0,0.0,5.313457e+06,B,0.0,70077,11401109.0,14481371.0
281665,8692808#202011,202011,8692808,19801025,39.986311,F,NO INFORMA,UNIVERSITARIO,OTROS,Empleado,...,25769000.0,0.0,14.0,0.0,-2.172737e+06,E,0.0,NaN,NaN,NaN

## Loading data (Totrain_data)

In [3]:
Totrain = pd.read_csv("/mnt/workstation/data/input_CategoricasArregladas.csv")#, sep= ",", names =header)
Totrain = Totrain.iloc[:,1:]
Totrain

,periodo,id_cli,fecha_nacimiento,edad,genero,estado_civil,nivel_academico,profesion,ocupacion,tipo_vivienda,...,cuota_libranza_sf,cant_oblig_tot_sf,cant_cast_ult_12m_sr,ind,rep_calif_cred,pol_centr_ext,convenio_lib,ingreso_nomina,ingreso_segurida_social,gasto_familiar
0,201908.0,2089776.0,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,ALQUILADA,...,0.0,1.0,0.0,311715.5,C,0.0,NaN,1255032.0,NaN,232526.0
1,201909.0,2089776.0,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,ALQUILADA,...,0.0,1.0,0.0,311715.5,C,0.0,NaN,1255032.0,NaN,265900.0
2,201907.0,2089776.0,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,ALQUILADA,...,0.0,1.0,0.0,311306.0,C,0.0,NaN,1255032.0,NaN,243052.0
3,201903.0,2089776.0,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,ALQUILADA,...,0.0,1.0,0.0,311306.0,C,0.0,NaN,1172612.0,NaN,276014.0
4,201911.0,2089776.0,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,ALQUILADA,...,0.0,0.0,0.0,677516.0,C,0.0,NaN,1255032.0,NaN,418866.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19255243,201910.0,2090044.0,19670629.0,52.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,NaN,...,0.0,3.0,0.0,929800.0,C,0.0,NaN,NaN,NaN,25500.0
19255244,202002.0,2090044.0,19670629.0,53.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,NaN,...,0.0,3.0,0.0,41800.0,D,0.0,NaN,NaN,NaN,147900.0
19255245,201903.0,2090044.0,19670629.0,52.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,NaN,...,0.0,0.0,0.0,928500.0,B,0.0,NaN,NaN,NaN,777437.1
19255246,202001.0,2090044.0,19670629.0,52.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,NaN,...,0.0,3.0,0.0,41800.0,D,0.0,NaN,NaN,NaN,1131012.0
19255247,202004.0,2090044.0,19670629.0,53.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,NaN,...,0.0,3.0,0.0,879800.0,B,0.0,NaN,NaN,2650000.0,597462.0

## Describe

In [4]:
features = pd.DataFrame(Totrain.dtypes)
features.columns = ['type']
features_f = features[features['type'] == 'float64'].index
features_o = features[features['type'] == 'object'].index
features_i = features[features['type'] == 'int64'].index
features_b = features[features['type'] == 'bool'].index

In [5]:
Toevaluate[features_o].describe(include = 'all').T

,count,unique,top,freq
genero,281666,2,M,147201
estado_civil,281148,7,SOLTERO,117802
nivel_academico,281666,8,UNIVERSITARIO,135682
profesion,232080,87,OTROS,89039
ocupacion,281650,17,Empleado,190779
tipo_vivienda,190599,4,FAMILIAR,85554
ciudad_residencia,280823,995,BOGOTA D.C. ...,77251
departamento_residencia,281554,38,ANTIOQUIA ...,107934
ciudad_laboral,232616,997,BOGOTA D.C. ...,69330
departamento_laboral,230738,38,ANTIOQUIA ...,86288
rechazo_credito,1632,4,RECHAZO BIZAGI,1299
cat_ingreso,140931,3,NOM,122425
rep_calif_cred,281666,9,A,100530

In [6]:
Toevaluate.describe().T

,count,mean,std,min,25%,50%,75%,max
periodo,281666.0,2.019589e+05,4.975518e+01,2.019020e+05,2.019070e+05,2.020010e+05,2.020070e+05,2.020110e+05
id_cli,281666.0,3.155830e+06,2.689026e+06,4.200000e+01,1.055391e+06,2.262922e+06,4.458678e+06,8.704801e+06
fecha_nacimiento,281666.0,1.976075e+07,1.303433e+05,1.920010e+07,1.968042e+07,1.979050e+07,1.986053e+07,2.001010e+07
edad,281666.0,4.341777e+01,1.304668e+01,1.845585e+01,3.349213e+01,4.032033e+01,5.162218e+01,9.963860e+01
ult_actual,281666.0,2.019094e+07,7.346158e+03,2.017013e+07,2.019013e+07,2.019072e+07,2.020012e+07,2.020102e+07
categoria,278342.0,1.799861e+00,8.780026e-01,1.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,5.000000e+00
codigo_ciiu,281666.0,5.616932e+02,1.894647e+03,0.000000e+00,1.000000e+01,1.000000e+01,1.000000e+01,9.900000e+03
mora_max,219245.0,2.800547e+00,1.594567e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.120000e+03
cant_moras_30_ult_12_meses,219245.0,2.699263e-02,3.466272e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.200000e+01
cant_moras_60_ult_12_meses,219245.0,1.254305e-02,2.580331e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.200000e+01
cant_moras_90_ult_12_meses,219245.0,8.282971e-03,2.149194e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.200000e+01
cupo_total_tc,281666.0,8.196256e+06,1.553813e+07,0.000000e+00,0.000000e+00,1.400000e+06,1.000000e+07,6.372000e+08
cuota_tc_bancolombia,281666.0,3.220061e+05,8.326816e+05,0.000000e+00,0.000000e+00,7.830000e+04,3.700000e+05,1.187058e+08
nro_tot_cuentas,281666.0,1.172186e+00,4.816559e-01,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.400000e+01
ctas_activas,281666.0,1.107404e+00,4.187687e-01,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.400000e+01
ctas_embargadas,281666.0,2.275745e-03,5.026129e-02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.000000e+00
cuota_cred_hipot,32278.0,9.748460e+05,9.884765e+05,0.000000e+00,4.164305e+05,6.920428e+05,1.192809e+06,2.614025e+07
mediana_nom3,281666.0,1.957364e+06,3.742355e+06,0.000000e+00,0.000000e+00,0.000000e+00,2.989619e+06,4.486110e+08
mediana_pen3,281666.0,2.459324e+05,1.190026e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.751780e+07
ingreso_nompen,281666.0,2.203296e+06,3.839006e+06,0.000000e+00,0.000000e+00,2.045000e+05,3.318742e+06,4.486110e+08
ingreso_final,281666.0,7.397800e+06,2.295824e+07,1.000004e+05,2.636368e+06,4.434182e+06,7.547975e+06,6.678545e+09
cant_mora_30_tdc_ult_3m_sf,258435.0,1.353532e-02,1.458658e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,7.000000e+00
cant_mora_30_consum_ult_3m_sf,258435.0,6.027821e-02,6.025444e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.500000e+02
cuota_de_vivienda,281666.0,2.680523e+05,1.353839e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.723090e+08
cuota_de_consumo,281666.0,7.841383e+05,5.342640e+06,-1.075959e+08,0.000000e+00,0.000000e+00,7.614472e+05,1.795444e+09
cuota_rotativos,281666.0,4.710818e+04,2.284706e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.080000e+07
cuota_tarjeta_de_credito,281666.0,5.633862e+05,1.248332e+06,0.000000e+00,0.000000e+00,2.680000e+05,6.560000e+05,9.319900e+07
cuota_de_sector_solidario,281666.0,5.627548e+04,1.247435e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.897950e+08
cuota_sector_real_comercio,281666.0,2.937374e+05,4.520845e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.116906e+09
cupo_tc_mdo,281666.0,1.181073e+07,2.303531e+07,0.000000e+00,0.000000e+00,3.090000e+06,1.324400e+07,6.776350e+08
saldo_prom3_tdc_mdo,281666.0,2.574295e+06,7.135566e+06,0.000000e+00,0.000000e+00,0.000000e+00,2.003000e+06,2.758640e+08
cuota_tc_mdo,281666.0,4.862690e+05,2.213262e+06,0.000000e+00,0.000000e+00,0.000000e+00,2.930000e+05,2.070130e+08
saldo_no_rot_mdo,281666.0,2.812800e+07,7.690378e+07,0.000000e+00,0.000000e+00,2.990000e+05,2.387475e+07,6.751272e+09
cuota_libranza_sf,281666.0,8.001909e+04,1.164284e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.001250e+08
cant_oblig_tot_sf,257536.0,4.079224e+00,3.774725e+00,0.000000e+00,2.000000e+00,3.000000e+00,5.000000e+00,1.050000e+02
cant_cast_ult_12m_sr,257536.0,1.323038e-01,1.967175e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.280000e+02
ind,281649.0,2.437948e+06,1.258305e+07,-1.794038e+09,4.348005e+05,1.470923e+06,3.125344e+06,5.586829e+08
pol_centr_ext,259027.0,8.036614e-01,2.461108e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+01
ingreso_nomina,95973.0,4.108770e+06,3.606602e+06,2.005000e+02,2.052869e+06,3.184562e+06,4.936350e+06,1.809130e+08
ingreso_segurida_social,93932.0,4.524686e+06,5.885836e+06,0.000000e+00,1.656232e+06,3.000000e+06,5.101000e+06,3.119576e+08

In [7]:
Totrain[features_o].describe(include = 'all').T

                            count unique             top      freq
genero                   19255248      2               M   9731146
estado_civil             17367098      5         SOLTERO   8912674
nivel_academico          13462351      6   UNIVERSITARIO   6907133
profesion                13479312     79           OTROS   5192581
ocupacion                19189090     10        Empleado  12159872
tipo_vivienda             9050814      3        FAMILIAR   4381905
ciudad_residencia        19209195   1521     BOGOTA D.C.   4877742
departamento_residencia  19074043     34       ANTIOQUIA   6239768
ciudad_laboral           14025157   1331     BOGOTA D.C.   4034999
departamento_laboral     13456250     34       ANTIOQUIA   4362626
rechazo_credito            104377      4  RECHAZO BIZAGI     83574
cat_ingreso               7707685      3             NOM   6561880
rep_calif_cred           17453517      8               A   3811261

In [8]:
Totrain.describe().T

,count,mean,std,min,25%,50%,75%,max
periodo,19255248.0,2.019594e+05,4.968779e+01,2.019020e+05,2.019070e+05,2.020010e+05,2.020070e+05,2.020110e+05
id_cli,19255248.0,3.393917e+06,2.461785e+06,3.000000e+00,1.374000e+06,2.895966e+06,4.940005e+06,8.704800e+06
fecha_nacimiento,19255248.0,1.978353e+07,1.377617e+05,1.900053e+07,1.970031e+07,1.981111e+07,1.989072e+07,2.020092e+07
edad,19255248.0,4.114562e+01,1.378647e+01,0.000000e+00,3.000000e+01,3.800000e+01,5.000000e+01,1.200000e+02
ult_actual,19255248.0,2.019040e+07,3.522273e+04,0.000000e+00,2.019011e+07,2.019072e+07,2.020010e+07,2.020102e+07
categoria,19255248.0,1.677362e+00,1.030227e+00,0.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,5.000000e+00
codigo_ciiu,19255248.0,7.594965e+02,2.140895e+03,0.000000e+00,1.000000e+01,1.000000e+01,1.000000e+01,9.900000e+03
mora_max,13388034.0,4.653830e+00,2.200446e+01,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,3.367000e+03
cant_moras_30_ult_12_meses,13388034.0,6.555361e-02,5.391823e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.200000e+01
cant_moras_60_ult_12_meses,13388034.0,3.357565e-02,4.088394e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.200000e+01
cant_moras_90_ult_12_meses,13388034.0,2.214866e-02,3.351720e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.200000e+01
cupo_total_tc,19255248.0,4.214029e+06,1.053179e+07,0.000000e+00,0.000000e+00,0.000000e+00,4.400000e+06,9.662000e+08
cuota_tc_bancolombia,19255248.0,1.845243e+05,5.676653e+05,0.000000e+00,0.000000e+00,0.000000e+00,1.856000e+05,1.241038e+08
nro_tot_cuentas,19255072.0,1.076739e+00,4.338893e-01,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,3.600000e+01
ctas_activas,19255072.0,1.018125e+00,4.010897e-01,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,3.600000e+01
ctas_embargadas,19255072.0,3.005857e-03,5.809303e-02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,8.000000e+00
cuota_cred_hipot,4049.0,3.560688e+06,4.706808e+06,0.000000e+00,1.740090e+06,2.971383e+06,4.898020e+06,2.662704e+08
mediana_nom3,19255248.0,1.045860e+06,2.398148e+06,0.000000e+00,0.000000e+00,0.000000e+00,1.490295e+06,5.826296e+08
mediana_pen3,19255248.0,1.581400e+05,8.855058e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,8.252953e+08
ingreso_nompen,19255248.0,1.204000e+06,2.509292e+06,0.000000e+00,0.000000e+00,0.000000e+00,1.749480e+06,8.252953e+08
ingreso_final,19112263.0,4.851555e+06,1.357170e+07,0.000000e+00,1.596000e+06,2.706110e+06,4.950000e+06,6.646637e+09
cant_mora_30_tdc_ult_3m_sf,16230343.0,1.920040e-02,1.742989e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.100000e+01
cant_mora_30_consum_ult_3m_sf,16230343.0,9.020931e-02,6.684400e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.440000e+02
cuota_de_vivienda,19255248.0,9.719379e+04,8.448566e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.723090e+08
cuota_de_consumo,19255248.0,6.325338e+05,4.986567e+06,-4.110399e+08,0.000000e+00,0.000000e+00,4.660000e+05,3.461069e+09
cuota_rotativos,19255248.0,2.755936e+04,9.475339e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.008301e+09
cuota_tarjeta_de_credito,19255248.0,3.770025e+05,2.083396e+06,0.000000e+00,0.000000e+00,5.500000e+04,3.940000e+05,4.396925e+09
cuota_de_sector_solidario,19255248.0,5.739613e+04,3.426673e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.146613e+09
cuota_sector_real_comercio,19255248.0,3.568192e+05,3.061819e+07,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+04,4.995000e+10
cupo_tc_mdo,19255248.0,7.158863e+06,2.655844e+07,0.000000e+00,0.000000e+00,0.000000e+00,6.436000e+06,5.002155e+10
saldo_prom3_tdc_mdo,19255248.0,2.057533e+06,2.543919e+07,0.000000e+00,0.000000e+00,0.000000e+00,1.205500e+06,3.900324e+10
cuota_tc_mdo,19255248.0,4.412261e+05,4.481841e+06,0.000000e+00,0.000000e+00,0.000000e+00,1.780000e+05,9.770945e+09
saldo_no_rot_mdo,19255248.0,2.018806e+07,7.968760e+07,0.000000e+00,0.000000e+00,1.420000e+05,1.375200e+07,4.661178e+10
cuota_libranza_sf,19255248.0,7.609593e+04,1.104086e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.025700e+08
cant_oblig_tot_sf,16110591.0,3.178158e+00,3.429533e+00,0.000000e+00,1.000000e+00,2.000000e+00,4.000000e+00,1.390000e+02
cant_cast_ult_12m_sr,16110591.0,1.977274e-01,1.824211e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.380000e+02
ind,19248808.0,1.261925e+06,3.518869e+07,-4.994239e+10,2.053592e+05,7.854071e+05,2.037321e+06,5.594790e+08
pol_centr_ext,16421871.0,1.327138e+00,3.100898e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.400000e+01
convenio_lib,2691686.0,6.893570e+04,1.551519e+04,2.000000e+04,7.072100e+04,7.242600e+04,7.601700e+04,7.999800e+04
ingreso_nomina,5091182.0,2.854365e+06,2.717664e+06,1.000000e+00,1.392436e+06,2.103426e+06,3.379514e+06,2.157617e+08
ingreso_segurida_social,5340055.0,2.911912e+06,3.379725e+06,0.000000e+00,1.145738e+06,2.000000e+06,3.418288e+06,1.069337e+09
gasto_familiar,19255248.0,7.888286e+05,1.761963e+06,-9.300000e+06,1.755990e+05,4.109620e+05,8.711140e+05,9.050000e+08

In [9]:
Nulos = 100*Totrain.isnull().sum()/Totrain.shape[0]
Nulos.sort_values(ascending=False).head(60)

periodo                           0.000000
id_cli                            0.000000
fecha_nacimiento                  0.000000
edad                              0.000000
genero                            0.000000
estado_civil                      9.805898
nivel_academico                  30.084770
profesion                        29.996685
ocupacion                         0.343584
tipo_vivienda                    52.995599
ult_actual                        0.000000
categoria                         0.000000
codigo_ciiu                       0.000000
ind_mora_vigente                  0.000000
cartera_castigada                 0.000000
ciudad_residencia                 0.239171
departamento_residencia           0.941068
ciudad_laboral                   27.161899
departamento_laboral             30.116454
rechazo_credito                  99.457930
mora_max                         30.470727
cant_moras_30_ult_12_meses       30.470727
cant_moras_60_ult_12_meses       30.470727
cant_moras_90_ult_12_meses       30.470727
cupo_total_tc                     0.000000
tenencia_tc                       0.000000
cuota_tc_bancolombia              0.000000
tiene_consumo                     0.000000
tiene_crediagil                   0.000000
nro_tot_cuentas                   0.000914
ctas_activas                      0.000914
tiene_ctas_activas                0.000000
ctas_embargadas                   0.000914
tiene_ctas_embargadas             0.000000
pension_fopep                     0.000000
cuota_cred_hipot                 99.978972
tiene_cred_hipo_1                 0.000000
tiene_cred_hipo_2                 0.000000
mediana_nom3                      0.000000
mediana_pen3                      0.000000
ingreso_nompen                    0.000000
cat_ingreso                      59.970991
ingreso_final                     0.742577
cant_mora_30_tdc_ult_3m_sf       15.709509
cant_mora_30_consum_ult_3m_sf    15.709509
cuota_de_vivienda                 0.000000
cuota_de_consumo                  0.000000
cuota_rotativos                   0.000000
cuota_tarjeta_de_credito          0.000000
cuota_de_sector_solidario         0.000000
cuota_sector_real_comercio        0.000000
cupo_tc_mdo                       0.000000
saldo_prom3_tdc_mdo               0.000000
cuota_tc_mdo                      0.000000
saldo_no_rot_mdo                  0.000000
cuota_libranza_sf                 0.000000
cant_oblig_tot_sf                16.331428
cant_cast_ult_12m_sr             16.331428
ind                               0.033445
rep_calif_cred                    9.357091
dtype: float64

In [10]:
Nulos.tail(8)

cant_cast_ult_12m_sr       16.331428
ind                         0.033445
rep_calif_cred              9.357091
pol_centr_ext              14.714830
convenio_lib               86.021027
ingreso_nomina             73.559510
ingreso_segurida_social    72.267015
gasto_familiar              0.000000
dtype: float64

In [11]:
Nulos = 100*Toevaluate.isnull().sum()/Toevaluate.shape[0]
Nulos.sort_values(ascending=False).head(60)

id_registro                       0.000000
periodo                           0.000000
id_cli                            0.000000
fecha_nacimiento                  0.000000
edad                              0.000000
genero                            0.000000
estado_civil                      0.183906
nivel_academico                   0.000000
profesion                        17.604539
ocupacion                         0.005680
tipo_vivienda                    32.331556
ult_actual                        0.000000
categoria                         1.180121
codigo_ciiu                       0.000000
ind_mora_vigente                  0.035503
cartera_castigada                 0.035503
ciudad_residencia                 0.299291
departamento_residencia           0.039763
ciudad_laboral                   17.414242
departamento_laboral             18.080990
rechazo_credito                  99.420590
mora_max                         22.161354
cant_moras_30_ult_12_meses       22.161354
cant_moras_60_ult_12_meses       22.161354
cant_moras_90_ult_12_meses       22.161354
cupo_total_tc                     0.000000
tenencia_tc                       0.000000
cuota_tc_bancolombia              0.000000
tiene_consumo                    84.911917
tiene_crediagil                  78.917583
nro_tot_cuentas                   0.000000
ctas_activas                      0.000000
tiene_ctas_activas                2.332195
ctas_embargadas                   0.000000
tiene_ctas_embargadas            99.783786
pension_fopep                    98.392067
cuota_cred_hipot                 88.540328
tiene_cred_hipo_1                88.638671
tiene_cred_hipo_2                99.870414
mediana_nom3                      0.000000
mediana_pen3                      0.000000
ingreso_nompen                    0.000000
cat_ingreso                      49.965207
ingreso_final                     0.000000
cant_mora_30_tdc_ult_3m_sf        8.247712
cant_mora_30_consum_ult_3m_sf     8.247712
cuota_de_vivienda                 0.000000
cuota_de_consumo                  0.000000
cuota_rotativos                   0.000000
cuota_tarjeta_de_credito          0.000000
cuota_de_sector_solidario         0.000000
cuota_sector_real_comercio        0.000000
cupo_tc_mdo                       0.000000
saldo_prom3_tdc_mdo               0.000000
cuota_tc_mdo                      0.000000
saldo_no_rot_mdo                  0.000000
cuota_libranza_sf                 0.000000
cant_oblig_tot_sf                 8.566884
cant_cast_ult_12m_sr              8.566884
ind                               0.006036
dtype: float64

In [12]:
Nulos.tail(8)

cant_oblig_tot_sf           8.566884
cant_cast_ult_12m_sr        8.566884
ind                         0.006036
rep_calif_cred              0.000000
pol_centr_ext               8.037534
convenio_lib               80.303977
ingreso_nomina             65.926665
ingreso_segurida_social    66.651282
dtype: float64

## Drop columns

In [13]:
Todrop = ['departamento_residencia',
        'ciudad_laboral',
        'departamento_laboral',
        'tipo_vivienda',
        'rechazo_credito',
        'cat_ingreso',
        'cuota_cred_hipot',
        'convenio_lib',
        'ingreso_nomina',
        'ingreso_segurida_social',
         ]

In [14]:
Totrain = Totrain.drop(columns=Todrop, axis=0)
Toevaluate = Toevaluate.drop(columns=Todrop, axis=0)

In [15]:
To_replacena = ['mora_max',
                'cant_moras_30_ult_12_meses',
                'cant_moras_60_ult_12_meses',
                'cant_moras_90_ult_12_meses',
                'cant_mora_30_tdc_ult_3m_sf',
                'cant_mora_30_consum_ult_3m_sf',
                'cant_oblig_tot_sf',
                'cant_cast_ult_12m_sr',
                'ctas_activas',
                'ctas_embargadas']

In [16]:
for i in To_replacena:
    Totrain[i] = Totrain[i].replace(np.nan,0)
    Toevaluate[i] = Toevaluate[i].replace(np.nan,0)

## Dropna

In [17]:
Totrain = Totrain.dropna()
Totrain

,periodo,id_cli,fecha_nacimiento,edad,genero,estado_civil,nivel_academico,profesion,ocupacion,ult_actual,...,saldo_prom3_tdc_mdo,cuota_tc_mdo,saldo_no_rot_mdo,cuota_libranza_sf,cant_oblig_tot_sf,cant_cast_ult_12m_sr,ind,rep_calif_cred,pol_centr_ext,gasto_familiar
0,201908.0,2089776.0,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,20180526.0,...,0.0,0.0,903000.0,0.0,1.0,0.0,311715.5,C,0.0,232526.0
1,201909.0,2089776.0,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,20180526.0,...,0.0,0.0,903000.0,0.0,1.0,0.0,311715.5,C,0.0,265900.0
2,201907.0,2089776.0,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,20180526.0,...,0.0,0.0,903000.0,0.0,1.0,0.0,311306.0,C,0.0,243052.0
3,201903.0,2089776.0,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,20180526.0,...,0.0,0.0,2433000.0,0.0,1.0,0.0,311306.0,C,0.0,276014.0
4,201911.0,2089776.0,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,20180526.0,...,0.0,0.0,0.0,0.0,0.0,0.0,677516.0,C,0.0,418866.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19255243,201910.0,2090044.0,19670629.0,52.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,20190424.0,...,61000.0,0.0,75000.0,0.0,3.0,0.0,929800.0,C,0.0,25500.0
19255244,202002.0,2090044.0,19670629.0,53.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,20190424.0,...,0.0,0.0,4167000.0,0.0,3.0,0.0,41800.0,D,0.0,147900.0
19255245,201903.0,2090044.0,19670629.0,52.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,20180521.0,...,0.0,0.0,0.0,0.0,0.0,0.0,928500.0,B,0.0,777437.1
19255246,202001.0,2090044.0,19670629.0,52.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,20190424.0,...,0.0,0.0,4167000.0,0.0,3.0,0.0,41800.0,D,0.0,1131012.0
19255247,202004.0,2090044.0,19670629.0,53.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,20190424.0,...,1022000.0,97000.0,3556000.0,0.0,3.0,0.0,879800.0,B,0.0,597462.0

## Concat

In [18]:
Totrain['id_cli'] = Totrain['id_cli'].round().astype(str)
Totrain['periodo'] = Totrain['periodo'].round().astype(str)
Totrain['id_cli'] = [x[:-2] for x in Totrain['id_cli']]
Totrain['periodo'] = [x[:-2] for x in Totrain['periodo']]

In [19]:
Totrain['id_registro'] = Totrain['id_cli']+'#'+Totrain['periodo']
Totrain

,periodo,id_cli,fecha_nacimiento,edad,genero,estado_civil,nivel_academico,profesion,ocupacion,ult_actual,...,cuota_tc_mdo,saldo_no_rot_mdo,cuota_libranza_sf,cant_oblig_tot_sf,cant_cast_ult_12m_sr,ind,rep_calif_cred,pol_centr_ext,gasto_familiar,id_registro
0,201908,2089776,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,20180526.0,...,0.0,903000.0,0.0,1.0,0.0,311715.5,C,0.0,232526.0,2089776#201908
1,201909,2089776,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,20180526.0,...,0.0,903000.0,0.0,1.0,0.0,311715.5,C,0.0,265900.0,2089776#201909
2,201907,2089776,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,20180526.0,...,0.0,903000.0,0.0,1.0,0.0,311306.0,C,0.0,243052.0,2089776#201907
3,201903,2089776,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,20180526.0,...,0.0,2433000.0,0.0,1.0,0.0,311306.0,C,0.0,276014.0,2089776#201903
4,201911,2089776,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,20180526.0,...,0.0,0.0,0.0,0.0,0.0,677516.0,C,0.0,418866.0,2089776#201911
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19255243,201910,2090044,19670629.0,52.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,20190424.0,...,0.0,75000.0,0.0,3.0,0.0,929800.0,C,0.0,25500.0,2090044#201910
19255244,202002,2090044,19670629.0,53.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,20190424.0,...,0.0,4167000.0,0.0,3.0,0.0,41800.0,D,0.0,147900.0,2090044#202002
19255245,201903,2090044,19670629.0,52.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,20180521.0,...,0.0,0.0,0.0,0.0,0.0,928500.0,B,0.0,777437.1,2090044#201903
19255246,202001,2090044,19670629.0,52.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,20190424.0,...,0.0,4167000.0,0.0,3.0,0.0,41800.0,D,0.0,1131012.0,2090044#202001
19255247,202004,2090044,19670629.0,53.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,20190424.0,...,97000.0,3556000.0,0.0,3.0,0.0,879800.0,B,0.0,597462.0,2090044#202004

In [20]:
Toevaluate['gasto_familiar'] = np.nan

In [21]:
Totrain = Totrain[Toevaluate.columns]
Totrain

,id_registro,periodo,id_cli,fecha_nacimiento,edad,genero,estado_civil,nivel_academico,profesion,ocupacion,...,saldo_prom3_tdc_mdo,cuota_tc_mdo,saldo_no_rot_mdo,cuota_libranza_sf,cant_oblig_tot_sf,cant_cast_ult_12m_sr,ind,rep_calif_cred,pol_centr_ext,gasto_familiar
0,2089776#201908,201908,2089776,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,...,0.0,0.0,903000.0,0.0,1.0,0.0,311715.5,C,0.0,232526.0
1,2089776#201909,201909,2089776,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,...,0.0,0.0,903000.0,0.0,1.0,0.0,311715.5,C,0.0,265900.0
2,2089776#201907,201907,2089776,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,...,0.0,0.0,903000.0,0.0,1.0,0.0,311306.0,C,0.0,243052.0
3,2089776#201903,201903,2089776,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,...,0.0,0.0,2433000.0,0.0,1.0,0.0,311306.0,C,0.0,276014.0
4,2089776#201911,201911,2089776,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,...,0.0,0.0,0.0,0.0,0.0,0.0,677516.0,C,0.0,418866.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19255243,2090044#201910,201910,2090044,19670629.0,52.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,...,61000.0,0.0,75000.0,0.0,3.0,0.0,929800.0,C,0.0,25500.0
19255244,2090044#202002,202002,2090044,19670629.0,53.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,...,0.0,0.0,4167000.0,0.0,3.0,0.0,41800.0,D,0.0,147900.0
19255245,2090044#201903,201903,2090044,19670629.0,52.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,...,0.0,0.0,0.0,0.0,0.0,0.0,928500.0,B,0.0,777437.1
19255246,2090044#202001,202001,2090044,19670629.0,52.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,...,0.0,0.0,4167000.0,0.0,3.0,0.0,41800.0,D,0.0,1131012.0
19255247,2090044#202004,202004,2090044,19670629.0,53.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,...,1022000.0,97000.0,3556000.0,0.0,3.0,0.0,879800.0,B,0.0,597462.0

In [23]:
ToComplete = Totrain.append(Toevaluate)
ToComplete

,id_registro,periodo,id_cli,fecha_nacimiento,edad,genero,estado_civil,nivel_academico,profesion,ocupacion,...,saldo_prom3_tdc_mdo,cuota_tc_mdo,saldo_no_rot_mdo,cuota_libranza_sf,cant_oblig_tot_sf,cant_cast_ult_12m_sr,ind,rep_calif_cred,pol_centr_ext,gasto_familiar
0,2089776#201908,201908,2089776,19840630.0,35.000000,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,...,0.000000e+00,0.0,903000.0,0.0,1.0,0.0,3.117155e+05,C,0.0,232526.0
1,2089776#201909,201909,2089776,19840630.0,35.000000,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,...,0.000000e+00,0.0,903000.0,0.0,1.0,0.0,3.117155e+05,C,0.0,265900.0
2,2089776#201907,201907,2089776,19840630.0,35.000000,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,...,0.000000e+00,0.0,903000.0,0.0,1.0,0.0,3.113060e+05,C,0.0,243052.0
3,2089776#201903,201903,2089776,19840630.0,35.000000,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,...,0.000000e+00,0.0,2433000.0,0.0,1.0,0.0,3.113060e+05,C,0.0,276014.0
4,2089776#201911,201911,2089776,19840630.0,35.000000,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,...,0.000000e+00,0.0,0.0,0.0,0.0,0.0,6.775160e+05,C,0.0,418866.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281661,8596193#202011,202011,8596193,19740415.0,46.516085,F,SOLTERO,UNIVERSITARIO,OTROS,Empleado,...,0.000000e+00,0.0,0.0,0.0,2.0,0.0,2.101424e+06,A,0.0,NaN
281662,8616083#202011,202011,8616083,19850620.0,35.334702,M,NO INFORMA,NO INFORMA,NaN,Socio Empleado - Socio,...,8.286667e+06,237000.0,99000.0,0.0,12.0,0.0,1.170550e+07,C,0.0,NaN
281663,8670207#202011,202011,8670207,19740316.0,46.598220,M,DIVORCIADO,NO INFORMA,NaN,Profesional Independiente,...,3.091700e+07,10350000.0,300000.0,0.0,17.0,0.0,-4.154790e+07,D,0.0,NaN
281664,8677655#202011,202011,8677655,19780722.0,42.247775,F,CASADO,ESPECIALIZACION,ECONOMIA,Empleado,...,3.760867e+07,1953000.0,184811000.0,0.0,18.0,0.0,5.313457e+06,B,0.0,NaN
281665,8692808#202011,202011,8692808,19801025.0,39.986311,F,NO INFORMA,UNIVERSITARIO,OTROS,Empleado,...,6.008000e+07,1141000.0,25769000.0,0.0,14.0,0.0,-2.172737e+06,E,0.0,NaN

In [24]:
records_toevaluate = Toevaluate['id_registro']
records_toevaluate

0            4055#201902
1           12598#201902
2           23697#201902
3           23768#201902
4            7174#201902
               ...
281661    8596193#202011
281662    8616083#202011
281663    8670207#202011
281664    8677655#202011
281665    8692808#202011
Name: id_registro, Length: 281666, dtype: object

In [30]:
Nulos = 100*ToComplete.isnull().sum()/ToComplete.shape[0]
Nulos.sort_values(ascending=False).head(60)

gasto_familiar                   2.956443
tiene_cred_hipo_2                2.952612
tiene_ctas_embargadas            2.950050
pension_fopep                    2.908905
tiene_cred_hipo_1                2.620552
tiene_consumo                    2.510372
tiene_crediagil                  2.333153
profesion                        0.520468
pol_centr_ext                    0.237625
tiene_ctas_activas               0.068950
categoria                        0.034890
ciudad_residencia                0.008848
estado_civil                     0.005437
ind_mora_vigente                 0.001050
cartera_castigada                0.001050
ind                              0.000178
ocupacion                        0.000168
cant_mora_30_tdc_ult_3m_sf       0.000000
cuota_rotativos                  0.000000
cant_mora_30_consum_ult_3m_sf    0.000000
cuota_de_vivienda                0.000000
cuota_de_consumo                 0.000000
saldo_prom3_tdc_mdo              0.000000
cuota_tarjeta_de_credito         0.000000
cuota_de_sector_solidario        0.000000
cuota_sector_real_comercio       0.000000
cupo_tc_mdo                      0.000000
ingreso_nompen                   0.000000
cuota_tc_mdo                     0.000000
saldo_no_rot_mdo                 0.000000
cuota_libranza_sf                0.000000
cant_oblig_tot_sf                0.000000
cant_cast_ult_12m_sr             0.000000
rep_calif_cred                   0.000000
ingreso_final                    0.000000
id_registro                      0.000000
mediana_pen3                     0.000000
mediana_nom3                     0.000000
id_cli                           0.000000
fecha_nacimiento                 0.000000
edad                             0.000000
genero                           0.000000
nivel_academico                  0.000000
ult_actual                       0.000000
codigo_ciiu                      0.000000
mora_max                         0.000000
cant_moras_30_ult_12_meses       0.000000
cant_moras_60_ult_12_meses       0.000000
cant_moras_90_ult_12_meses       0.000000
cupo_total_tc                    0.000000
tenencia_tc                      0.000000
cuota_tc_bancolombia             0.000000
nro_tot_cuentas                  0.000000
ctas_activas                     0.000000
periodo                          0.000000
ctas_embargadas                  0.000000
dtype: float64

In [25]:
records_toevaluate.to_csv('/mnt/workstation/data/Alomarrano/records_toevaluate.csv', index = False, header=True)

In [26]:
ToComplete.to_csv('/mnt/workstation/data/Alomarrano/ToComplete_littlePig.csv', index = False, header=True)