# Requeriments

In [1]:
import numpy                 as np
#import pandas                as pd
import modin.pandas as pd
import matplotlib.pyplot     as plt
import seaborn               as sns
import missingno as msno
from zipfile import ZipFile
import random
#import sklearn.metrics       as Metrics

#pd.set_option('max_columns', None)
#pd.set_option('max_rows', None)
#pd.reset_option('max_columns')
#pd.reset_option('max_columns')

UserWarning: Modin Ray engine was started with 297 GB free space avaliable, if it is not enough for your application, please set environment variable MODIN_ON_RAY_PLASMA_DIR=/directory/without/space/limiting

## Loading data (Toevaluate_data)

In [2]:
zip_file = ZipFile('/mnt/workstation/data/dt2020_base_evaluar.zip')
Toevaluate = pd.read_csv(zip_file.open("dt2020_base_evaluar.csv"), sep= ",")
Toevaluate

UserWarning: Parameters provided defaulting to pandas implementation.
To request implementation, send an email to feature_requests@modin.org.

,id_registro,periodo,id_cli,fecha_nacimiento,edad,genero,estado_civil,nivel_academico,profesion,ocupacion,...,saldo_no_rot_mdo,cuota_libranza_sf,cant_oblig_tot_sf,cant_cast_ult_12m_sr,ind,rep_calif_cred,pol_centr_ext,convenio_lib,ingreso_nomina,ingreso_segurida_social
0,4055#201902,201902,4055,19721103,46.203970,M,CASADO,UNIVERSITARIO,DISEÃ‘O Y PUBLICIDAD,Empleado,...,127148000.0,1797000.0,7.0,0.0,2.060457e+06,A,0.0,74339,2734528.0,NaN
1,12598#201902,201902,12598,19750930,43.299110,M,SOLTERO,UNIVERSITARIO,ADMINISTRACION,Empleado,...,87661000.0,0.0,5.0,66.0,-7.187437e+07,H,15.0,NaN,2291070.0,NaN
2,23697#201902,201902,23697,19740130,44.963723,M,CASADO,UNIVERSITARIO,OTROS,Empleado,...,58967000.0,0.0,3.0,0.0,-1.448765e+06,A,0.0,NaN,NaN,NaN
3,23768#201902,201902,23768,19610620,57.577002,M,NO INFORMA,BACHILLER,NaN,Empleado,...,0.0,0.0,0.0,0.0,2.208260e+06,G,0.0,NaN,NaN,NaN
4,7174#201902,201902,7174,19661010,52.271047,F,DIVORCIADO,UNIVERSITARIO,MEDICINA,Empleado,...,22746000.0,0.0,7.0,0.0,3.212636e+06,A,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281661,8596193#202011,202011,8596193,19740415,46.516085,F,SOLTERO,UNIVERSITARIO,OTROS,Empleado,...,0.0,0.0,2.0,0.0,2.101424e+06,A,0.0,70721,2281362.5,3876343.0
281662,8616083#202011,202011,8616083,19850620,35.334702,M,NO INFORMA,NO INFORMA,NaN,Socio Empleado - Socio,...,99000.0,0.0,12.0,0.0,1.170550e+07,C,0.0,NaN,14510896.0,NaN
281663,8670207#202011,202011,8670207,19740316,46.598220,M,DIVORCIADO,NO INFORMA,NaN,Profesional Independiente,...,300000.0,0.0,17.0,0.0,-4.154790e+07,D,0.0,NaN,NaN,NaN
281664,8677655#202011,202011,8677655,19780722,42.247775,F,CASADO,ESPECIALIZACION,ECONOMIA,Empleado,...,184811000.0,0.0,18.0,0.0,5.313457e+06,B,0.0,70077,11401109.0,14481371.0
281665,8692808#202011,202011,8692808,19801025,39.986311,F,NO INFORMA,UNIVERSITARIO,OTROS,Empleado,...,25769000.0,0.0,14.0,0.0,-2.172737e+06,E,0.0,NaN,NaN,NaN

## Loading data (Totrain_data)

In [3]:
Totrain = pd.read_csv("/mnt/workstation/data/input_CategoricasArregladas.csv")#, sep= ",", names =header)
Totrain = Totrain.iloc[:,1:]
Totrain

,periodo,id_cli,fecha_nacimiento,edad,genero,estado_civil,nivel_academico,profesion,ocupacion,tipo_vivienda,...,cuota_libranza_sf,cant_oblig_tot_sf,cant_cast_ult_12m_sr,ind,rep_calif_cred,pol_centr_ext,convenio_lib,ingreso_nomina,ingreso_segurida_social,gasto_familiar
0,201908.0,2089776.0,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,ALQUILADA,...,0.0,1.0,0.0,311715.5,C,0.0,NaN,1255032.0,NaN,232526.0
1,201909.0,2089776.0,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,ALQUILADA,...,0.0,1.0,0.0,311715.5,C,0.0,NaN,1255032.0,NaN,265900.0
2,201907.0,2089776.0,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,ALQUILADA,...,0.0,1.0,0.0,311306.0,C,0.0,NaN,1255032.0,NaN,243052.0
3,201903.0,2089776.0,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,ALQUILADA,...,0.0,1.0,0.0,311306.0,C,0.0,NaN,1172612.0,NaN,276014.0
4,201911.0,2089776.0,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,ALQUILADA,...,0.0,0.0,0.0,677516.0,C,0.0,NaN,1255032.0,NaN,418866.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19255243,201910.0,2090044.0,19670629.0,52.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,NaN,...,0.0,3.0,0.0,929800.0,C,0.0,NaN,NaN,NaN,25500.0
19255244,202002.0,2090044.0,19670629.0,53.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,NaN,...,0.0,3.0,0.0,41800.0,D,0.0,NaN,NaN,NaN,147900.0
19255245,201903.0,2090044.0,19670629.0,52.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,NaN,...,0.0,0.0,0.0,928500.0,B,0.0,NaN,NaN,NaN,777437.1
19255246,202001.0,2090044.0,19670629.0,52.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,NaN,...,0.0,3.0,0.0,41800.0,D,0.0,NaN,NaN,NaN,1131012.0
19255247,202004.0,2090044.0,19670629.0,53.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,NaN,...,0.0,3.0,0.0,879800.0,B,0.0,NaN,NaN,2650000.0,597462.0

## Describe

In [4]:
features = pd.DataFrame(Totrain.dtypes)
features.columns = ['type']
features_f = features[features['type'] == 'float64'].index
features_o = features[features['type'] == 'object'].index
features_i = features[features['type'] == 'int64'].index
features_b = features[features['type'] == 'bool'].index

In [5]:
Toevaluate[features_o].describe(include = 'all').T

,count,unique,top,freq
genero,281666,2,M,147201
estado_civil,281148,7,SOLTERO,117802
nivel_academico,281666,8,UNIVERSITARIO,135682
profesion,232080,87,OTROS,89039
ocupacion,281650,17,Empleado,190779
tipo_vivienda,190599,4,FAMILIAR,85554
ciudad_residencia,280823,995,BOGOTA D.C. ...,77251
departamento_residencia,281554,38,ANTIOQUIA ...,107934
ciudad_laboral,232616,997,BOGOTA D.C. ...,69330
departamento_laboral,230738,38,ANTIOQUIA ...,86288
rechazo_credito,1632,4,RECHAZO BIZAGI,1299
cat_ingreso,140931,3,NOM,122425
rep_calif_cred,281666,9,A,100530

In [6]:
Toevaluate.describe().T

,count,mean,std,min,25%,50%,75%,max
periodo,281666.0,2.019589e+05,4.975518e+01,2.019020e+05,2.019070e+05,2.020010e+05,2.020070e+05,2.020110e+05
id_cli,281666.0,3.155830e+06,2.689026e+06,4.200000e+01,1.055391e+06,2.262922e+06,4.458678e+06,8.704801e+06
fecha_nacimiento,281666.0,1.976075e+07,1.303433e+05,1.920010e+07,1.968042e+07,1.979050e+07,1.986053e+07,2.001010e+07
edad,281666.0,4.341777e+01,1.304668e+01,1.845585e+01,3.349213e+01,4.032033e+01,5.162218e+01,9.963860e+01
ult_actual,281666.0,2.019094e+07,7.346158e+03,2.017013e+07,2.019013e+07,2.019072e+07,2.020012e+07,2.020102e+07
categoria,278342.0,1.799861e+00,8.780026e-01,1.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,5.000000e+00
codigo_ciiu,281666.0,5.616932e+02,1.894647e+03,0.000000e+00,1.000000e+01,1.000000e+01,1.000000e+01,9.900000e+03
mora_max,219245.0,2.800547e+00,1.594567e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.120000e+03
cant_moras_30_ult_12_meses,219245.0,2.699263e-02,3.466272e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.200000e+01
cant_moras_60_ult_12_meses,219245.0,1.254305e-02,2.580331e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.200000e+01
cant_moras_90_ult_12_meses,219245.0,8.282971e-03,2.149194e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.200000e+01
cupo_total_tc,281666.0,8.196256e+06,1.553813e+07,0.000000e+00,0.000000e+00,1.400000e+06,1.000000e+07,6.372000e+08
cuota_tc_bancolombia,281666.0,3.220061e+05,8.326816e+05,0.000000e+00,0.000000e+00,7.830000e+04,3.700000e+05,1.187058e+08
nro_tot_cuentas,281666.0,1.172186e+00,4.816559e-01,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.400000e+01
ctas_activas,281666.0,1.107404e+00,4.187687e-01,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.400000e+01
ctas_embargadas,281666.0,2.275745e-03,5.026129e-02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.000000e+00
cuota_cred_hipot,32278.0,9.748460e+05,9.884765e+05,0.000000e+00,4.164305e+05,6.920428e+05,1.192809e+06,2.614025e+07
mediana_nom3,281666.0,1.957364e+06,3.742355e+06,0.000000e+00,0.000000e+00,0.000000e+00,2.989619e+06,4.486110e+08
mediana_pen3,281666.0,2.459324e+05,1.190026e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.751780e+07
ingreso_nompen,281666.0,2.203296e+06,3.839006e+06,0.000000e+00,0.000000e+00,2.045000e+05,3.318742e+06,4.486110e+08
ingreso_final,281666.0,7.397800e+06,2.295824e+07,1.000004e+05,2.636368e+06,4.434182e+06,7.547975e+06,6.678545e+09
cant_mora_30_tdc_ult_3m_sf,258435.0,1.353532e-02,1.458658e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,7.000000e+00
cant_mora_30_consum_ult_3m_sf,258435.0,6.027821e-02,6.025444e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.500000e+02
cuota_de_vivienda,281666.0,2.680523e+05,1.353839e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.723090e+08
cuota_de_consumo,281666.0,7.841383e+05,5.342640e+06,-1.075959e+08,0.000000e+00,0.000000e+00,7.614472e+05,1.795444e+09
cuota_rotativos,281666.0,4.710818e+04,2.284706e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.080000e+07
cuota_tarjeta_de_credito,281666.0,5.633862e+05,1.248332e+06,0.000000e+00,0.000000e+00,2.680000e+05,6.560000e+05,9.319900e+07
cuota_de_sector_solidario,281666.0,5.627548e+04,1.247435e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.897950e+08
cuota_sector_real_comercio,281666.0,2.937374e+05,4.520845e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.116906e+09
cupo_tc_mdo,281666.0,1.181073e+07,2.303531e+07,0.000000e+00,0.000000e+00,3.090000e+06,1.324400e+07,6.776350e+08
saldo_prom3_tdc_mdo,281666.0,2.574295e+06,7.135566e+06,0.000000e+00,0.000000e+00,0.000000e+00,2.003000e+06,2.758640e+08
cuota_tc_mdo,281666.0,4.862690e+05,2.213262e+06,0.000000e+00,0.000000e+00,0.000000e+00,2.930000e+05,2.070130e+08
saldo_no_rot_mdo,281666.0,2.812800e+07,7.690378e+07,0.000000e+00,0.000000e+00,2.990000e+05,2.387475e+07,6.751272e+09
cuota_libranza_sf,281666.0,8.001909e+04,1.164284e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.001250e+08
cant_oblig_tot_sf,257536.0,4.079224e+00,3.774725e+00,0.000000e+00,2.000000e+00,3.000000e+00,5.000000e+00,1.050000e+02
cant_cast_ult_12m_sr,257536.0,1.323038e-01,1.967175e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.280000e+02
ind,281649.0,2.437948e+06,1.258305e+07,-1.794038e+09,4.348005e+05,1.470923e+06,3.125344e+06,5.586829e+08
pol_centr_ext,259027.0,8.036614e-01,2.461108e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+01
ingreso_nomina,95973.0,4.108770e+06,3.606602e+06,2.005000e+02,2.052869e+06,3.184562e+06,4.936350e+06,1.809130e+08
ingreso_segurida_social,93932.0,4.524686e+06,5.885836e+06,0.000000e+00,1.656232e+06,3.000000e+06,5.101000e+06,3.119576e+08

In [ ]:
Totrain[features_o].describe(include = 'all').T

In [ ]:
Totrain.describe().T

# Nulls

In [ ]:
pd.set_option('max_columns', None)
pd.set_option('max_rows', None)

In [ ]:
Nulos = 100*Totrain.isnull().sum()/Totrain.shape[0]
Nulos = pd.DataFrame(Nulos)
Nulos.sort_values(by=[0],ascending=False)

In [ ]:
Nulos = 100*Toevaluate.isnull().sum()/Toevaluate.shape[0]
Nulos = pd.DataFrame(Nulos)
Nulos.sort_values(by=[0],ascending=False)

# Ceros

In [ ]:
To_replacena = ['mora_max',
                'cant_moras_30_ult_12_meses',
                'cant_moras_60_ult_12_meses',
                'cant_moras_90_ult_12_meses',
                'cant_mora_30_tdc_ult_3m_sf',
                'cant_mora_30_consum_ult_3m_sf',
                'cant_oblig_tot_sf',
                'cant_cast_ult_12m_sr',
                'ctas_activas',
                'ctas_embargadas']

In [ ]:
for i in To_replacena:
    Totrain[i] = Totrain[i].replace(np.nan,0)
    Toevaluate[i] = Toevaluate[i].replace(np.nan,0)

## Numerical variables Distribution

## Train set

In [ ]:
list(features_f)

In [ ]:
len(features_f)

In [ ]:
plt.rcParams.update({'font.size': 20})
sns.set_style('darkgrid')
plt.style.use("dark_background")
var_hist = features_f[6:20]
plt.figure(figsize=(25,6*len(features_f)/2))
plt.title("DistribuciÃ³n de Variables Numericas")
for i,var in enumerate(var_hist):
    plt.subplot(round(len(features_f)/2),2,i+1)
    sns.histplot(Totrain, x=var, color='y', kde=True)
    plt.xlabel(var)
    plt.ylabel("count")

In [ ]:
plt.rcParams.update({'font.size': 20})
sns.set_style('darkgrid')
plt.style.use("dark_background")
var_hist = features_f[20:34]
plt.figure(figsize=(25,6*len(features_f)/2))
plt.title("DistribuciÃ³n de Variables Numericas")
for i,var in enumerate(var_hist):
    plt.subplot(round(len(features_f)/2),2,i+1)
    sns.histplot(Totrain, x=var, color='y', kde=True)
    plt.xlabel(var)
    plt.ylabel("count")

In [ ]:
plt.rcParams.update({'font.size': 20})
sns.set_style('darkgrid')
plt.style.use("dark_background")
var_hist = features_f[34:42]
plt.figure(figsize=(25,6*len(features_f)/2))
plt.title("DistribuciÃ³n de Variables Numericas")
for i,var in enumerate(var_hist):
    plt.subplot(round(len(features_f)/2),2,i+1)
    sns.histplot(Totrain, x=var, color='y', kde=True)
    plt.xlabel(var)
    plt.ylabel("count")