In [1]:
#import pandas as pd
import numpy as np
import modin.pandas as pd
from zipfile import ZipFile

UserWarning: Modin Ray engine was started with 355 GB free space avaliable, if it is not enough for your application, please set environment variable MODIN_ON_RAY_PLASMA_DIR=/directory/without/space/limiting

In [2]:
#inputs = pd.read_csv('Dataton_train.csv', sep =',',header = None,error_bad_lines= False)
#zip_file = ZipFile('/mnt/workstation/data/dt2020_base_evaluar.zip')
#inputs = pd.read_csv(zip_file.open("dt2020_base_evaluar.csv"), sep= ",")
#headers.columns

In [3]:
inputs = pd.read_csv("/mnt/workstation/data/Alomarrano/ToComplete_littlePig.csv")#, sep= ",", names =header)
#inputs = Totrain.iloc[:,1:]
inputs

,id_registro,periodo,id_cli,fecha_nacimiento,edad,genero,estado_civil,nivel_academico,profesion,ocupacion,...,saldo_prom3_tdc_mdo,cuota_tc_mdo,saldo_no_rot_mdo,cuota_libranza_sf,cant_oblig_tot_sf,cant_cast_ult_12m_sr,ind,rep_calif_cred,pol_centr_ext,gasto_familiar
0,2089776#201908,201908,2089776,19840630.0,35.000000,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,...,0.000000e+00,0.0,903000.0,0.0,1.0,0.0,3.117155e+05,C,0.0,232526.0
1,2089776#201909,201909,2089776,19840630.0,35.000000,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,...,0.000000e+00,0.0,903000.0,0.0,1.0,0.0,3.117155e+05,C,0.0,265900.0
2,2089776#201907,201907,2089776,19840630.0,35.000000,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,...,0.000000e+00,0.0,903000.0,0.0,1.0,0.0,3.113060e+05,C,0.0,243052.0
3,2089776#201903,201903,2089776,19840630.0,35.000000,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,...,0.000000e+00,0.0,2433000.0,0.0,1.0,0.0,3.113060e+05,C,0.0,276014.0
4,2089776#201911,201911,2089776,19840630.0,35.000000,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,...,0.000000e+00,0.0,0.0,0.0,0.0,0.0,6.775160e+05,C,0.0,418866.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9527188,8596193#202011,202011,8596193,19740415.0,46.516085,F,SOLTERO,UNIVERSITARIO,OTROS,Empleado,...,0.000000e+00,0.0,0.0,0.0,2.0,0.0,2.101424e+06,A,0.0,NaN
9527189,8616083#202011,202011,8616083,19850620.0,35.334702,M,NO INFORMA,NO INFORMA,NaN,Socio Empleado - Socio,...,8.286667e+06,237000.0,99000.0,0.0,12.0,0.0,1.170550e+07,C,0.0,NaN
9527190,8670207#202011,202011,8670207,19740316.0,46.598220,M,DIVORCIADO,NO INFORMA,NaN,Profesional Independiente,...,3.091700e+07,10350000.0,300000.0,0.0,17.0,0.0,-4.154790e+07,D,0.0,NaN
9527191,8677655#202011,202011,8677655,19780722.0,42.247775,F,CASADO,ESPECIALIZACION,ECONOMIA,Empleado,...,3.760867e+07,1953000.0,184811000.0,0.0,18.0,0.0,5.313457e+06,B,0.0,NaN
9527192,8692808#202011,202011,8692808,19801025.0,39.986311,F,NO INFORMA,UNIVERSITARIO,OTROS,Empleado,...,6.008000e+07,1141000.0,25769000.0,0.0,14.0,0.0,-2.172737e+06,E,0.0,NaN

In [4]:
len(inputs['id_cli'].unique())

819841

inputs.columns =  ['periodo','id_cli','fecha_nacimiento','edad','genero','estado_civil',
    'nivel_academico','profesion','ocupacion','tipo_vivienda','ult_actual','categoria','codigo_ciiu',
    'ind_mora_vigente','cartera_castigada','ciudad_residencia','departamento_residencia','ciudad_laboral',
    'departamento_laboral','rechazo_credito','mora_max','cant_moras_30_ult_12_meses','cant_moras_60_ult_12_meses',
    'cant_moras_90_ult_12_meses','cupo_total_tc','tenencia_tc','cuota_tc_bancolombia','tiene_consumo','tiene_crediagil',
    'nro_tot_cuentas','ctas_activas','tiene_ctas_activas','ctas_embargadas','tiene_ctas_embargadas','pension_fopep',
    'cuota_cred_hipot','tiene_cred_hipo_1','tiene_cred_hipo_2','mediana_nom3','mediana_pen3','ingreso_nompen','cat_ingreso',
    'ingreso_final','cant_mora_30_tdc_ult_3m_sf','cant_mora_30_consum_ult_3m_sf','cuota_de_vivienda','cuota_de_consumo',
    'cuota_rotativos','cuota_tarjeta_de_credito','cuota_de_sector_solidario','cuota_sector_real_comercio','cupo_tc_mdo',
    'saldo_prom3_tdc_mdo','cuota_tc_mdo','saldo_no_rot_mdo','cuota_libranza_sf','cant_oblig_tot_sf','cant_cast_ult_12m_sr',
    'ind','rep_calif_cred','pol_centr_ext','convenio_lib','ingreso_nomina','ingreso_segurida_social','gasto_familiar']

In [5]:
inputs.loc[inputs['ind_mora_vigente']== '10']

UserWarning: `DataFrame._repr_html_` for empty DataFrame defaulting to pandas implementation.
To request implementation, send an email to feature_requests@modin.org.

Empty DataFrame
Columns: [id_registro, periodo, id_cli, fecha_nacimiento, edad, genero, estado_civil, nivel_academico, profesion, ocupacion, ult_actual, categoria, codigo_ciiu, ind_mora_vigente, cartera_castigada, ciudad_residencia, mora_max, cant_moras_30_ult_12_meses, cant_moras_60_ult_12_meses, cant_moras_90_ult_12_meses, cupo_total_tc, tenencia_tc, cuota_tc_bancolombia, tiene_consumo, tiene_crediagil, nro_tot_cuentas, ctas_activas, tiene_ctas_activas, ctas_embargadas, tiene_ctas_embargadas, pension_fopep, tiene_cred_hipo_1, tiene_cred_hipo_2, mediana_nom3, mediana_pen3, ingreso_nompen, ingreso_final, cant_mora_30_tdc_ult_3m_sf, cant_mora_30_consum_ult_3m_sf, cuota_de_vivienda, cuota_de_consumo, cuota_rotativos, cuota_tarjeta_de_credito, cuota_de_sector_solidario, cuota_sector_real_comercio, cupo_tc_mdo, saldo_prom3_tdc_mdo, cuota_tc_mdo, saldo_no_rot_mdo, cuota_libranza_sf, cant_oblig_tot_sf, cant_cast_ult_12m_sr, ind, rep_calif_cred, pol_centr_ext, gasto_familiar]
Index: []

[0 rows x 56 columns]

#elimina los archivos corruptos
borrar = inputs.loc[inputs['rechazo_credito'] == 'ANTIOQUIA                                         ','periodo'].index.tolist()
inputs.drop([6709248,6715408, 6715409, 6715410, 6715411, 6715412, 6715413, 6715414, 6715415, 6715416, 6715417, 6715418,
            6715419, 6715420, 6715421, 6715422, 6715423, 6715424, 6715425, 6715426], inplace = True)

In [6]:
inputs.drop_duplicates(inplace = True)

UserWarning: User-defined function verification is still under development in Modin. The function provided is not verified.

In [7]:
#backup
#inputs.to_csv('inputs.csv')

In [8]:
pd.set_option('display.max_columns', None)
inputs.head()

,id_registro,periodo,id_cli,fecha_nacimiento,edad,genero,estado_civil,nivel_academico,profesion,ocupacion,ult_actual,cupo_tc_mdo,saldo_prom3_tdc_mdo,cuota_tc_mdo,saldo_no_rot_mdo,cuota_libranza_sf,cant_oblig_tot_sf,cant_cast_ult_12m_sr,ind,rep_calif_cred,pol_centr_ext,gasto_familiar
0,2089776#201908,201908,2089776,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,20180526.0,0.0,0.0,0.0,903000.0,0.0,1.0,0.0,311715.5,C,0.0,232526.0
1,2089776#201909,201909,2089776,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,20180526.0,0.0,0.0,0.0,903000.0,0.0,1.0,0.0,311715.5,C,0.0,265900.0
2,2089776#201907,201907,2089776,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,20180526.0,0.0,0.0,0.0,903000.0,0.0,1.0,0.0,311306.0,C,0.0,243052.0
3,2089776#201903,201903,2089776,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,20180526.0,0.0,0.0,0.0,2433000.0,0.0,1.0,0.0,311306.0,C,0.0,276014.0
4,2089776#201911,201911,2089776,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,20180526.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,677516.0,C,0.0,418866.0

## Mirar los Null

In [9]:
sum(inputs['periodo'].isnull())

0

In [10]:
print(sum(inputs['id_cli'].isnull()))
print(len(inputs['id_cli'].unique()))

0
819841

In [11]:
sum(inputs['fecha_nacimiento'].isnull())

0

In [12]:
inputs.loc[inputs['edad'] == '\\N','edad'] = np.nan
inputs['edad'] = inputs['edad'].astype(float)
inputs['edad']= inputs['edad'].round()
inputs
sum(inputs['edad'].isnull())

0

In [13]:
print(inputs['genero'].unique())
print(sum(inputs['genero'] == ' '))
inputs.loc[inputs['genero'] == ' ', 'genero'] = np.nan

['M' 'F']
0

In [14]:
print(inputs['estado_civil'].unique())
inputs.loc[inputs['estado_civil'].isin(['NO INFORMA','\\N']),'estado_civil'] = 'NO INFORMA'
sum(inputs['estado_civil'] == 'NO INFORMA')

['DIVORCIADO' 'UNION LIBRE' 'SOLTERO' 'CASADO' 'VIUDO' 'NO INFORMA' 'OTRO'
 nan]

18552

In [15]:
inputs.loc[inputs['nivel_academico'].isin(['NO INFORMA','SIN INFORMACION']),'nivel_academico'] = 'NO INFORMA'
print(inputs['nivel_academico'].unique())

['TECNOLOGO' 'UNIVERSITARIO' 'ESPECIALIZACION' 'BACHILLER' 'PRIMARIO'
 'NINGUNO' 'NO INFORMA']

In [16]:
inputs['profesion'].unique()

array(['TECNOLOGIA SISTEMAS', 'VETERINARIA', 'OTROS',
       'COMUNICACION SOCIAL', 'INGENIERIA DE PETROLEOS', 'ADMINISTRACION',
       'DERECHO', 'BACTERIOLOGIA', 'INGENIERO METALURGICO', 'INGENIERO',
       'INGENIERIA DE SISTEMAS', 'ODONTOLOGIA', 'TECNOLOGIA ELECTRICIDAD',
       'CONTADURIA', 'NINGUNA', 'EDUCACION', 'QUIMICA FARMACEUTICA',
       'COMERCIO INTERNACIONAL', 'CONSTRUCCION CIVIL',
       'INGENIERIA ADMINISTRATIVA', 'INGENIERIA CIVIL',
       'INGENIERO ELECTRONICO', 'INGENIERIA AMBIENTAL', 'TRABAJO SOCIAL',
       'TECNOLOGIA EN ADMINISTRACION', 'ECONOMIA', 'INGENIERIA AGRICOLA',
       'AGRONOMIA', 'MERCADOTECNIA', 'ARQUITECTURA', 'AUXILIAR CONTABLE',
       'ENFERMERIA', 'DECORADORES Y DISEÑADORES COMERCIALES',
       'INGENIERIA ELECTRICA', 'DISEÑO Y PUBLICIDAD',
       'TECNOLOGIA EN CIENCIAS DE LA SALUD', 'PSICOLOGIA', 'MEDICINA',
       'INGENIERIA FINANCIERA', 'INGENIERIA MECANICA',
       'INGENIERIA SANITARIA', 'AUXILIAR DE ENFERMERIA',
       'INGENIERIA INDUSTRIAL',
       'FOTOGRAFOS Y OPERADORES DE CAMARA CINE Y TV',
       'PROFESORES DE EDUCACION PREESCOLAR',
       'PROFESORES DE EDUCACION PRIMARIA', 'SACERDOTE',
       'AUXILIAR DE ODONTOLOGIA', 'TECNOLOGIA AGROPECUARIA',
       'INGENIRIA QUIMICA', 'BIOLOGIA', 'AZAFATA', 'SECRETARIADO',
       'TECNOLOGIA MECANICA', 'TRANSPORTADOR',
       'TECNOLOGIA EN CONSTRUCCION', 'TECNOLOGIA INDUSTRIAL',
       'NUTRICION Y DIETETICA', 'FILOSOFIA Y LETRAS', 'ARTES',
       'CARRERA MILITAR', 'PILOTOS', 'INGENIERIA DE MINAS',
       'OPERACIONES DE EQUIPOS MEDICOS', 'ZOOTECNIA', 'SOCIOLOGIA',
       'GEOLOGIA', 'PROFESORES DE EDUCACION ESPECIAL',
       'TECNOLOGIA DEPORTIVA', 'RELIGIOSA', 'DELINEANTE DE ARQUITECTURA',
       'REGENCIA DE FARMACIA', 'TRABAJADORES DE ASISTENCIA SOCIAL',
       'JOYERO', 'INGENIERIA FORESTAL',
       'PROFESIONALES EN METODOS DIDACTICOS',
       'INSPECTORES DE ESTABLECIMIENTOS DE ENSEÑANZA',
       'TECNOLOGIA EN MINAS',
       'ESPEC EN PROBL DE PERS Y ORIENTA ANAL. PRP', nan,
       'BIBLIOTECARIOS, ARCHIVEROS Y ENCARGA DE MUSEO',
       'ESCRITORES, PERIODISTAS Y TRABAJADORES SIMIL',
       'DEPORTISTAS, ENTRENADORES, TECNICOS DEPORT',
       'MUSICOS, ARTISTAS, EMPRESARIOS Y PRUD ESPECT',
       'SOCIOLOGO, ANTROPOLOGOS Y ESPECIALISTA SIMIL',
       'FILOSOFOS, TRADUCTORES E INTERPRETES',
       'HISTORIADOR, Y PROFESEN CIENCIAS POLITICAS',
       'ESCULTORES, PINTORES, FOTOGRAFOS Y ART SIMI'], dtype=object)

In [17]:
inputs['ocupacion'].unique()
inputs.loc[inputs['ocupacion'] == '\\N', 'ocupacion'] = 'vacio'
# sumar  ANTROPOLOGOS Y ESPECIALISTA SIMIL, ARCHIVEROS Y ENCARGA DE MUSEO 
# sumar '\\N' y 'Otro'

inputs.loc[inputs['tipo_vivienda'] == '\\N','tipo_vivienda'] = 'NO INFORMA'
inputs['tipo_vivienda'].unique()

In [18]:
inputs.loc[inputs['ult_actual'] == '\\N'] = np.NaN
inputs['ult_actual'] = inputs['ult_actual'].astype('float')
print(sum(inputs['ult_actual'].isnull()))
print(inputs['ult_actual'].unique())

0
[20180526. 20200902. 20200131. ... 20170130. 20170206. 20170312.]

In [19]:
inputs['categoria'].unique()
inputs.loc[inputs['categoria'] == '\\N','categoria'] = '0'
#inputs['categoria'] = inputs['categoria'].astype('int')
print(sum(inputs['categoria'] == 0))

637

In [20]:
inputs['codigo_ciiu'].unique()

array([1.000e+01, 9.609e+03, 8.691e+03, 1.410e+02, 8.692e+03, 8.622e+03,
       0.000e+00, 5.223e+03, 4.799e+03, 9.000e+01, 7.110e+03, 1.690e+03,
       8.211e+03, 8.299e+03, 4.665e+03, 8.621e+03, 6.621e+03, 7.490e+03,
       5.920e+03, 7.020e+03, 4.645e+03, 7.120e+03, 6.920e+03, 6.910e+03,
       7.730e+03, 4.330e+03, 9.329e+03, 4.321e+03, 1.051e+03, 6.202e+03,
       6.810e+03, 6.209e+03, 4.652e+03, 4.774e+03, 4.759e+03, 4.761e+03,
       4.741e+03, 9.512e+03, 8.610e+03, 8.541e+03, 2.825e+03, 7.310e+03,
       8.512e+03, 7.010e+03, 7.500e+03, 3.312e+03, 4.719e+03, 4.923e+03,
       4.620e+03, 6.820e+03, 4.659e+03, 1.210e+02, 4.290e+03, 5.619e+03,
       4.669e+03, 5.511e+03, 8.551e+03, 1.811e+03, 4.729e+03, 4.723e+03,
       5.630e+03, 4.752e+03, 3.811e+03, 1.220e+02, 6.201e+03, 4.921e+03,
       4.711e+03, 8.430e+03, 5.911e+03, 4.329e+03, 6.619e+03, 4.724e+03,
       8.553e+03, 3.210e+03, 1.812e+03, 9.602e+03, 6.120e+03, 9.003e+03,
       1.709e+03, 1.410e+03, 3.315e+03, 4.754e+03, 9.006e+03, 7.911e+03,
       4.771e+03, 3.900e+03, 5.613e+03, 5.611e+03, 3.110e+03, 7.220e+03,
       8.523e+03, 4.530e+03, 4.542e+03, 9.603e+03, 9.311e+03, 4.731e+03,
       7.410e+03, 8.219e+03, 4.642e+03, 1.312e+03, 1.052e+03, 5.629e+03,
       4.792e+03, 4.722e+03, 5.229e+03, 8.513e+03, 7.210e+03, 2.229e+03,
       4.390e+03, 6.190e+03, 8.423e+03, 1.392e+03, 1.150e+02, 4.649e+03,
       4.773e+03, 8.413e+03, 4.772e+03, 6.110e+03, 5.621e+03, 7.710e+03,
       4.663e+03, 4.610e+03, 9.511e+03, 1.110e+02, 5.811e+03, 4.631e+03,
       4.111e+03, 8.552e+03, 9.004e+03, 7.729e+03, 8.699e+03, 6.311e+03,
       4.755e+03, 1.620e+02, 8.200e+01, 9.005e+03, 4.922e+03, 5.519e+03,
       1.040e+03, 4.520e+03, 9.522e+03, 6.511e+03, 6.010e+03, 1.081e+03,
       8.230e+03, 1.300e+02, 5.231e+03, 9.499e+03, 4.632e+03, 1.313e+03,
       1.082e+03, 9.491e+03, 7.320e+03, 4.789e+03, 8.559e+03, 8.810e+03,
       8.030e+03, 1.190e+02, 2.790e+03, 4.220e+03, 5.224e+03, 8.130e+03,
       1.399e+03, 8.110e+02, 8.522e+03, 6.612e+03, 5.320e+03, 6.399e+03,
       4.751e+03, 9.101e+03, 2.410e+03, 6.613e+03, 8.530e+03, 2.651e+03,
       1.230e+02, 1.250e+02, 1.450e+02, 8.110e+03, 2.100e+02, 2.219e+03,
       3.314e+03, 4.791e+03, 4.721e+03, 4.512e+03, 9.411e+03, 7.830e+03,
       1.610e+03, 1.440e+02, 4.541e+03, 4.782e+03, 5.514e+03, 1.610e+02,
       5.210e+03, 8.790e+03, 8.415e+03, 4.690e+03, 1.500e+02, 7.810e+03,
       8.542e+03, 8.414e+03, 6.629e+03, 9.309e+03, 6.020e+03, 6.423e+03,
       4.511e+03, 1.130e+02, 8.890e+03, 1.521e+03, 4.643e+03, 7.721e+03,
       9.007e+03, 9.529e+03, 1.280e+02, 1.240e+02, 6.532e+03, 7.420e+03,
       1.090e+03, 1.702e+03, 8.560e+03, 8.511e+03, 1.020e+03, 4.662e+03,
       6.421e+03, 9.524e+03, 5.121e+03, 4.312e+03, 2.022e+03, 8.521e+03,
       3.290e+03, 2.511e+03, 9.002e+03, 9.900e+03, 7.990e+03, 2.030e+03,
       9.412e+03, 8.129e+03, 1.089e+03, 1.630e+03, 4.653e+03, 1.290e+02,
       1.563e+03, 5.234e+03, 6.493e+03, 2.822e+03, 6.042e+03, 1.260e+02,
       4.781e+03, 6.422e+03, 1.180e+02, 5.914e+03, 2.829e+03, 8.220e+03,
       6.339e+03, 6.411e+03, 9.200e+03, 8.424e+03, 8.543e+03, 8.292e+03,
       6.512e+03, 4.664e+03, 3.320e+03, 2.591e+03, 5.820e+03, 1.101e+03,
       1.084e+03, 6.022e+03, 3.313e+03, 6.130e+03, 9.820e+03, 4.775e+03,
       6.615e+03, 4.762e+03, 4.732e+03, 8.411e+03, 2.100e+03, 4.641e+03,
       9.319e+03, 2.592e+03, 9.001e+03, 1.522e+03, 4.112e+03, 1.513e+03,
       5.512e+03, 5.819e+03, 3.099e+03, 4.322e+03, 8.121e+03, 5.112e+03,
       4.210e+03, 4.651e+03, 4.912e+03, 9.810e+03, 5.612e+03, 3.120e+03,
       9.700e+03, 6.611e+03, 5.310e+03, 4.521e+03, 4.911e+03, 5.530e+03,
       1.030e+03, 5.912e+03, 4.661e+03, 7.912e+03, 2.811e+03, 8.544e+03,
       1.620e+03, 1.512e+03, 2.221e+03, 6.312e+03, 8.100e+01, 2.740e+03,
       4.644e+03, 3.230e+03, 9.601e+03, 5.813e+03, 1.420e+03, 8.010e+03,
       3.250e+03, 1.490e+02, 8.020e+03, 2.013e+03, 4.753e+03, 1.000e+00,
       1.120e+02, 2.394e+03, 1.104e+03, 3.600e+03, 7.740e+03, 4.769e+03,
       6.431e+03, 2.400e+02, 5.132e+03, 4.311e+03, 5.590e+03, 5.269e+03,
       2.826e+03, 3.830e+03, 5.222e+03, 5.111e+03, 5.233e+03, 3.513e+03,
       9.008e+03, 7.820e+03, 9.321e+03, 9.900e+02, 3.220e+02, 2.660e+03,
       6.499e+03, 3.700e+03, 3.511e+03, 1.391e+03, 9.521e+03, 1.011e+03,
       2.599e+03, 2.815e+03, 9.100e+02, 2.011e+03, 2.819e+03, 2.431e+03,
       1.012e+03, 1.311e+03, 8.412e+03, 2.212e+03, 2.711e+03, 1.200e+03,
       6.391e+03, 3.120e+02, 3.822e+03, 5.272e+03, 4.930e+03, 5.221e+03,
       3.311e+03, 8.710e+03, 5.170e+03, 1.630e+02, 6.491e+03, 6.514e+03,
       2.750e+03, 2.670e+03, 4.742e+03, 5.100e+02, 9.219e+03, 6.412e+03,
       6.211e+03, 2.399e+03, 6.719e+03, 2.712e+03, 3.520e+03, 5.011e+03,
       5.219e+03, 9.111e+03, 3.319e+03, 2.930e+03, 6.424e+03, 5.012e+03,
       1.083e+03, 1.063e+03, 1.140e+02, 5.513e+03, 1.921e+03, 9.103e+03,
       2.392e+03, 2.023e+03, 9.312e+03, 5.122e+03, 1.071e+03, 1.062e+03,
       8.422e+03, 1.270e+02, 2.652e+03, 3.210e+02, 2.391e+03, 1.820e+03,
       1.102e+03, 7.499e+03, 6.495e+03, 2.421e+03, 6.614e+03, 2.593e+03,
       2.396e+03, 5.030e+03, 8.291e+03, 7.220e+02, 1.523e+03, 6.100e+02,
       8.910e+02, 1.420e+02, 2.310e+03, 2.393e+03, 5.520e+03, 2.610e+03,
       2.429e+03, 1.910e+03, 1.393e+03, 6.522e+03, 1.640e+03, 2.823e+03,
       2.029e+03, 5.239e+03, 2.920e+03, 7.290e+03, 5.225e+03, 6.521e+03,
       2.211e+03, 2.200e+02, 3.530e+03, 2.821e+03, 5.134e+03, 7.100e+02,
       3.092e+03, 5.232e+03, 3.240e+03, 2.630e+03, 2.413e+03, 9.420e+03,
       9.102e+03, 5.913e+03, 2.620e+03, 9.302e+03, 8.421e+03, 2.640e+03,
       8.519e+03, 5.135e+03, 9.009e+03, 1.394e+03, 6.031e+03, 2.432e+03,
       3.091e+03, 8.050e+03, 6.630e+03, 2.512e+03, 6.531e+03, 5.211e+03,
       1.600e+03, 5.139e+03, 2.814e+03, 7.411e+03, 5.244e+03, 3.110e+02,
       3.821e+03, 2.910e+03, 1.810e+03, 3.220e+03, 1.511e+03, 8.060e+03,
       5.051e+03, 7.210e+02, 6.494e+03, 5.262e+03, 1.430e+03, 9.492e+03,
       2.012e+03, 2.529e+03, 8.730e+03, 4.552e+03, 6.492e+03, 3.410e+03,
       1.400e+02, 3.691e+03, 2.817e+03, 2.395e+03, 1.701e+03, 5.200e+02,
       9.199e+03, 1.061e+03, 9.213e+03, 5.022e+03, 2.816e+03, 8.720e+03,
       6.432e+03, 2.732e+03, 3.699e+03, 2.014e+03, 7.290e+02, 8.120e+02,
       5.021e+03, 1.072e+03, 7.512e+03, 5.521e+03, 9.523e+03, 7.722e+03,
       3.020e+03, 6.513e+03, 7.250e+03, 6.021e+03, 1.700e+02, 2.021e+03,
       2.513e+03, 1.640e+02, 8.990e+02, 3.012e+03, 8.021e+03, 5.241e+03])

In [21]:
inputs

,id_registro,periodo,id_cli,fecha_nacimiento,edad,genero,estado_civil,nivel_academico,profesion,ocupacion,ult_actual,cupo_tc_mdo,saldo_prom3_tdc_mdo,cuota_tc_mdo,saldo_no_rot_mdo,cuota_libranza_sf,cant_oblig_tot_sf,cant_cast_ult_12m_sr,ind,rep_calif_cred,pol_centr_ext,gasto_familiar
0,2089776#201908,201908,2089776,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,20180526.0,0.0,0.000000e+00,0.0,903000.0,0.0,1.0,0.0,3.117155e+05,C,0.0,232526.0
1,2089776#201909,201909,2089776,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,20180526.0,0.0,0.000000e+00,0.0,903000.0,0.0,1.0,0.0,3.117155e+05,C,0.0,265900.0
2,2089776#201907,201907,2089776,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,20180526.0,0.0,0.000000e+00,0.0,903000.0,0.0,1.0,0.0,3.113060e+05,C,0.0,243052.0
3,2089776#201903,201903,2089776,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,20180526.0,0.0,0.000000e+00,0.0,2433000.0,0.0,1.0,0.0,3.113060e+05,C,0.0,276014.0
4,2089776#201911,201911,2089776,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,20180526.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,6.775160e+05,C,0.0,418866.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9527188,8596193#202011,202011,8596193,19740415.0,47.0,F,SOLTERO,UNIVERSITARIO,OTROS,Empleado,20201010.0,6800000.0,0.000000e+00,0.0,0.0,0.0,2.0,0.0,2.101424e+06,A,0.0,NaN
9527189,8616083#202011,202011,8616083,19850620.0,35.0,M,NO INFORMA,NO INFORMA,NaN,Socio Empleado - Socio,20201003.0,121890000.0,8.286667e+06,237000.0,99000.0,0.0,12.0,0.0,1.170550e+07,C,0.0,NaN
9527190,8670207#202011,202011,8670207,19740316.0,47.0,M,DIVORCIADO,NO INFORMA,NaN,Profesional Independiente,20200616.0,30100000.0,3.091700e+07,10350000.0,300000.0,0.0,17.0,0.0,-4.154790e+07,D,0.0,NaN
9527191,8677655#202011,202011,8677655,19780722.0,42.0,F,CASADO,ESPECIALIZACION,ECONOMIA,Empleado,20200423.0,102025000.0,3.760867e+07,1953000.0,184811000.0,0.0,18.0,0.0,5.313457e+06,B,0.0,NaN
9527192,8692808#202011,202011,8692808,19801025.0,40.0,F,NO INFORMA,UNIVERSITARIO,OTROS,Empleado,20200221.0,123910000.0,6.008000e+07,1141000.0,25769000.0,0.0,14.0,0.0,-2.172737e+06,E,0.0,NaN

In [22]:
print(inputs['ind_mora_vigente'].unique())
print(sum(inputs['ind_mora_vigente'] == '\\N'))
inputs.loc[inputs['ind_mora_vigente'] == '\\N','ind_mora_vigente'] = np.nan
#inputs.dropna(inplace = True)
#inputs.loc[inputs['ind_mora_vigente'] == '\\N','ind_mora_vigente'] = 0
inputs.loc[inputs['ind_mora_vigente'] == 0,'ind_mora_vigente'] = False
inputs.loc[inputs['ind_mora_vigente'] == 1,'ind_mora_vigente'] = True
inputs['ind_mora_vigente'] = inputs['ind_mora_vigente'].astype(bool)

[True 'True' 'N' 'S' nan]
0

In [23]:
print(inputs['cartera_castigada'].unique())
print(sum(inputs['cartera_castigada'] == '\\N'))
inputs.loc[inputs['cartera_castigada'] == 0,'cartera_castigada'] = False
inputs.loc[inputs['cartera_castigada'] == 1,'cartera_castigada'] = True
inputs['cartera_castigada'] = inputs['cartera_castigada'].astype(bool)

[True 'True' 'N' 'S' nan]
0

In [24]:
#quita los espacios vacios
inputs['ciudad_residencia'] = inputs['ciudad_residencia'].str.strip()
inputs['ciudad_residencia'].unique()

array(['CALI', 'GARZON', 'MEDELLIN', ..., 'SANTA MARIA (BOYACA)',
       'AMBALEMA - URAMITA', 'SIBUNDOY - SIBUNDOY'], dtype=object)

inputs['departamento_residencia'] = inputs['departamento_residencia'].str.strip()
inputs['departamento_residencia'].unique()

inputs['ciudad_laboral'] = inputs['ciudad_laboral'].str.strip()
inputs['ciudad_laboral'].unique()

inputs['departamento_laboral'] = inputs['departamento_laboral'].str.strip()
inputs['departamento_laboral'].unique()

print(inputs['rechazo_credito'].unique())
sum(inputs['rechazo_credito'] == '\\N')

In [25]:
print(inputs['mora_max'].unique())
print(sum(inputs['mora_max'] == '\\N'))
inputs.loc[inputs['mora_max'] == '\\N','mora_max'] = np.nan
inputs['mora_max'] = inputs['mora_max'].astype(float)

[0.000e+00 3.000e+00 2.800e+01 1.000e+00 1.600e+01 1.400e+01 1.300e+01
 1.200e+01 8.000e+00 2.000e+00 7.000e+00 3.700e+01 7.000e+01 4.000e+01
 2.000e+01 2.400e+01 1.500e+01 4.000e+00 5.000e+00 2.200e+01 2.270e+02
 2.120e+02 1.700e+01 1.900e+01 2.100e+01 2.700e+01 6.000e+01 2.900e+01
 3.900e+01 2.600e+01 1.800e+01 3.400e+01 5.900e+01 2.500e+01 1.050e+02
 7.500e+01 3.000e+01 6.000e+00 5.700e+01 1.170e+02 4.400e+01 3.200e+01
 6.100e+01 5.800e+01 1.000e+01 9.000e+00 4.500e+01 4.800e+01 8.000e+01
 8.500e+01 5.500e+01 3.300e+01 3.100e+01 4.600e+01 4.300e+01 3.800e+01
 1.800e+02 2.100e+02 2.300e+01 1.100e+01 8.900e+01 3.500e+01 2.140e+02
 6.500e+01 1.270e+02 1.580e+02 9.700e+01 7.600e+01 1.040e+02 1.220e+02
 1.530e+02 9.500e+01 9.600e+01 4.900e+01 8.800e+01 2.530e+02 1.330e+02
 7.300e+01 1.630e+02 2.230e+02 1.930e+02 4.200e+01 1.000e+02 1.320e+02
 5.000e+01 1.650e+02 4.700e+01 1.350e+02 2.450e+02 6.800e+01 4.100e+01
 9.100e+01 1.030e+02 5.400e+01 1.480e+02 1.190e+02 1.780e+02 7.900e+01
 3.600e+01 5.200e+01 1.110e+02 8.700e+01 1.370e+02 1.690e+02 1.380e+02
 7.700e+01 1.070e+02 1.990e+02 1.660e+02 4.350e+02 1.360e+02 1.490e+02
 2.260e+02 4.040e+02 1.640e+02 2.200e+02 7.200e+01 8.200e+01 5.100e+01
 2.110e+02 6.300e+01 7.800e+01 2.250e+02 2.390e+02 1.060e+02 1.980e+02
 1.740e+02 2.070e+02 1.790e+02 8.600e+01 3.880e+02 1.340e+02 1.810e+02
 2.410e+02 3.330e+02 3.940e+02 2.720e+02 1.500e+02 3.630e+02 4.550e+02
 4.250e+02 1.140e+02 3.300e+02 5.600e+01 8.300e+01 1.180e+02 2.240e+02
 2.360e+02 2.090e+02 6.400e+01 1.230e+02 6.600e+01 1.730e+02 1.420e+02
 8.100e+01 2.540e+02 7.400e+01 2.170e+02 4.470e+02 2.040e+02 4.170e+02
 2.330e+02 3.250e+02 2.640e+02 3.860e+02 2.550e+02 1.720e+02 1.120e+02
 3.550e+02 2.670e+02 2.400e+02 1.430e+02 2.310e+02 1.750e+02 2.030e+02
 2.680e+02 8.400e+01 1.950e+02 1.620e+02 1.200e+02 2.420e+02 1.510e+02
 9.000e+01 1.310e+02 1.610e+02 1.920e+02 5.140e+02 1.280e+02 2.080e+02
 2.900e+02 3.540e+02 3.270e+02 2.930e+02 2.690e+02 4.080e+02 1.570e+02
 6.700e+01 9.400e+01 1.960e+02 1.080e+02 2.440e+02 1.970e+02 2.580e+02
 2.280e+02 1.710e+02 1.400e+02 1.100e+02 9.800e+01 2.370e+02 1.250e+02
 1.240e+02 1.830e+02 2.020e+02 1.880e+02 2.150e+02 2.700e+02 2.060e+02
 4.800e+02 1.440e+02 2.970e+02 4.390e+02 1.090e+02 2.000e+02 2.320e+02
 7.100e+01 6.200e+01 9.200e+01 1.150e+02 5.300e+01 5.050e+02 2.820e+02
 1.770e+02 7.350e+02 7.360e+02 1.470e+02 1.010e+02 2.840e+02 3.020e+02
 1.160e+02 2.980e+02 3.900e+02 4.180e+02 3.280e+02 3.590e+02 1.560e+02
 9.300e+01 2.350e+02 2.380e+02 1.020e+02 1.390e+02 3.060e+02 4.130e+02
 1.300e+02 2.500e+02 1.590e+02 1.290e+02 6.900e+01 4.500e+02 2.160e+02
 2.630e+02 2.620e+02 2.220e+02 2.830e+02 3.130e+02 3.800e+02 2.210e+02
 3.730e+02 5.830e+02 6.430e+02 7.030e+02 4.630e+02 5.530e+02 6.130e+02
 4.030e+02 5.230e+02 4.330e+02 9.990e+02 2.050e+02 1.460e+02 1.940e+02
 2.180e+02 3.260e+02 4.770e+02 5.080e+02 2.950e+02 7.650e+02 1.410e+02
 1.492e+03 1.600e+02 2.010e+02 1.130e+02 2.850e+02 9.900e+01 2.430e+02
 3.320e+02 2.300e+02 2.130e+02 2.203e+03 2.172e+03 1.806e+03 2.018e+03
 1.867e+03 2.233e+03 2.141e+03 1.745e+03 1.625e+03 2.050e+03 1.990e+03
 1.927e+03 1.836e+03 1.653e+03 1.773e+03 1.591e+03 2.109e+03 1.958e+03
 1.682e+03 3.220e+02 1.700e+02 4.140e+02 2.610e+02 3.520e+02 3.830e+02
 3.840e+02 2.560e+02 3.430e+02 2.660e+02 4.640e+02 5.470e+02 1.860e+02
 1.260e+02 2.960e+02 1.680e+02 4.950e+02 2.600e+02 3.740e+02 3.660e+02
 1.520e+02 1.550e+02 1.210e+02 4.190e+02 3.110e+02 2.880e+02 1.820e+02
 1.850e+02 3.010e+02 3.310e+02 1.910e+02 3.360e+02 3.080e+02 2.760e+02
 5.980e+02 1.670e+02 3.140e+02 3.890e+02 2.290e+02 3.570e+02 2.990e+02
 3.040e+02 2.510e+02 6.800e+02 8.020e+02 9.860e+02 6.520e+02 7.110e+02
 1.260e+03 8.330e+02 8.940e+02 1.017e+03 1.046e+03 7.720e+02 1.199e+03
 1.230e+03 8.640e+02 1.138e+03 9.550e+02 6.210e+02 1.168e+03 2.770e+02
 1.900e+02 2.190e+02 4.870e+02 3.960e+02 3.410e+02 4.020e+02 3.710e+02
 2.490e+02 2.800e+02 1.890e+02 2.870e+02 5.750e+02 6.050e+02 1.065e+03
 1.450e+02 3.440e+02 3.290e+02 3.910e+02 3.610e+02 8.220e+02 3.490e+02
 7.950e+02 1.540e+02 3.450e+02 3.930e+02 2.520e+02 6.310e+02 4.110e+02
 3.190e+02 3.810e+02 2.890e+02 3.500e+02 4.210e+02 1.760e+02 1.870e+02
 2.920e+02 2.860e+02 2.340e+02 4.490e+02 3.580e+02 2.910e+02 2.460e+02
 1.840e+02 3.700e+02 3.850e+02 3.120e+02 3.420e+02 2.810e+02 3.230e+02
 5.890e+02 3.870e+02 2.650e+02 3.560e+02 1.876e+03 2.480e+02 3.340e+02
 5.870e+02 2.570e+02 3.030e+02 2.710e+02 3.200e+02 5.700e+02 4.050e+02
 4.830e+02 7.280e+02 4.860e+02 3.600e+02 4.200e+02 3.990e+02 5.280e+02
 7.130e+02 2.470e+02 3.070e+02 2.707e+03 2.342e+03 2.373e+03 2.798e+03
 2.432e+03 2.554e+03 2.859e+03 2.738e+03 2.401e+03 2.981e+03 2.523e+03
 2.676e+03 2.585e+03 2.615e+03 2.889e+03 2.951e+03 2.493e+03 3.000e+02
 2.740e+02 5.380e+02 3.640e+02 4.010e+02 2.790e+02 3.100e+02 2.590e+02
 2.161e+03 7.600e+02 8.190e+02 8.800e+02 5.440e+02 9.410e+02 6.360e+02
 8.490e+02 6.990e+02 9.110e+02 5.130e+02 6.680e+02 3.780e+02 3.090e+02
 2.750e+02 3.050e+02 1.535e+03 1.233e+03 1.080e+03 1.052e+03 1.018e+03
 1.200e+03 1.109e+03 1.172e+03 8.550e+02 3.720e+02 5.450e+02 2.253e+03
 3.480e+02 3.160e+02 4.360e+02 3.650e+02 4.340e+02 6.510e+02 5.880e+02
 4.670e+02 6.190e+02 4.060e+02 4.580e+02 4.970e+02 6.840e+02 3.180e+02
 4.260e+02 6.320e+02 3.510e+02 4.070e+02 3.760e+02 6.200e+02 5.580e+02
 4.440e+02 3.001e+03 3.124e+03 3.062e+03 2.759e+03 2.940e+03 3.184e+03
 3.306e+03 2.909e+03 2.971e+03 2.787e+03 2.728e+03 3.093e+03 3.153e+03
 3.367e+03 3.245e+03 2.879e+03 2.818e+03 3.337e+03 3.275e+03 5.730e+02
 6.380e+02 3.210e+02 4.790e+02 6.030e+02 4.510e+02 2.101e+03 1.085e+03
 6.720e+02 6.410e+02 3.170e+02 4.090e+02 3.240e+02 3.470e+02 5.770e+02
 1.136e+03 1.105e+03 1.075e+03 4.740e+02 7.180e+02 8.670e+02 3.790e+02
 7.440e+02 5.930e+02 9.290e+02 8.360e+02 6.530e+02 5.000e+02 9.000e+02
 9.590e+02 7.760e+02 5.620e+02 5.320e+02 6.940e+02 3.350e+02 5.260e+02
 4.650e+02 4.960e+02 2.940e+02 3.690e+02 3.380e+02 4.730e+02 4.420e+02
 5.010e+02 4.930e+02 3.460e+02 5.350e+02 4.760e+02 4.120e+02 4.430e+02
 3.680e+02 7.000e+02 6.010e+02 7.930e+02 4.810e+02 4.540e+02 4.000e+02
 6.630e+02 8.750e+02 3.820e+02 1.084e+03 5.070e+02 3.150e+02 1.365e+03
 6.060e+02 5.400e+02 5.100e+02 6.690e+02 5.220e+02 4.160e+02 9.520e+02
 1.164e+03 1.133e+03 1.561e+03 1.103e+03 1.377e+03 1.286e+03 1.195e+03
 1.499e+03 1.011e+03 1.408e+03 1.317e+03 1.042e+03 1.225e+03 1.469e+03
 1.348e+03 1.530e+03 9.830e+02 6.470e+02 4.300e+02 8.740e+02 5.820e+02
 1.143e+03 5.390e+02 5.690e+02 6.730e+02 8.850e+02 9.160e+02 4.700e+02
 4.400e+02 4.750e+02 7.460e+02 4.980e+02 5.950e+02 6.550e+02 6.270e+02
 4.620e+02 9.270e+02 3.620e+02 4.230e+02 7.920e+02 7.310e+02 4.840e+02
 4.220e+02 4.560e+02 5.090e+02 1.095e+03 1.916e+03 3.400e+02 6.830e+02
 7.020e+02 3.750e+02 4.240e+02 3.950e+02 5.170e+02 5.780e+02 1.089e+03
 3.670e+02 4.290e+02 4.150e+02 5.560e+02 4.380e+02 6.490e+02 6.790e+02
 4.610e+02 4.310e+02 7.300e+02 2.780e+02 4.600e+02 4.270e+02 3.970e+02
 1.115e+03 1.486e+03 2.730e+02 1.504e+03 8.560e+02 8.250e+02 9.730e+02
 8.810e+02 1.034e+03 8.510e+02 9.430e+02 7.590e+02 7.900e+02 9.120e+02
 9.220e+02 4.570e+02 3.082e+03 4.880e+02 8.780e+02 9.640e+02 1.554e+03
 8.060e+02 5.240e+02 8.260e+02 7.940e+02 4.590e+02 8.860e+02 7.340e+02
 9.340e+02 6.120e+02 5.500e+02 7.680e+02 9.170e+02 3.530e+02 4.280e+02
 1.131e+03 8.000e+02 6.300e+02 6.000e+02 7.160e+02 5.790e+02 6.100e+02
 5.490e+02 6.710e+02 2.626e+03 1.384e+03 1.155e+03 8.140e+02 5.630e+02
 1.515e+03 5.480e+02 4.410e+02 4.660e+02 4.780e+02 1.822e+03 7.380e+02
 4.690e+02 3.770e+02 9.390e+02 6.140e+02 7.320e+02 6.400e+02 4.890e+02
 7.630e+02 7.960e+02 5.800e+02 9.020e+02 8.870e+02 5.540e+02 3.980e+02
 5.200e+02 4.320e+02 5.990e+02 5.060e+02 4.940e+02 6.450e+02 7.430e+02
 1.077e+03 1.321e+03 1.139e+03 1.290e+03 1.352e+03 1.108e+03 9.240e+02
 1.016e+03 1.382e+03 7.740e+02 9.790e+02 1.048e+03 3.370e+02 7.060e+02
 7.370e+02 1.345e+03 1.162e+03 1.071e+03 9.180e+02 1.223e+03 1.040e+03
 1.315e+03 1.102e+03 1.284e+03 1.253e+03 8.570e+02 9.490e+02 6.170e+02
 5.970e+02 4.900e+02 1.198e+03 4.460e+02 4.100e+02 1.055e+03 9.650e+02
 1.076e+03 1.373e+03 1.707e+03 1.615e+03 1.889e+03 1.401e+03 1.585e+03
 1.920e+03 1.767e+03 1.951e+03 1.676e+03 1.523e+03 1.493e+03 1.981e+03
 1.342e+03 1.738e+03 1.432e+03 1.798e+03 1.859e+03 7.050e+02 5.960e+02
 5.650e+02 5.340e+02 4.450e+02 5.420e+02 5.410e+02 2.251e+03 6.950e+02
 6.370e+02 8.770e+02 1.151e+03 6.340e+02 5.190e+02 7.200e+02 6.750e+02
 6.390e+02 3.120e+03 8.200e+02 6.700e+02 1.656e+03]

0

inputs.to_csv('test_inputs2.csv')

In [26]:
inputs.head()

,id_registro,periodo,id_cli,fecha_nacimiento,edad,genero,estado_civil,nivel_academico,profesion,ocupacion,ult_actual,cupo_tc_mdo,saldo_prom3_tdc_mdo,cuota_tc_mdo,saldo_no_rot_mdo,cuota_libranza_sf,cant_oblig_tot_sf,cant_cast_ult_12m_sr,ind,rep_calif_cred,pol_centr_ext,gasto_familiar
0,2089776#201908,201908,2089776,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,20180526.0,0.0,0.0,0.0,903000.0,0.0,1.0,0.0,311715.5,C,0.0,232526.0
1,2089776#201909,201909,2089776,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,20180526.0,0.0,0.0,0.0,903000.0,0.0,1.0,0.0,311715.5,C,0.0,265900.0
2,2089776#201907,201907,2089776,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,20180526.0,0.0,0.0,0.0,903000.0,0.0,1.0,0.0,311306.0,C,0.0,243052.0
3,2089776#201903,201903,2089776,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,20180526.0,0.0,0.0,0.0,2433000.0,0.0,1.0,0.0,311306.0,C,0.0,276014.0
4,2089776#201911,201911,2089776,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,20180526.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,677516.0,C,0.0,418866.0

## Parte 2

import pandas as pd
import numpy as np

inputs = pd.read_csv('test_inputs2.csv', sep =',')

In [27]:
pd.set_option('display.max_columns', None)
inputs.head()

,id_registro,periodo,id_cli,fecha_nacimiento,edad,genero,estado_civil,nivel_academico,profesion,ocupacion,ult_actual,cupo_tc_mdo,saldo_prom3_tdc_mdo,cuota_tc_mdo,saldo_no_rot_mdo,cuota_libranza_sf,cant_oblig_tot_sf,cant_cast_ult_12m_sr,ind,rep_calif_cred,pol_centr_ext,gasto_familiar
0,2089776#201908,201908,2089776,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,20180526.0,0.0,0.0,0.0,903000.0,0.0,1.0,0.0,311715.5,C,0.0,232526.0
1,2089776#201909,201909,2089776,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,20180526.0,0.0,0.0,0.0,903000.0,0.0,1.0,0.0,311715.5,C,0.0,265900.0
2,2089776#201907,201907,2089776,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,20180526.0,0.0,0.0,0.0,903000.0,0.0,1.0,0.0,311306.0,C,0.0,243052.0
3,2089776#201903,201903,2089776,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,20180526.0,0.0,0.0,0.0,2433000.0,0.0,1.0,0.0,311306.0,C,0.0,276014.0
4,2089776#201911,201911,2089776,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,20180526.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,677516.0,C,0.0,418866.0

In [28]:
print(inputs['cant_moras_30_ult_12_meses'].unique())
inputs.loc[inputs['cant_moras_30_ult_12_meses'] == '\\N','cant_moras_30_ult_12_meses'] = np.nan
inputs['cant_moras_30_ult_12_meses'] = inputs['cant_moras_30_ult_12_meses'].astype(float)

[ 0.  1.  3.  2. 12. 11.  7.  8.  6.  4.  5. 10.  9.]

In [29]:
print(inputs['cant_moras_60_ult_12_meses'].unique())
inputs.loc[inputs['cant_moras_60_ult_12_meses'] == '\\N','cant_moras_60_ult_12_meses'] = np.nan
inputs['cant_moras_60_ult_12_meses'] = inputs['cant_moras_60_ult_12_meses'].astype(float)

[ 0.  1. 11.  2. 10.  3.  4.  5.  8.  7. 12.  6.  9.]

In [30]:
print(inputs['cant_moras_90_ult_12_meses'].unique())
inputs.loc[inputs['cant_moras_90_ult_12_meses'] == '\\N','cant_moras_90_ult_12_meses'] = np.nan
inputs['cant_moras_90_ult_12_meses'] = inputs['cant_moras_90_ult_12_meses'].astype(float)

[ 0.  8.  2.  9.  1.  3.  7. 12.  6. 10.  4. 11.  5.]

In [31]:
print(inputs['cupo_total_tc'].unique())
print(sum(inputs['cupo_total_tc'].isnull()))

[       0.  6000000.  3000000. ... 70082000. 30070000.  5817000.]
0

In [32]:
print(inputs['tenencia_tc'].unique())
inputs.loc[inputs['tenencia_tc']=='NO','tenencia_tc'] = False
inputs.loc[inputs['tenencia_tc']=='SI','tenencia_tc'] = True
inputs['tenencia_tc']=inputs['tenencia_tc'].astype(bool)

[False True 'True' 'False' 'NO' 'SI']

In [33]:
print(inputs['cuota_tc_bancolombia'].unique())
print(sum(inputs['cuota_tc_bancolombia'].isnull()))

[      0.      413837.5005  126000.     ...  387082.575   508134.276
 7620965.514 ]
0

In [34]:
print(inputs['tiene_consumo'].unique())
inputs.loc[inputs['tiene_consumo']=='\\N','tiene_consumo'] = False
inputs.loc[inputs['tiene_consumo']=='X','tiene_consumo'] = True
inputs['tiene_consumo']=inputs['tiene_consumo'].astype(bool)
print(sum(inputs['tiene_consumo'].isnull()))

[False True 'True' 'False' nan 'X']
0

In [35]:
print(inputs['tiene_crediagil'].unique())
inputs.loc[inputs['tiene_crediagil']=='\\N','tiene_crediagil'] = False
inputs.loc[inputs['tiene_crediagil']=='X','tiene_crediagil'] = True
inputs['tiene_crediagil']=inputs['tiene_crediagil'].astype(bool)
print(sum(inputs['tiene_crediagil'].isnull()))

[False True 'False' 'True' nan 'X']
0

In [36]:
print(inputs['nro_tot_cuentas'].unique())
inputs.loc[inputs['nro_tot_cuentas']=='\\N','nro_tot_cuentas'] = np.nan
inputs['nro_tot_cuentas'] = inputs['nro_tot_cuentas'].astype(float)

[ 1.  2.  0.  3.  4.  5.  6.  9.  7.  8. 23. 11. 30. 36. 15. 35. 24. 14.]

In [37]:
print(inputs['ctas_activas'].unique())
inputs.loc[inputs['ctas_activas']=='\\N','ctas_activas'] = np.nan
inputs['ctas_activas'] = inputs['ctas_activas'].astype(float)

[ 1.  2.  0.  3.  4.  5.  6.  9.  7.  8. 23. 11. 30. 36. 15. 10. 35. 24.
 14.]

In [38]:
print(inputs['tiene_ctas_activas'].unique())
inputs.loc[inputs['tiene_ctas_activas']=='\\N','tiene_ctas_activas'] = False
inputs.loc[inputs['tiene_ctas_activas']=='X','tiene_ctas_activas'] = True
inputs['tiene_ctas_activas']=inputs['tiene_ctas_activas'].astype(bool)
print(sum(inputs['tiene_ctas_activas'].isnull()))

[True False 'True' 'False' 'X' nan]
0

In [39]:
print(inputs['ctas_embargadas'].unique())
inputs.loc[inputs['ctas_embargadas']=='\\N','ctas_embargadas'] = np.nan
inputs['ctas_embargadas'] = inputs['ctas_embargadas'].astype(float)

[0. 1. 2. 3. 4.]

In [40]:
print(inputs['tiene_ctas_embargadas'].unique())
inputs.loc[inputs['tiene_ctas_embargadas']=='\\N','tiene_ctas_embargadas'] = False
inputs.loc[inputs['tiene_ctas_embargadas']=='X','tiene_ctas_embargadas'] = True
inputs['tiene_ctas_embargadas']=inputs['tiene_ctas_embargadas'].astype(bool)
print(sum(inputs['tiene_ctas_embargadas'].isnull()))

[False True 'False' 'True' nan 'X']
0

In [41]:
print(inputs['pension_fopep'].unique())
inputs.loc[inputs['pension_fopep']=='\\N','pension_fopep'] = False
inputs.loc[inputs['pension_fopep']=='X','pension_fopep'] = True
inputs['pension_fopep']=inputs['pension_fopep'].astype(bool)
print(sum(inputs['pension_fopep'].isnull()))

[False True 'False' 'True' nan 'X']
0

print(inputs['cuota_cred_hipot'].unique())
inputs.loc[inputs['cuota_cred_hipot']=='\\N','cuota_cred_hipot'] = np.nan
inputs['cuota_cred_hipot'] = inputs['cuota_cred_hipot'].astype(float)

In [42]:
print(inputs['tiene_cred_hipo_1'].unique())
inputs.loc[inputs['tiene_cred_hipo_1']=='\\N','tiene_cred_hipo_1'] = False
inputs.loc[inputs['tiene_cred_hipo_1']=='X','tiene_cred_hipo_1'] = True
inputs['tiene_cred_hipo_1']=inputs['tiene_cred_hipo_1'].astype(bool)
print(sum(inputs['tiene_cred_hipo_1'].isnull()))

[False True 'False' 'True' nan 'X']
0

In [43]:
print(inputs['tiene_cred_hipo_2'].unique())
inputs.loc[inputs['tiene_cred_hipo_2']=='\\N','tiene_cred_hipo_2'] = False
inputs.loc[inputs['tiene_cred_hipo_2']=='X','tiene_cred_hipo_2'] = True
inputs['tiene_cred_hipo_2']=inputs['tiene_cred_hipo_2'].astype(bool)
print(sum(inputs['tiene_cred_hipo_2'].isnull()))

[False True 'False' 'True' nan 'X']
0

In [44]:
print(inputs['mediana_nom3'].unique())

[ 1255032.  1282673.        0. ...  1922668. 14956096. 11916465.]

In [45]:
print(inputs['mediana_pen3'].unique())

[      0. 1918483. 1429361. ... 1096732. 1469267. 2065445.]

In [46]:
print(inputs['ingreso_nompen'].unique())

[ 1255032.  1282673.        0. ...  1922668. 14956096. 11916465.]

print(inputs['cat_ingreso'].unique())
inputs.loc[inputs['cat_ingreso']=='\\N','cat_ingreso'] = np.nan

In [47]:
print(inputs['ingreso_final'].unique())
inputs.loc[inputs['ingreso_final']=='\\N','ingreso_final'] = np.nan
inputs['ingreso_final'] = inputs['ingreso_final'].astype(float)

[ 1173431.  1172612.  1355032. ... 26913722. 14481371.  8407800.]

In [48]:
print(inputs['cant_mora_30_tdc_ult_3m_sf'].unique())
inputs.loc[inputs['cant_mora_30_tdc_ult_3m_sf']=='\\N','cant_mora_30_tdc_ult_3m_sf'] = np.nan
inputs['cant_mora_30_tdc_ult_3m_sf'] = inputs['cant_mora_30_tdc_ult_3m_sf'].astype(float)

[ 0.  1.  2.  4.  3.  6.  8.  5.  7.  9. 11. 10.]

In [49]:
print(inputs['cant_mora_30_consum_ult_3m_sf'].unique())
inputs.loc[inputs['cant_mora_30_consum_ult_3m_sf']=='\\N','cant_mora_30_consum_ult_3m_sf'] = np.nan
inputs['cant_mora_30_consum_ult_3m_sf'] = inputs['cant_mora_30_consum_ult_3m_sf'].astype(float)

[  0.   1.   2.   6.   4.   3.   5.   9.  15.  10.   7.   8.  11.  12.
  13.  14.  60.  41.  20.  42.  18.  16.  24.  17.  23.  34.  30.  45.
  19.  32.  21.  58.  56.  22.  35.  48.  36.  46.  38.  63.  59.  28.
  29.  27.  25.  26.  40. 115.  39.  52.  33.  66.  67.  50.  70.  86.
  37.  51.  54.  31.  62.  44. 144.  98.  91. 101. 100.  96.  68.  55.
  57.  80. 120.  82.  53.  79.  47.  72.  73.  89. 150.]

In [50]:
print(inputs['cuota_de_vivienda'].unique())

[      0.   1317000.   1331000.   ... 1071414.15  317405.72 9794649.65]

In [51]:
print(inputs['cuota_de_consumo'].unique())

[  275000.          0.     164000.   ... 15648142.7   1380417.
  2232547.58]

In [52]:
print(inputs['cuota_rotativos'].unique())

[      0.   33000.   17000. ... 4485000. 3334000. 3469000.]

In [53]:
print(inputs['cuota_tarjeta_de_credito'].unique())

[       0.    87000.    49000. ... 13170000. 23911000. 26334000.]

In [54]:
print(inputs['cuota_de_sector_solidario'].unique())

[       0.    45000.   522000. ...  5136000. 18258000. 11200000.]

In [55]:
print(inputs['cuota_sector_real_comercio'].unique())

[0.000000e+00 1.250000e+05 2.230000e+05 ... 1.082166e+09 7.388000e+06
 7.801000e+06]

In [56]:
print(inputs['cupo_tc_mdo'].unique())

[0.00000e+00 4.27000e+05 5.80000e+05 ... 1.07305e+08 1.21890e+08
 1.02025e+08]

In [57]:
print(inputs['saldo_prom3_tdc_mdo'].unique())

[       0.      427000.      335000.    ... 21942666.667 37608666.667
 60080000.   ]

In [58]:
print(inputs['cuota_tc_mdo'].unique())

[0.0000e+00 1.9500e+05 5.2000e+04 ... 3.3673e+07 3.4848e+07 5.3136e+07]

In [59]:
print(inputs['saldo_no_rot_mdo'].unique())

[9.03000e+05 2.43300e+06 0.00000e+00 ... 3.55074e+08 1.95269e+08
 3.18689e+08]

In [60]:
print(inputs['cuota_libranza_sf'].unique())

[      0.  501000. 1054000. ... 4842000. 6854000. 6559000.]

In [61]:
print(inputs['cant_oblig_tot_sf'].unique())
inputs.loc[inputs['cant_oblig_tot_sf']=='\\N','cant_oblig_tot_sf'] = np.nan
inputs['cant_oblig_tot_sf'] = inputs['cant_oblig_tot_sf'].astype(float)

[  1.   0.   3.   2.  10.   6.   9.  12.   4.   5.   7.   8.  13.  11.
  15.  14.  20.  19.  23.  25.  22.  17.  21.  18.  16.  24.  26.  28.
  27.  29.  36.  39.  30.  31.  34.  32.  50.  48.  40.  33.  37.  55.
  61.  74.  69.  43.  38.  35.  45.  42.  41.  60.  44.  47.  49.  58.
  64.  59.  46.  52.  53.  51.  57.  54.  76.  65.  62.  75.  84.  77.
  72.  67.  81.  68.  66.  56.  93. 104.  80.  71. 102.  89.  63.  70.
  78.  94. 112. 113.  82. 139. 109. 103. 127.  85.  87.  73.  79.  92.
  91.  88. 105.  97.]

In [62]:
print(inputs['cant_cast_ult_12m_sr'].unique())
inputs.loc[inputs['cant_cast_ult_12m_sr']=='\\N','cant_cast_ult_12m_sr'] = np.nan
inputs['cant_cast_ult_12m_sr'] = inputs['cant_cast_ult_12m_sr'].astype(float)

[  0.   1.   5.  19.   3.   4.  10.  11.   2.  22.   6.  66.   8.  88.
  12.  18.   7.   9.  41.  21.  33.  17.  77.  48.  20.  44.  42.  29.
  55.  32.  16.  13.  14.  54.  64.  27.  31.  38.  35. 110.  63.  37.
  52.  99.  23.  87.  43.  85.  15.  45.  91.  40.  34.  26.  53.  49.
  93.  69.  28.  58.  24.  78.  51.  76. 121.  30.  62. 132.  75.  65.
  25.  47.  96.  36.  50.  57. 108.  73.  74.  46. 506.  68.  83. 176.
  94. 165.  90.  71.  56.  39. 118.  61. 120. 104.  60.  59.  95. 144.
  98.  97.  86.  67. 139. 153. 143. 206. 267. 113. 117. 197.  82. 112.
  80. 308. 154.  84. 198. 105. 134. 111.  72. 264. 102. 231. 175.  92.
 129. 209.  70. 187.  89. 160. 128. 528.]

In [63]:
print(inputs['ind'].unique())
inputs.loc[inputs['ind']=='\\N','ind'] = np.nan
inputs['ind'] = inputs['ind'].astype(float)

[   311715.5       311306.        677516.     ... -41547904.85
   5313457.0125  -2172736.58  ]

In [64]:
print(inputs['rep_calif_cred'].unique())

['C' 'B' 'D' 'G' 'F' 'A' 'H' 'E' 'SIN INFO']

In [65]:
print(inputs['pol_centr_ext'].unique())
inputs.loc[inputs['pol_centr_ext']=='\\N','pol_centr_ext'] = np.nan
inputs['pol_centr_ext'] = inputs['pol_centr_ext'].astype(float)

[ 0.  8. 11.  7.  4.  1. 12. 10. 14. 13.  5.  2.  3.  9.  6. 15. 16. 17.
 18. 19. 20. 21. 22. 24. nan]

print(inputs['convenio_lib'].unique())
inputs.loc[inputs['convenio_lib']=='\\N','convenio_lib'] = np.nan
inputs.loc[inputs['convenio_lib']=='REVISAR CONVENIOS','convenio_lib'] = np.nan
inputs['convenio_lib'] = inputs['convenio_lib'].astype(float)

print(inputs['ingreso_nomina'].unique())
inputs.loc[inputs['ingreso_nomina']=='\\N','ingreso_nomina'] = np.nan
inputs['ingreso_nomina'] = inputs['ingreso_nomina'].astype(float)

print(inputs['ingreso_segurida_social'].unique())
inputs.loc[inputs['ingreso_segurida_social']=='\\N','ingreso_segurida_social'] = np.nan
inputs['ingreso_segurida_social'] = inputs['ingreso_segurida_social'].astype(float)

print(inputs['gasto_familiar'].unique())

In [68]:
inputs.columns

Index(['id_registro', 'periodo', 'id_cli', 'fecha_nacimiento', 'edad',
       'genero', 'estado_civil', 'nivel_academico', 'profesion', 'ocupacion',
       'ult_actual', 'categoria', 'codigo_ciiu', 'ind_mora_vigente',
       'cartera_castigada', 'ciudad_residencia', 'mora_max',
       'cant_moras_30_ult_12_meses', 'cant_moras_60_ult_12_meses',
       'cant_moras_90_ult_12_meses', 'cupo_total_tc', 'tenencia_tc',
       'cuota_tc_bancolombia', 'tiene_consumo', 'tiene_crediagil',
       'nro_tot_cuentas', 'ctas_activas', 'tiene_ctas_activas',
       'ctas_embargadas', 'tiene_ctas_embargadas', 'pension_fopep',
       'tiene_cred_hipo_1', 'tiene_cred_hipo_2', 'mediana_nom3',
       'mediana_pen3', 'ingreso_nompen', 'ingreso_final',
       'cant_mora_30_tdc_ult_3m_sf', 'cant_mora_30_consum_ult_3m_sf',
       'cuota_de_vivienda', 'cuota_de_consumo', 'cuota_rotativos',
       'cuota_tarjeta_de_credito', 'cuota_de_sector_solidario',
       'cuota_sector_real_comercio', 'cupo_tc_mdo', 'saldo_prom3_tdc_mdo',
       'cuota_tc_mdo', 'saldo_no_rot_mdo', 'cuota_libranza_sf',
       'cant_oblig_tot_sf', 'cant_cast_ult_12m_sr', 'ind', 'rep_calif_cred',
       'pol_centr_ext', 'gasto_familiar'],
      dtype='object')

In [69]:
inputs.shape

(9527193, 56)

In [70]:
inputs.describe(include = 'all').T

IndexError:  positional indexers are out-of-bounds

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
id_registro,9527193,9527193,8440976#201910,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
periodo,9.52719e+06,NaN,NaN,NaN,201959,49.6603,201902,201907,202001,202007,202011
id_cli,9.52719e+06,NaN,NaN,NaN,2.9855e+06,2.53255e+06,3,1.0826e+06,2.25538e+06,3.94006e+06,8.7048e+06
fecha_nacimiento,9.52719e+06,NaN,NaN,NaN,1.97712e+07,129659,1.90006e+07,1.96908e+07,1.98009e+07,1.98707e+07,2.02009e+07
edad,9.52719e+06,NaN,NaN,NaN,42.3635,12.9779,0,32,39,50,119
genero,9527193,2,F,4941539,NaN,NaN,NaN,NaN,NaN,NaN,NaN
estado_civil,9526675,7,SOLTERO,4609348,NaN,NaN,NaN,NaN,NaN,NaN,NaN
nivel_academico,9527193,7,UNIVERSITARIO,5711314,NaN,NaN,NaN,NaN,NaN,NaN,NaN
profesion,9477607,87,OTROS,3561488,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ocupacion,9527177,17,Empleado,7149136,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ult_actual,9.52719e+06,NaN,NaN,NaN,2.01905e+07,11867.9,0,2.01901e+07,2.01907e+07,2.02001e+07,2.0201e+07
categoria,9.52387e+06,NaN,NaN,NaN,1.49368,0.670023,0,1,1,2,5
codigo_ciiu,9.52719e+06,NaN,NaN,NaN,387.611,1634.03,0,10,10,10,9900
ind_mora_vigente,9527193,1,True,9527193,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cartera_castigada,9527193,1,True,9527193,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ciudad_residencia,9526350,1711,BOGOTA D.C.,2634338,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mora_max,9.52719e+06,NaN,NaN,NaN,3.6386,19.8764,0,0,0,0,3367
cant_moras_30_ult_12_meses,9.52719e+06,NaN,NaN,NaN,0.0505194,0.472796,0,0,0,0,12
cant_moras_60_ult_12_meses,9.52719e+06,NaN,NaN,NaN,0.0255511,0.356678,0,0,0,0,12
cant_moras_90_ult_12_meses,9.52719e+06,NaN,NaN,NaN,0.0167688,0.292358,0,0,0,0,12
cupo_total_tc,9.52719e+06,NaN,NaN,NaN,6.28941e+06,1.31279e+07,0,0,0,7.7e+06,9.662e+08
tenencia_tc,9527193,2,False,4910367,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cuota_tc_bancolombia,9.52719e+06,NaN,NaN,NaN,268202,699790,0,0,0,296000,1.18706e+08
tiene_consumo,9527193,2,False,7767426,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tiene_crediagil,9527193,2,False,7609822,NaN,NaN,NaN,NaN,NaN,NaN,NaN
nro_tot_cuentas,9.52719e+06,NaN,NaN,NaN,1.10458,0.459495,0,1,1,1,36
ctas_activas,9.52719e+06,NaN,NaN,NaN,1.03458,0.409644,0,1,1,1,36
tiene_ctas_activas,9527193,2,True,8973732,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ctas_embargadas,9.52719e+06,NaN,NaN,NaN,0.00305337,0.057891,0,0,0,0,4
tiene_ctas_embargadas,9527193,2,False,9203902,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pension_fopep,9527193,2,False,8963825,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tiene_cred_hipo_1,9527193,2,False,9228426,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tiene_cred_hipo_2,9527193,2,False,9228426,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mediana_nom3,9.52719e+06,NaN,NaN,NaN,1.43265e+06,2.92597e+06,0,0,0,2.1248e+06,5.8263e+08
mediana_pen3,9.52719e+06,NaN,NaN,NaN,217806,1.09923e+06,0,0,0,0,8.25295e+08
ingreso_nompen,9.52719e+06,NaN,NaN,NaN,1.65045e+06,3.04974e+06,0,0,0,2.44629e+06,8.25295e+08
ingreso_final,9.52719e+06,NaN,NaN,NaN,4.79009e+06,7.57905e+06,0,1.902e+06,3.1162e+06,5.3e+06,6.67855e+09
cant_mora_30_tdc_ult_3m_sf,9.52719e+06,NaN,NaN,NaN,0.0214512,0.187086,0,0,0,0,11
cant_mora_30_consum_ult_3m_sf,9.52719e+06,NaN,NaN,NaN,0.101464,0.747179,0,0,0,0,150
cuota_de_vivienda,9.52719e+06,NaN,NaN,NaN,161156,1.14352e+06,0,0,0,0,5.72309e+08
cuota_de_consumo,9.52719e+06,NaN,NaN,NaN,897852,5.42493e+06,-4.1104e+08,0,97000,786000,2.46071e+09
cuota_rotativos,9.52719e+06,NaN,NaN,NaN,44968.2,1.31786e+06,0,0,0,0,1.0083e+09
cuota_tarjeta_de_credito,9.52719e+06,NaN,NaN,NaN,578636,2.84137e+06,0,0,244000,629000,4.39692e+09
cuota_de_sector_solidario,9.52719e+06,NaN,NaN,NaN,79590,4.51803e+06,0,0,0,0,5.14661e+09
cuota_sector_real_comercio,9.52719e+06,NaN,NaN,NaN,434842,3.51279e+07,0,0,0,46000,4.995e+10
cupo_tc_mdo,9.52719e+06,NaN,NaN,NaN,1.11498e+07,3.57042e+07,0,0,3.08e+06,1.2152e+07,5.00216e+10
saldo_prom3_tdc_mdo,9.52719e+06,NaN,NaN,NaN,3.12894e+06,3.56571e+07,0,0,14666.7,2.664e+06,3.90032e+10
cuota_tc_mdo,9.52719e+06,NaN,NaN,NaN,641201,6.1406e+06,0,0,0,405000,9.77094e+09
saldo_no_rot_mdo,9.52719e+06,NaN,NaN,NaN,3.03602e+07,9.68545e+07,0,0,1.782e+06,2.8725e+07,4.66118e+10
cuota_libranza_sf,9.52719e+06,NaN,NaN,NaN,107628,1.25162e+06,0,0,0,0,3.00125e+08
cant_oblig_tot_sf,9.52719e+06,NaN,NaN,NaN,3.77411,3.75018,0,1,3,5,139
cant_cast_ult_12m_sr,9.52719e+06,NaN,NaN,NaN,0.179757,1.79651,0,0,0,0,528
ind,9.52718e+06,NaN,NaN,NaN,579880,4.10846e+07,-4.99424e+10,31351.9,766900,1.9416e+06,5.58683e+08
rep_calif_cred,9527193,9,A,2693172,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pol_centr_ext,9.50455e+06,NaN,NaN,NaN,1.25699,3.07267,0,0,0,0,24
gasto_familiar,9.24553e+06,NaN,NaN,NaN,777723,1.53433e+06,-9.3e+06,186929,432153,895900,7.19017e+08

In [71]:
inputs.dtypes

id_registro                       object
periodo                            int64
id_cli                             int64
fecha_nacimiento                 float64
edad                             float64
genero                            object
estado_civil                      object
nivel_academico                   object
profesion                         object
ocupacion                         object
ult_actual                       float64
categoria                        float64
codigo_ciiu                      float64
ind_mora_vigente                    bool
cartera_castigada                   bool
ciudad_residencia                 object
mora_max                         float64
cant_moras_30_ult_12_meses       float64
cant_moras_60_ult_12_meses       float64
cant_moras_90_ult_12_meses       float64
cupo_total_tc                    float64
tenencia_tc                         bool
cuota_tc_bancolombia             float64
tiene_consumo                       bool
tiene_crediagil                     bool
nro_tot_cuentas                  float64
ctas_activas                     float64
tiene_ctas_activas                  bool
ctas_embargadas                  float64
tiene_ctas_embargadas               bool
pension_fopep                       bool
tiene_cred_hipo_1                   bool
tiene_cred_hipo_2                   bool
mediana_nom3                     float64
mediana_pen3                     float64
ingreso_nompen                   float64
ingreso_final                    float64
cant_mora_30_tdc_ult_3m_sf       float64
cant_mora_30_consum_ult_3m_sf    float64
cuota_de_vivienda                float64
cuota_de_consumo                 float64
cuota_rotativos                  float64
cuota_tarjeta_de_credito         float64
cuota_de_sector_solidario        float64
cuota_sector_real_comercio       float64
cupo_tc_mdo                      float64
saldo_prom3_tdc_mdo              float64
cuota_tc_mdo                     float64
saldo_no_rot_mdo                 float64
cuota_libranza_sf                float64
cant_oblig_tot_sf                float64
cant_cast_ult_12m_sr             float64
ind                              float64
rep_calif_cred                    object
pol_centr_ext                    float64
gasto_familiar                   float64
dtype: object

In [72]:
inputs.info()

UserWarning: Distributing <class 'int'> object. This may take some time.

<class 'modin.pandas.dataframe.DataFrame'>
Int64Index: 9527193 entries, 0 to 9527192
Data columns (total 56 columns):
 #   Column                         Non-Null Count    Dtype
---  -----------------------------  ----------------  -----
 0   id_registro                    9527193 non-null  object
 1   periodo                        9527193 non-null  int64
 2   id_cli                         9527193 non-null  int64
 3   fecha_nacimiento               9527193 non-null  float64
 4   edad                           9527193 non-null  float64
 5   genero                         9527193 non-null  object
 6   estado_civil                   9526675 non-null  object
 7   nivel_academico                9527193 non-null  object
 8   profesion                      9477607 non-null  object
 9   ocupacion                      9527177 non-null  object
 10  ult_actual                     9527193 non-null  float64
 11  categoria                      9523869 non-null  float64
 12  codigo_ciiu                    9527193 non-null  float64
 13  ind_mora_vigente               9527193 non-null  bool
 14  cartera_castigada              9527193 non-null  bool
 15  ciudad_residencia              9526350 non-null  object
 16  mora_max                       9527193 non-null  float64
 17  cant_moras_30_ult_12_meses     9527193 non-null  float64
 18  cant_moras_60_ult_12_meses     9527193 non-null  float64
 19  cant_moras_90_ult_12_meses     9527193 non-null  float64
 20  cupo_total_tc                  9527193 non-null  float64
 21  tenencia_tc                    9527193 non-null  bool
 22  cuota_tc_bancolombia           9527193 non-null  float64
 23  tiene_consumo                  9527193 non-null  bool
 24  tiene_crediagil                9527193 non-null  bool
 25  nro_tot_cuentas                9527193 non-null  float64
 26  ctas_activas                   9527193 non-null  float64
 27  tiene_ctas_activas             9527193 non-null  bool
 28  ctas_embargadas                9527193 non-null  float64
 29  tiene_ctas_embargadas          9527193 non-null  bool
 30  pension_fopep                  9527193 non-null  bool
 31  tiene_cred_hipo_1              9527193 non-null  bool
 32  tiene_cred_hipo_2              9527193 non-null  bool
 33  mediana_nom3                   9527193 non-null  float64
 34  mediana_pen3                   9527193 non-null  float64
 35  ingreso_nompen                 9527193 non-null  float64
 36  ingreso_final                  9527193 non-null  float64
 37  cant_mora_30_tdc_ult_3m_sf     9527193 non-null  float64
 38  cant_mora_30_consum_ult_3m_sf  9527193 non-null  float64
 39  cuota_de_vivienda              9527193 non-null  float64
 40  cuota_de_consumo               9527193 non-null  float64
 41  cuota_rotativos                9527193 non-null  float64
 42  cuota_tarjeta_de_credito       9527193 non-null  float64
 43  cuota_de_sector_solidario      9527193 non-null  float64
 44  cuota_sector_real_comercio     9527193 non-null  float64
 45  cupo_tc_mdo                    9527193 non-null  float64
 46  saldo_prom3_tdc_mdo            9527193 non-null  float64
 47  cuota_tc_mdo                   9527193 non-null  float64
 48  saldo_no_rot_mdo               9527193 non-null  float64
 49  cuota_libranza_sf              9527193 non-null  float64
 50  cant_oblig_tot_sf              9527193 non-null  float64
 51  cant_cast_ult_12m_sr           9527193 non-null  float64
 52  ind                            9527176 non-null  float64
 53  rep_calif_cred                 9527193 non-null  object
 54  pol_centr_ext                  9504554 non-null  float64
 55  gasto_familiar                 9245527 non-null  float64
dtypes: float64(36), bool(10), object(8), int64(2)
memory usage: 3.4 GB

In [73]:
inputs.to_csv('/mnt/workstation/data/Alomarrano/test_inputs3.csv')

UserWarning: `DataFrame.to_csv` defaulting to pandas implementation.
UserWarning: Distributing <class 'pandas.core.frame.DataFrame'> object. This may take some time.