## Requirements

In [1]:
import missingno as msno
import numpy                 as np
#import pandas                as pd
import modin.pandas as pd
import matplotlib.pyplot     as plt
import seaborn               as sns
import math

UserWarning: Modin Ray engine was started with 342 GB free space avaliable, if it is not enough for your application, please set environment variable MODIN_ON_RAY_PLASMA_DIR=/directory/without/space/limiting

# Input file

In [2]:
df_missing = pd.read_csv("/mnt/workstation/data/Alomarrano/ToComplete_littlepig_con_PPCA.csv")
df_missing = df_missing.iloc[:,1:]
df_missing

,id_cli,fecha_nacimiento,edad,ult_actual,categoria,codigo_ciiu,ind_mora_vigente,cartera_castigada,mora_max,cant_moras_30_ult_12_meses,...,ind,pol_centr_ext,gasto_familiar,estado_civil_tag_gasto_familiar,nivel_academico_tag_gasto_familiar,profesion_tag_gasto_familiar,ocupacion_tag_gasto_familiar,ciudad_residencia_tag_gasto_familiar,rep_calif_cred_tag_gasto_familiar,genero_tag
0,2089776,19840630.0,35.0,20180526.0,1.0,10.0,1,1,0.0,0.0,...,3.117155e+05,0.0,232526.0,3.0,1.0,7.0,6.0,928.0,5.0,2
1,2089776,19840630.0,35.0,20180526.0,1.0,10.0,1,1,0.0,0.0,...,3.117155e+05,0.0,265900.0,3.0,1.0,7.0,6.0,928.0,5.0,2
2,2089776,19840630.0,35.0,20180526.0,1.0,10.0,1,1,0.0,0.0,...,3.113060e+05,0.0,243052.0,3.0,1.0,7.0,6.0,928.0,5.0,2
3,2089776,19840630.0,35.0,20180526.0,1.0,10.0,1,1,0.0,0.0,...,3.113060e+05,0.0,276014.0,3.0,1.0,7.0,6.0,928.0,5.0,2
4,2089776,19840630.0,35.0,20180526.0,1.0,10.0,1,1,0.0,0.0,...,6.775160e+05,0.0,418866.0,3.0,1.0,7.0,6.0,928.0,5.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9527188,8596193,19740415.0,47.0,20201010.0,2.0,10.0,1,1,0.0,0.0,...,2.101424e+06,0.0,NaN,1.0,3.0,44.0,6.0,892.0,8.0,1
9527189,8616083,19850620.0,35.0,20201003.0,3.0,90.0,1,1,28.0,0.0,...,1.170550e+07,0.0,NaN,NaN,NaN,NaN,6.0,428.0,5.0,2
9527190,8670207,19740316.0,47.0,20200616.0,3.0,10.0,1,1,23.0,0.0,...,-4.154790e+07,0.0,NaN,3.0,NaN,NaN,8.0,1002.0,3.0,2
9527191,8677655,19780722.0,42.0,20200423.0,2.0,10.0,1,1,0.0,0.0,...,5.313457e+06,0.0,NaN,5.0,5.0,64.0,6.0,892.0,7.0,1
9527192,8692808,19801025.0,40.0,20200221.0,2.0,10.0,1,1,20.0,0.0,...,-2.172737e+06,0.0,NaN,NaN,3.0,44.0,6.0,428.0,4.0,1

In [3]:
df_missing.info()

<class 'modin.pandas.dataframe.DataFrame'>
RangeIndex: 9527193 entries, 0 to 9527192
Data columns (total 54 columns):
 #   Column                                Non-Null Count    Dtype
---  ------------------------------------  ----------------  -----
 0   id_cli                                9527193 non-null  int64
 1   fecha_nacimiento                      9527193 non-null  float64
 2   edad                                  9527193 non-null  float64
 3   ult_actual                            9527193 non-null  float64
 4   categoria                             9523869 non-null  float64
 5   codigo_ciiu                           9527193 non-null  float64
 6   ind_mora_vigente                      9527193 non-null  int64
 7   cartera_castigada                     9527193 non-null  int64
 8   mora_max                              9527193 non-null  float64
 9   cant_moras_30_ult_12_meses            9527193 non-null  float64
 10  cant_moras_60_ult_12_meses            9527193 non-null  float64
 11  cant_moras_90_ult_12_meses            9527193 non-null  float64
 12  cupo_total_tc                         9527193 non-null  float64
 13  tenencia_tc                           9527193 non-null  int64
 14  cuota_tc_bancolombia                  9527193 non-null  float64
 15  tiene_consumo                         9527193 non-null  int64
 16  tiene_crediagil                       9527193 non-null  int64
 17  nro_tot_cuentas                       9527193 non-null  float64
 18  ctas_activas                          9527193 non-null  float64
 19  tiene_ctas_activas                    9527193 non-null  int64
 20  ctas_embargadas                       9527193 non-null  float64
 21  tiene_ctas_embargadas                 9527193 non-null  int64
 22  pension_fopep                         9527193 non-null  int64
 23  tiene_cred_hipo_1                     9527193 non-null  int64
 24  tiene_cred_hipo_2                     9527193 non-null  int64
 25  mediana_nom3                          9527193 non-null  float64
 26  mediana_pen3                          9527193 non-null  float64
 27  ingreso_nompen                        9527193 non-null  float64
 28  ingreso_final                         9527193 non-null  float64
 29  cant_mora_30_tdc_ult_3m_sf            9527193 non-null  float64
 30  cant_mora_30_consum_ult_3m_sf         9527193 non-null  float64
 31  cuota_de_vivienda                     9527193 non-null  float64
 32  cuota_de_consumo                      9527193 non-null  float64
 33  cuota_rotativos                       9527193 non-null  float64
 34  cuota_tarjeta_de_credito              9527193 non-null  float64
 35  cuota_de_sector_solidario             9527193 non-null  float64
 36  cuota_sector_real_comercio            9527193 non-null  float64
 37  cupo_tc_mdo                           9527193 non-null  float64
 38  saldo_prom3_tdc_mdo                   9527193 non-null  float64
 39  cuota_tc_mdo                          9527193 non-null  float64
 40  saldo_no_rot_mdo                      9527193 non-null  float64
 41  cuota_libranza_sf                     9527193 non-null  float64
 42  cant_oblig_tot_sf                     9527193 non-null  float64
 43  cant_cast_ult_12m_sr                  9527193 non-null  float64
 44  ind                                   9527176 non-null  float64
 45  pol_centr_ext                         9504554 non-null  float64
 46  gasto_familiar                        9245527 non-null  float64
 47  estado_civil_tag_gasto_familiar       9506222 non-null  float64
 48  nivel_academico_tag_gasto_familiar    9480866 non-null  float64
 49  profesion_tag_gasto_familiar          9476289 non-null  float64
 50  ocupacion_tag_gasto_familiar          9526868 non-null  float64
 51  ciudad_residencia_tag_gasto_familiar  9526301 non-null  float64
 52  rep_calif_cred_tag_gasto_familiar     9514617 non-null  float64
 53  genero_tag                            9527193 non-null  int64
dtypes: float64(42), int64(12)
memory usage: 3.8 GB

UserWarning: Distributing <class 'int'> object. This may take some time.

In [4]:
missing = df_missing.isnull().sum()/df_missing.shape[0]*100
missing = pd.DataFrame(missing).sort_values(by=0,ascending = False)
missing

UserWarning: sort_values defaulting to pandas implementation.
To request implementation, send an email to feature_requests@modin.org.

                                             0
gasto_familiar                        2.956443
profesion_tag_gasto_familiar          0.534302
nivel_academico_tag_gasto_familiar    0.486261
pol_centr_ext                         0.237625
estado_civil_tag_gasto_familiar       0.220117
rep_calif_cred_tag_gasto_familiar     0.132001
categoria                             0.034890
ciudad_residencia_tag_gasto_familiar  0.009363
ocupacion_tag_gasto_familiar          0.003411
ind                                   0.000178
cuota_de_consumo                      0.000000
cuota_tarjeta_de_credito              0.000000
cuota_rotativos                       0.000000
id_cli                                0.000000
cuota_de_vivienda                     0.000000
cant_mora_30_consum_ult_3m_sf         0.000000
cuota_sector_real_comercio            0.000000
cuota_de_sector_solidario             0.000000
cant_oblig_tot_sf                     0.000000
cupo_tc_mdo                           0.000000
saldo_prom3_tdc_mdo                   0.000000
cuota_tc_mdo                          0.000000
saldo_no_rot_mdo                      0.000000
cuota_libranza_sf                     0.000000
ingreso_final                         0.000000
cant_cast_ult_12m_sr                  0.000000
cant_mora_30_tdc_ult_3m_sf            0.000000
ingreso_nompen                        0.000000
fecha_nacimiento                      0.000000
mediana_pen3                          0.000000
edad                                  0.000000
ult_actual                            0.000000
codigo_ciiu                           0.000000
ind_mora_vigente                      0.000000
cartera_castigada                     0.000000
mora_max                              0.000000
cant_moras_30_ult_12_meses            0.000000
cant_moras_60_ult_12_meses            0.000000
cant_moras_90_ult_12_meses            0.000000
cupo_total_tc                         0.000000
tenencia_tc                           0.000000
cuota_tc_bancolombia                  0.000000
tiene_consumo                         0.000000
tiene_crediagil                       0.000000
nro_tot_cuentas                       0.000000
ctas_activas                          0.000000
tiene_ctas_activas                    0.000000
ctas_embargadas                       0.000000
tiene_ctas_embargadas                 0.000000
pension_fopep                         0.000000
tiene_cred_hipo_1                     0.000000
tiene_cred_hipo_2                     0.000000
mediana_nom3                          0.000000
genero_tag                            0.000000

In [5]:
Var_missing = missing[missing[0]!=0].index
#tmp = df_missing[Var_missing]
Var_missing

Index(['gasto_familiar', 'profesion_tag_gasto_familiar',
       'nivel_academico_tag_gasto_familiar', 'pol_centr_ext',
       'estado_civil_tag_gasto_familiar', 'rep_calif_cred_tag_gasto_familiar',
       'categoria', 'ciudad_residencia_tag_gasto_familiar',
       'ocupacion_tag_gasto_familiar', 'ind'],
      dtype='object')

In [6]:
df_missing[Var_missing].describe().T

,count,mean,std,min,25%,50%,75%,max
gasto_familiar,9245527.0,777722.671770,1.534329e+06,-9.300000e+06,186929.4750,432152.56,895900.00,7.190166e+08
profesion_tag_gasto_familiar,9476289.0,45.673169,1.648106e+01,1.000000e+00,44.0000,44.00,55.00,7.900000e+01
nivel_academico_tag_gasto_familiar,9480866.0,2.900080,1.209483e+00,1.000000e+00,3.0000,3.00,3.00,6.000000e+00
pol_centr_ext,9504554.0,1.256986,3.072674e+00,0.000000e+00,0.0000,0.00,0.00,2.400000e+01
estado_civil_tag_gasto_familiar,9506222.0,2.808858,1.841928e+00,1.000000e+00,1.0000,2.00,5.00,5.000000e+00
rep_calif_cred_tag_gasto_familiar,9514617.0,5.218515,2.506504e+00,1.000000e+00,3.0000,5.00,8.00,8.000000e+00
categoria,9523869.0,1.493677,6.700234e-01,0.000000e+00,1.0000,1.00,2.00,5.000000e+00
ciudad_residencia_tag_gasto_familiar,9526301.0,770.605041,2.368676e+02,2.000000e+00,428.0000,892.00,928.00,1.502000e+03
ocupacion_tag_gasto_familiar,9526868.0,5.798126,1.576456e+00,1.000000e+00,6.0000,6.00,6.00,1.000000e+01
ind,9527176.0,579880.138152,4.108461e+07,-4.994239e+10,31351.8825,766899.92,1941601.25,5.586829e+08

In [7]:
features = pd.DataFrame(df_missing.dtypes)
features.columns = ['type']
features_f = features[features['type'] == 'float64'].index
features_o = features[features['type'] == 'object'].index
features_i = features[features['type'] == 'int64'].index
features_b = features[features['type'] == 'bool'].index
features_o

UserWarning: Distributing <class 'pandas.core.series.Series'> object. This may take some time.

Index([], dtype='object')

## Imputation PPCA R results

In [8]:
df_complete = pd.read_csv("/mnt/workstation/data/Alomarrano/littlepig_to_review_missing.csv")
df_complete = df_complete.iloc[:,1:]
df_complete.columns

Index(['id_cli', 'periodo', 'fecha_nacimiento', 'edad', 'ult_actual',
       'categoria', 'codigo_ciiu', 'ind_mora_vigente', 'cartera_castigada',
       'mora_max', 'cant_moras_30_ult_12_meses', 'cant_moras_60_ult_12_meses',
       'cant_moras_90_ult_12_meses', 'cupo_total_tc', 'tenencia_tc',
       'cuota_tc_bancolombia', 'tiene_consumo', 'tiene_crediagil',
       'nro_tot_cuentas', 'ctas_activas', 'tiene_ctas_activas',
       'ctas_embargadas', 'tiene_ctas_embargadas', 'pension_fopep',
       'tiene_cred_hipo_1', 'tiene_cred_hipo_2', 'mediana_nom3',
       'mediana_pen3', 'ingreso_nompen', 'ingreso_final',
       'cant_mora_30_tdc_ult_3m_sf', 'cant_mora_30_consum_ult_3m_sf',
       'cuota_de_vivienda', 'cuota_de_consumo', 'cuota_rotativos',
       'cuota_tarjeta_de_credito', 'cuota_de_sector_solidario',
       'cuota_sector_real_comercio', 'cupo_tc_mdo', 'saldo_prom3_tdc_mdo',
       'cuota_tc_mdo', 'saldo_no_rot_mdo', 'cuota_libranza_sf',
       'cant_oblig_tot_sf', 'cant_cast_ult_12m_sr', 'ind', 'pol_centr_ext',
       'gasto_familiar', 'estado_civil_tag_gasto_familiar',
       'nivel_academico_tag_gasto_familiar', 'profesion_tag_gasto_familiar',
       'ocupacion_tag_gasto_familiar', 'ciudad_residencia_tag_gasto_familiar',
       'rep_calif_cred_tag_gasto_familiar', 'genero_tag'],
      dtype='object')

In [9]:
names = pd.DataFrame()
names['untag'] = ['estado_civil',
              'nivel_academico',
              'profesion',
              'ocupacion',
              'ciudad_residencia',
              'rep_calif_cred',
                 'genero']

names['tag'] = ['estado_civil_tag_gasto_familiar',
            'nivel_academico_tag_gasto_familiar',
            'profesion_tag_gasto_familiar',
            'ocupacion_tag_gasto_familiar',
            'ciudad_residencia_tag_gasto_familiar',
            'rep_calif_cred_tag_gasto_familiar',
            'genero_tag']
names

UserWarning: Distributing <class 'NoneType'> object. This may take some time.
UserWarning: `DataFrame.insert` for empty DataFrame defaulting to pandas implementation.
UserWarning: Distributing <class 'pandas.core.frame.DataFrame'> object. This may take some time.

               untag                                   tag
0       estado_civil       estado_civil_tag_gasto_familiar
1    nivel_academico    nivel_academico_tag_gasto_familiar
2          profesion          profesion_tag_gasto_familiar
3          ocupacion          ocupacion_tag_gasto_familiar
4  ciudad_residencia  ciudad_residencia_tag_gasto_familiar
5     rep_calif_cred     rep_calif_cred_tag_gasto_familiar
6             genero                            genero_tag

In [10]:
names['key_tag'] = 0
for i in names.index:
    names.loc[i,'key_tag'] = df_complete.columns.get_loc(names.loc[i,'tag'])
    
names

               untag                                   tag  key_tag
0       estado_civil       estado_civil_tag_gasto_familiar       48
1    nivel_academico    nivel_academico_tag_gasto_familiar       49
2          profesion          profesion_tag_gasto_familiar       50
3          ocupacion          ocupacion_tag_gasto_familiar       51
4  ciudad_residencia  ciudad_residencia_tag_gasto_familiar       52
5     rep_calif_cred     rep_calif_cred_tag_gasto_familiar       53
6             genero                            genero_tag       54

names['key_untag'] = np.nan
for i in names.index:
    names.loc[i,'key_untag'] = df_missing.columns.get_loc(names.loc[i,'untag'])
    
names

In [11]:
df_complete.describe().T

,count,mean,std,min,25%,50%,75%,max
id_cli,9527193.0,2.985499e+06,2.532554e+06,3.000000e+00,1082598.0,2.255384e+06,3940060.0,8.704801e+06
periodo,9527193.0,2.019586e+05,4.966026e+01,2.019020e+05,201907.0,2.020010e+05,202007.0,2.020110e+05
fecha_nacimiento,9527193.0,1.977122e+07,1.296593e+05,1.900061e+07,19690825.0,1.980092e+07,19870707.0,2.020091e+07
edad,9527193.0,4.236348e+01,1.297790e+01,0.000000e+00,32.0,3.900000e+01,50.0,1.190000e+02
ult_actual,9527193.0,2.019047e+07,1.186793e+04,0.000000e+00,20190109.0,2.019071e+07,20200103.0,2.020102e+07
categoria,9527193.0,1.493664e+00,6.699088e-01,0.000000e+00,1.0,1.000000e+00,2.0,5.000000e+00
codigo_ciiu,9527193.0,3.876112e+02,1.634031e+03,0.000000e+00,10.0,1.000000e+01,10.0,9.900000e+03
ind_mora_vigente,9527193.0,1.000000e+00,0.000000e+00,1.000000e+00,1.0,1.000000e+00,1.0,1.000000e+00
cartera_castigada,9527193.0,1.000000e+00,0.000000e+00,1.000000e+00,1.0,1.000000e+00,1.0,1.000000e+00
mora_max,9527193.0,3.638598e+00,1.987645e+01,0.000000e+00,0.0,0.000000e+00,0.0,3.367000e+03
cant_moras_30_ult_12_meses,9527193.0,5.051939e-02,4.727955e-01,0.000000e+00,0.0,0.000000e+00,0.0,1.200000e+01
cant_moras_60_ult_12_meses,9527193.0,2.555107e-02,3.566778e-01,0.000000e+00,0.0,0.000000e+00,0.0,1.200000e+01
cant_moras_90_ult_12_meses,9527193.0,1.676884e-02,2.923579e-01,0.000000e+00,0.0,0.000000e+00,0.0,1.200000e+01
cupo_total_tc,9527193.0,6.289413e+06,1.312793e+07,0.000000e+00,0.0,0.000000e+00,7700000.0,9.662000e+08
tenencia_tc,9527193.0,4.845946e-01,4.997626e-01,0.000000e+00,0.0,0.000000e+00,1.0,1.000000e+00
cuota_tc_bancolombia,9527193.0,2.682018e+05,6.997905e+05,0.000000e+00,0.0,0.000000e+00,296000.0,1.187058e+08
tiene_consumo,9527193.0,1.847099e-01,3.880621e-01,0.000000e+00,0.0,0.000000e+00,0.0,1.000000e+00
tiene_crediagil,9527193.0,2.012525e-01,4.009363e-01,0.000000e+00,0.0,0.000000e+00,0.0,1.000000e+00
nro_tot_cuentas,9527193.0,1.104576e+00,4.594948e-01,0.000000e+00,1.0,1.000000e+00,1.0,3.600000e+01
ctas_activas,9527193.0,1.034584e+00,4.096437e-01,0.000000e+00,1.0,1.000000e+00,1.0,3.600000e+01
tiene_ctas_activas,9527193.0,9.419072e-01,2.339188e-01,0.000000e+00,1.0,1.000000e+00,1.0,1.000000e+00
ctas_embargadas,9527193.0,3.053365e-03,5.789105e-02,0.000000e+00,0.0,0.000000e+00,0.0,4.000000e+00
tiene_ctas_embargadas,9527193.0,3.393350e-02,1.810581e-01,0.000000e+00,0.0,0.000000e+00,0.0,1.000000e+00
pension_fopep,9527193.0,5.913263e-02,2.358728e-01,0.000000e+00,0.0,0.000000e+00,0.0,1.000000e+00
tiene_cred_hipo_1,9527193.0,3.135939e-02,1.742871e-01,0.000000e+00,0.0,0.000000e+00,0.0,1.000000e+00
tiene_cred_hipo_2,9527193.0,3.135939e-02,1.742871e-01,0.000000e+00,0.0,0.000000e+00,0.0,1.000000e+00
mediana_nom3,9527193.0,1.432649e+06,2.925975e+06,0.000000e+00,0.0,0.000000e+00,2124801.0,5.826296e+08
mediana_pen3,9527193.0,2.178064e+05,1.099234e+06,0.000000e+00,0.0,0.000000e+00,0.0,8.252953e+08
ingreso_nompen,9527193.0,1.650455e+06,3.049736e+06,0.000000e+00,0.0,0.000000e+00,2446286.0,8.252953e+08
ingreso_final,9527193.0,4.790094e+06,7.579053e+06,0.000000e+00,1902000.0,3.116200e+06,5300000.0,6.678545e+09
cant_mora_30_tdc_ult_3m_sf,9527193.0,2.145123e-02,1.870863e-01,0.000000e+00,0.0,0.000000e+00,0.0,1.100000e+01
cant_mora_30_consum_ult_3m_sf,9527193.0,1.014636e-01,7.471795e-01,0.000000e+00,0.0,0.000000e+00,0.0,1.500000e+02
cuota_de_vivienda,9527193.0,1.611561e+05,1.143519e+06,0.000000e+00,0.0,0.000000e+00,0.0,5.723090e+08
cuota_de_consumo,9527193.0,8.978521e+05,5.424928e+06,-4.110399e+08,0.0,9.700000e+04,786000.0,2.460707e+09
cuota_rotativos,9527193.0,4.496823e+04,1.317855e+06,0.000000e+00,0.0,0.000000e+00,0.0,1.008301e+09
cuota_tarjeta_de_credito,9527193.0,5.786361e+05,2.841368e+06,0.000000e+00,0.0,2.440000e+05,629000.0,4.396925e+09
cuota_de_sector_solidario,9527193.0,7.959000e+04,4.518026e+06,0.000000e+00,0.0,0.000000e+00,0.0,5.146613e+09
cuota_sector_real_comercio,9527193.0,4.348420e+05,3.512795e+07,0.000000e+00,0.0,0.000000e+00,46000.0,4.995000e+10
cupo_tc_mdo,9527193.0,1.114982e+07,3.570418e+07,0.000000e+00,0.0,3.080000e+06,12152000.0,5.002155e+10
saldo_prom3_tdc_mdo,9527193.0,3.128938e+06,3.565709e+07,0.000000e+00,0.0,1.466667e+04,2664000.0,3.900324e+10
cuota_tc_mdo,9527193.0,6.412010e+05,6.140603e+06,0.000000e+00,0.0,0.000000e+00,405000.0,9.770945e+09
saldo_no_rot_mdo,9527193.0,3.036021e+07,9.685447e+07,0.000000e+00,0.0,1.782000e+06,28725000.0,4.661178e+10
cuota_libranza_sf,9527193.0,1.076285e+05,1.251617e+06,0.000000e+00,0.0,0.000000e+00,0.0,3.001250e+08
cant_oblig_tot_sf,9527193.0,3.774108e+00,3.750180e+00,0.000000e+00,1.0,3.000000e+00,5.0,1.390000e+02
cant_cast_ult_12m_sr,9527193.0,1.797572e-01,1.796506e+00,0.000000e+00,0.0,0.000000e+00,0.0,5.280000e+02
ind,9527193.0,5.799301e+05,4.108460e+07,-4.994239e+10,31354.0,7.669000e+05,1941610.0,5.586829e+08
pol_centr_ext,9527193.0,1.256958e+00,3.069023e+00,0.000000e+00,0.0,0.000000e+00,0.0,2.400000e+01
gasto_familiar,9527193.0,7.776832e+05,1.511546e+06,-9.300000e+06,193285.0,4.512490e+05,879599.0,7.190166e+08
estado_civil_tag_gasto_familiar,9527193.0,2.808834e+00,1.839908e+00,1.000000e+00,1.0,2.742582e+00,5.0,5.884123e+00
nivel_academico_tag_gasto_familiar,9527193.0,2.899983e+00,1.206551e+00,1.000000e+00,3.0,3.000000e+00,3.0,9.404903e+00
profesion_tag_gasto_familiar,9527193.0,4.567214e+01,1.643703e+01,1.000000e+00,44.0,4.400000e+01,55.0,7.900000e+01
ocupacion_tag_gasto_familiar,9527193.0,5.798126e+00,1.576429e+00,1.000000e+00,6.0,6.000000e+00,6.0,1.000000e+01
ciudad_residencia_tag_gasto_familiar,9527193.0,7.706051e+02,2.368565e+02,2.000000e+00,428.0,8.920000e+02,928.0,1.502000e+03
rep_calif_cred_tag_gasto_familiar,9527193.0,5.218500e+00,2.504850e+00,1.000000e+00,3.0,5.000000e+00,8.0,8.000000e+00
genero_tag,9527193.0,1.481323e+00,4.996511e-01,1.000000e+00,1.0,1.000000e+00,2.0,2.000000e+00

## Nulls

In [12]:
nulos = 100*df_complete.isnull().sum()/df_complete.shape[0]
nulos.sort_values(ascending = False)

UserWarning: sort_values defaulting to pandas implementation.

id_cli                                  0.0
saldo_no_rot_mdo                        0.0
cant_mora_30_tdc_ult_3m_sf              0.0
cant_mora_30_consum_ult_3m_sf           0.0
cuota_de_vivienda                       0.0
cuota_de_consumo                        0.0
cuota_rotativos                         0.0
cuota_tarjeta_de_credito                0.0
cuota_de_sector_solidario               0.0
cuota_sector_real_comercio              0.0
cupo_tc_mdo                             0.0
saldo_prom3_tdc_mdo                     0.0
cuota_tc_mdo                            0.0
cuota_libranza_sf                       0.0
ingreso_nompen                          0.0
cant_oblig_tot_sf                       0.0
cant_cast_ult_12m_sr                    0.0
ind                                     0.0
pol_centr_ext                           0.0
gasto_familiar                          0.0
estado_civil_tag_gasto_familiar         0.0
nivel_academico_tag_gasto_familiar      0.0
profesion_tag_gasto_familiar            0.0
ocupacion_tag_gasto_familiar            0.0
ciudad_residencia_tag_gasto_familiar    0.0
rep_calif_cred_tag_gasto_familiar       0.0
ingreso_final                           0.0
mediana_pen3                            0.0
periodo                                 0.0
cupo_total_tc                           0.0
fecha_nacimiento                        0.0
edad                                    0.0
ult_actual                              0.0
categoria                               0.0
codigo_ciiu                             0.0
ind_mora_vigente                        0.0
cartera_castigada                       0.0
mora_max                                0.0
cant_moras_30_ult_12_meses              0.0
cant_moras_60_ult_12_meses              0.0
cant_moras_90_ult_12_meses              0.0
tenencia_tc                             0.0
mediana_nom3                            0.0
cuota_tc_bancolombia                    0.0
tiene_consumo                           0.0
tiene_crediagil                         0.0
nro_tot_cuentas                         0.0
ctas_activas                            0.0
tiene_ctas_activas                      0.0
ctas_embargadas                         0.0
tiene_ctas_embargadas                   0.0
pension_fopep                           0.0
tiene_cred_hipo_1                       0.0
tiene_cred_hipo_2                       0.0
genero_tag                              0.0
dtype: float64

In [13]:
df_complete.describe().T

,count,mean,std,min,25%,50%,75%,max
id_cli,9527193.0,2.985499e+06,2.532554e+06,3.000000e+00,1082598.0,2.255384e+06,3940060.0,8.704801e+06
periodo,9527193.0,2.019586e+05,4.966026e+01,2.019020e+05,201907.0,2.020010e+05,202007.0,2.020110e+05
fecha_nacimiento,9527193.0,1.977122e+07,1.296593e+05,1.900061e+07,19690825.0,1.980092e+07,19870707.0,2.020091e+07
edad,9527193.0,4.236348e+01,1.297790e+01,0.000000e+00,32.0,3.900000e+01,50.0,1.190000e+02
ult_actual,9527193.0,2.019047e+07,1.186793e+04,0.000000e+00,20190109.0,2.019071e+07,20200103.0,2.020102e+07
categoria,9527193.0,1.493664e+00,6.699088e-01,0.000000e+00,1.0,1.000000e+00,2.0,5.000000e+00
codigo_ciiu,9527193.0,3.876112e+02,1.634031e+03,0.000000e+00,10.0,1.000000e+01,10.0,9.900000e+03
ind_mora_vigente,9527193.0,1.000000e+00,0.000000e+00,1.000000e+00,1.0,1.000000e+00,1.0,1.000000e+00
cartera_castigada,9527193.0,1.000000e+00,0.000000e+00,1.000000e+00,1.0,1.000000e+00,1.0,1.000000e+00
mora_max,9527193.0,3.638598e+00,1.987645e+01,0.000000e+00,0.0,0.000000e+00,0.0,3.367000e+03
cant_moras_30_ult_12_meses,9527193.0,5.051939e-02,4.727955e-01,0.000000e+00,0.0,0.000000e+00,0.0,1.200000e+01
cant_moras_60_ult_12_meses,9527193.0,2.555107e-02,3.566778e-01,0.000000e+00,0.0,0.000000e+00,0.0,1.200000e+01
cant_moras_90_ult_12_meses,9527193.0,1.676884e-02,2.923579e-01,0.000000e+00,0.0,0.000000e+00,0.0,1.200000e+01
cupo_total_tc,9527193.0,6.289413e+06,1.312793e+07,0.000000e+00,0.0,0.000000e+00,7700000.0,9.662000e+08
tenencia_tc,9527193.0,4.845946e-01,4.997626e-01,0.000000e+00,0.0,0.000000e+00,1.0,1.000000e+00
cuota_tc_bancolombia,9527193.0,2.682018e+05,6.997905e+05,0.000000e+00,0.0,0.000000e+00,296000.0,1.187058e+08
tiene_consumo,9527193.0,1.847099e-01,3.880621e-01,0.000000e+00,0.0,0.000000e+00,0.0,1.000000e+00
tiene_crediagil,9527193.0,2.012525e-01,4.009363e-01,0.000000e+00,0.0,0.000000e+00,0.0,1.000000e+00
nro_tot_cuentas,9527193.0,1.104576e+00,4.594948e-01,0.000000e+00,1.0,1.000000e+00,1.0,3.600000e+01
ctas_activas,9527193.0,1.034584e+00,4.096437e-01,0.000000e+00,1.0,1.000000e+00,1.0,3.600000e+01
tiene_ctas_activas,9527193.0,9.419072e-01,2.339188e-01,0.000000e+00,1.0,1.000000e+00,1.0,1.000000e+00
ctas_embargadas,9527193.0,3.053365e-03,5.789105e-02,0.000000e+00,0.0,0.000000e+00,0.0,4.000000e+00
tiene_ctas_embargadas,9527193.0,3.393350e-02,1.810581e-01,0.000000e+00,0.0,0.000000e+00,0.0,1.000000e+00
pension_fopep,9527193.0,5.913263e-02,2.358728e-01,0.000000e+00,0.0,0.000000e+00,0.0,1.000000e+00
tiene_cred_hipo_1,9527193.0,3.135939e-02,1.742871e-01,0.000000e+00,0.0,0.000000e+00,0.0,1.000000e+00
tiene_cred_hipo_2,9527193.0,3.135939e-02,1.742871e-01,0.000000e+00,0.0,0.000000e+00,0.0,1.000000e+00
mediana_nom3,9527193.0,1.432649e+06,2.925975e+06,0.000000e+00,0.0,0.000000e+00,2124801.0,5.826296e+08
mediana_pen3,9527193.0,2.178064e+05,1.099234e+06,0.000000e+00,0.0,0.000000e+00,0.0,8.252953e+08
ingreso_nompen,9527193.0,1.650455e+06,3.049736e+06,0.000000e+00,0.0,0.000000e+00,2446286.0,8.252953e+08
ingreso_final,9527193.0,4.790094e+06,7.579053e+06,0.000000e+00,1902000.0,3.116200e+06,5300000.0,6.678545e+09
cant_mora_30_tdc_ult_3m_sf,9527193.0,2.145123e-02,1.870863e-01,0.000000e+00,0.0,0.000000e+00,0.0,1.100000e+01
cant_mora_30_consum_ult_3m_sf,9527193.0,1.014636e-01,7.471795e-01,0.000000e+00,0.0,0.000000e+00,0.0,1.500000e+02
cuota_de_vivienda,9527193.0,1.611561e+05,1.143519e+06,0.000000e+00,0.0,0.000000e+00,0.0,5.723090e+08
cuota_de_consumo,9527193.0,8.978521e+05,5.424928e+06,-4.110399e+08,0.0,9.700000e+04,786000.0,2.460707e+09
cuota_rotativos,9527193.0,4.496823e+04,1.317855e+06,0.000000e+00,0.0,0.000000e+00,0.0,1.008301e+09
cuota_tarjeta_de_credito,9527193.0,5.786361e+05,2.841368e+06,0.000000e+00,0.0,2.440000e+05,629000.0,4.396925e+09
cuota_de_sector_solidario,9527193.0,7.959000e+04,4.518026e+06,0.000000e+00,0.0,0.000000e+00,0.0,5.146613e+09
cuota_sector_real_comercio,9527193.0,4.348420e+05,3.512795e+07,0.000000e+00,0.0,0.000000e+00,46000.0,4.995000e+10
cupo_tc_mdo,9527193.0,1.114982e+07,3.570418e+07,0.000000e+00,0.0,3.080000e+06,12152000.0,5.002155e+10
saldo_prom3_tdc_mdo,9527193.0,3.128938e+06,3.565709e+07,0.000000e+00,0.0,1.466667e+04,2664000.0,3.900324e+10
cuota_tc_mdo,9527193.0,6.412010e+05,6.140603e+06,0.000000e+00,0.0,0.000000e+00,405000.0,9.770945e+09
saldo_no_rot_mdo,9527193.0,3.036021e+07,9.685447e+07,0.000000e+00,0.0,1.782000e+06,28725000.0,4.661178e+10
cuota_libranza_sf,9527193.0,1.076285e+05,1.251617e+06,0.000000e+00,0.0,0.000000e+00,0.0,3.001250e+08
cant_oblig_tot_sf,9527193.0,3.774108e+00,3.750180e+00,0.000000e+00,1.0,3.000000e+00,5.0,1.390000e+02
cant_cast_ult_12m_sr,9527193.0,1.797572e-01,1.796506e+00,0.000000e+00,0.0,0.000000e+00,0.0,5.280000e+02
ind,9527193.0,5.799301e+05,4.108460e+07,-4.994239e+10,31354.0,7.669000e+05,1941610.0,5.586829e+08
pol_centr_ext,9527193.0,1.256958e+00,3.069023e+00,0.000000e+00,0.0,0.000000e+00,0.0,2.400000e+01
gasto_familiar,9527193.0,7.776832e+05,1.511546e+06,-9.300000e+06,193285.0,4.512490e+05,879599.0,7.190166e+08
estado_civil_tag_gasto_familiar,9527193.0,2.808834e+00,1.839908e+00,1.000000e+00,1.0,2.742582e+00,5.0,5.884123e+00
nivel_academico_tag_gasto_familiar,9527193.0,2.899983e+00,1.206551e+00,1.000000e+00,3.0,3.000000e+00,3.0,9.404903e+00
profesion_tag_gasto_familiar,9527193.0,4.567214e+01,1.643703e+01,1.000000e+00,44.0,4.400000e+01,55.0,7.900000e+01
ocupacion_tag_gasto_familiar,9527193.0,5.798126e+00,1.576429e+00,1.000000e+00,6.0,6.000000e+00,6.0,1.000000e+01
ciudad_residencia_tag_gasto_familiar,9527193.0,7.706051e+02,2.368565e+02,2.000000e+00,428.0,8.920000e+02,928.0,1.502000e+03
rep_calif_cred_tag_gasto_familiar,9527193.0,5.218500e+00,2.504850e+00,1.000000e+00,3.0,5.000000e+00,8.0,8.000000e+00
genero_tag,9527193.0,1.481323e+00,4.996511e-01,1.000000e+00,1.0,1.000000e+00,2.0,2.000000e+00

## Preview

plt.rcParams.update({'font.size': 20})
plt.style.use("dark_background")
var_hist = Var_missing
plt.figure(figsize=(25,25*1))
plt.title("Distribucin de Variables Numericas")
for i,var in enumerate(var_hist):
    plt.subplot(5,2,i+1)
    sns.histplot(df_missing[var], color='r', kde=True , label='Missing', alpha = 0.5)
    sns.histplot(df_complete[var], color='b', kde=True, label='Complete',alpha = 0.3)
    plt.legend(loc=4)
    plt.xlabel(var)
    #plt.tight_layout()
    plt.ylabel("count")

![Texto alternativo](https://lh3.googleusercontent.com/-BfdQTtZ6lFU/YBLDBa1iPSI/AAAAAAAA7lQ/1p77NCcuQx4cICAnvbDsjVT9ATf9FR51ACK8BGAsYHg/s0/2021-01-28.png)

## Integer verification

In [14]:
features = pd.DataFrame(df_missing.dtypes)
features.columns = ['type']
features_f = features[features['type'] == 'float64'].index
features_o = features[features['type'] == 'object'].index
features_i = features[features['type'] == 'int64'].index
features_b = features[features['type'] == 'bool'].index
features_i

UserWarning: Distributing <class 'pandas.core.series.Series'> object. This may take some time.

Index(['id_cli', 'ind_mora_vigente', 'cartera_castigada', 'tenencia_tc',
       'tiene_consumo', 'tiene_crediagil', 'tiene_ctas_activas',
       'tiene_ctas_embargadas', 'pension_fopep', 'tiene_cred_hipo_1',
       'tiene_cred_hipo_2', 'genero_tag'],
      dtype='object')

In [15]:
for i in features_i:
    df_complete[i] = df_complete[i].round()

In [16]:
features_o

Index([], dtype='object')

In [17]:
import pandas as pd
for i in names['tag']:
    df_complete[i] = [math.ceil(x) for x in df_complete[i]]
    df_complete[i] = df_complete[i].astype('int')

import modin.pandas as pd

In [18]:
df_complete['estado_civil_tag_gasto_familiar'].value_counts()

1    4609348
5    3232035
4    1086562
3     451259
2     147986
6          3
dtype: int64

## Outliers verification

In [19]:
Var_missing

Index(['gasto_familiar', 'profesion_tag_gasto_familiar',
       'nivel_academico_tag_gasto_familiar', 'pol_centr_ext',
       'estado_civil_tag_gasto_familiar', 'rep_calif_cred_tag_gasto_familiar',
       'categoria', 'ciudad_residencia_tag_gasto_familiar',
       'ocupacion_tag_gasto_familiar', 'ind'],
      dtype='object')

In [20]:
for i in Var_missing:
    ind = df_complete[df_complete[i] > np.nanmax(df_missing[i])].index
    df_complete.loc[ind,i] =  np.nanmax(df_missing[i])
    ind = df_complete[df_complete[i] < np.nanmin(df_missing[i])].index
    df_complete.loc[ind,i] =  np.nanmin(df_missing[i])

In [21]:
df_complete['estado_civil_tag_gasto_familiar'].value_counts()

1.0    4609348
5.0    3232038
4.0    1086562
3.0     451259
2.0     147986
dtype: int64

# Unlabeling

In [22]:
labels = pd.read_csv("/mnt/workstation/data/labels.csv")
labels

        Categoria      Particip        Variable  Label        Var_mean
0          CASADO  9.678370e+05    estado_civil      5  gasto_familiar
1     UNION LIBRE  8.678049e+05    estado_civil      4  gasto_familiar
2      DIVORCIADO  7.881397e+05    estado_civil      3  gasto_familiar
3           VIUDO  6.969590e+05    estado_civil      2  gasto_familiar
4         SOLTERO  6.912766e+05    estado_civil      1  gasto_familiar
...           ...           ...             ...    ...             ...
9109            D  1.101550e+06  rep_calif_cred      5  ingreso_nompen
9110            F  1.099701e+06  rep_calif_cred      4  ingreso_nompen
9111            G  1.099355e+06  rep_calif_cred      3  ingreso_nompen
9112            H  1.095841e+06  rep_calif_cred      2  ingreso_nompen
9113            E  1.055179e+06  rep_calif_cred      1  ingreso_nompen

[9114 rows x 5 columns]

In [33]:
names[names['untag']==i]['tag']

0    estado_civil_tag_gasto_familiar
Name: tag, dtype: object

In [34]:
df_complete[names[names['untag']==i]['tag']]

         estado_civil_tag_gasto_familiar
0                                    3.0
1                                    3.0
2                                    3.0
3                                    3.0
4                                    3.0
...                                  ...
9527188                              1.0
9527189                              3.0
9527190                              3.0
9527191                              5.0
9527192                              4.0

[9527193 rows x 1 columns]

In [46]:
for j in ['gasto_familiar']:#,'ind','ingreso_nompen']:
    for i in names['untag'][:-1]:
        tag = labels[labels['Var_mean'] ==j]
        tmp = pd.pivot_table(tag[tag['Variable'] == i][['Categoria','Label']],
                       values='Label',
                       columns='Categoria').round()
        tmp = tmp.T
        tmp = tmp.reset_index()
        tmp.index = tmp['Label']
        tmp = tmp.to_dict()['Categoria']
        nueva_variable = i#+'_untag_'+j
        #variable_tag = i+'_tag_'+j
        df_complete[nueva_variable] = df_complete.iloc[:,names[names['untag']==i]['key_tag']].squeeze().map(tmp)

UserWarning: `DataFrame.to_dict` defaulting to pandas implementation.
UserWarning: `DataFrame.to_dict` defaulting to pandas implementation.
UserWarning: `DataFrame.to_dict` defaulting to pandas implementation.
UserWarning: `DataFrame.to_dict` defaulting to pandas implementation.
UserWarning: `DataFrame.to_dict` defaulting to pandas implementation.
UserWarning: `DataFrame.to_dict` defaulting to pandas implementation.

In [47]:
df_complete

,id_cli,periodo,fecha_nacimiento,edad,ult_actual,categoria,codigo_ciiu,ind_mora_vigente,cartera_castigada,mora_max,...,ocupacion_tag_gasto_familiar,ciudad_residencia_tag_gasto_familiar,rep_calif_cred_tag_gasto_familiar,genero_tag,estado_civil,nivel_academico,profesion,ocupacion,ciudad_residencia,rep_calif_cred
0,2089776,201908,19840630,35,20180526,1.0,10,1,1,0,...,6,928,5,2,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,LORICA,C
1,2089776,201909,19840630,35,20180526,1.0,10,1,1,0,...,6,928,5,2,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,LORICA,C
2,2089776,201907,19840630,35,20180526,1.0,10,1,1,0,...,6,928,5,2,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,LORICA,C
3,2089776,201903,19840630,35,20180526,1.0,10,1,1,0,...,6,928,5,2,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,LORICA,C
4,2089776,201911,19840630,35,20180526,1.0,10,1,1,0,...,6,928,5,2,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,LORICA,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9527188,8596193,202011,19740415,47,20201010,2.0,10,1,1,0,...,6,892,8,1,SOLTERO,UNIVERSITARIO,OTROS,Empleado,PUERRES,A
9527189,8616083,202011,19850620,35,20201003,3.0,90,1,1,28,...,6,428,5,2,DIVORCIADO,UNIVERSITARIO,CARRERA MILITAR,Empleado,PEDRAZA,C
9527190,8670207,202011,19740316,47,20200616,3.0,10,1,1,23,...,8,1002,3,2,DIVORCIADO,UNIVERSITARIO,QUIMICA FARMACEUTICA,Independiente,MURILLO,D
9527191,8677655,202011,19780722,42,20200423,2.0,10,1,1,0,...,6,892,7,1,CASADO,ESPECIALIZACION,ECONOMIA,Empleado,PUERRES,B
9527192,8692808,202011,19801025,40,20200221,2.0,10,1,1,20,...,6,428,4,1,UNION LIBRE,UNIVERSITARIO,OTROS,Empleado,PEDRAZA,E

In [48]:
df_complete['genero_tag'].value_counts()

1    4941539
2    4585654
dtype: int64

In [49]:
conditions = [
    (df_complete['genero_tag'] == 2),
    (df_complete['genero_tag'] == 1)
]
values = ['M','F']
df_complete['genero'] = np.select(conditions, values)

In [50]:
df_complete['genero'].value_counts()

F    4941539
M    4585654
dtype: int64

## Final Stats

In [51]:
features = pd.DataFrame(df_complete.dtypes)
features.columns = ['type']
features_f = features[features['type'] == 'float64'].index
features_o = features[features['type'] == 'object'].index
features_i = features[features['type'] == 'int64'].index
features_b = features[features['type'] == 'bool'].index

UserWarning: Distributing <class 'pandas.core.series.Series'> object. This may take some time.

In [52]:
df_complete[features_o].describe().T

                     count unique            top     freq
estado_civil       9527193      5        SOLTERO  4609348
nivel_academico    9527193      6  UNIVERSITARIO  5755845
profesion          9527193     79          OTROS  3561488
ocupacion          9527193     10       Empleado  7158608
ciudad_residencia  9527193    803        PEDRAZA  2634338
rep_calif_cred     9527193      8              A  2693172
genero             9527193      2              F  4941539

In [53]:
df_complete[features_i].describe().T

,count,mean,std,min,25%,50%,75%,max
periodo,9527193.0,2.019586e+05,49.660257,201902.0,201907.0,202001.0,202007.0,202011.0
fecha_nacimiento,9527193.0,1.977122e+07,129659.345589,19000606.0,19690825.0,19800920.0,19870707.0,20200907.0
edad,9527193.0,4.236348e+01,12.977896,0.0,32.0,39.0,50.0,119.0
ult_actual,9527193.0,2.019047e+07,11867.928825,0.0,20190109.0,20190711.0,20200103.0,20201020.0
codigo_ciiu,9527193.0,3.876112e+02,1634.031405,0.0,10.0,10.0,10.0,9900.0
ind_mora_vigente,9527193.0,1.000000e+00,0.000000,1.0,1.0,1.0,1.0,1.0
cartera_castigada,9527193.0,1.000000e+00,0.000000,1.0,1.0,1.0,1.0,1.0
mora_max,9527193.0,3.638598e+00,19.876448,0.0,0.0,0.0,0.0,3367.0
cant_moras_30_ult_12_meses,9527193.0,5.051939e-02,0.472796,0.0,0.0,0.0,0.0,12.0
cant_moras_60_ult_12_meses,9527193.0,2.555107e-02,0.356678,0.0,0.0,0.0,0.0,12.0
cant_moras_90_ult_12_meses,9527193.0,1.676884e-02,0.292358,0.0,0.0,0.0,0.0,12.0
tenencia_tc,9527193.0,4.845946e-01,0.499763,0.0,0.0,0.0,1.0,1.0
tiene_consumo,9527193.0,1.847099e-01,0.388062,0.0,0.0,0.0,0.0,1.0
tiene_crediagil,9527193.0,2.012525e-01,0.400936,0.0,0.0,0.0,0.0,1.0
nro_tot_cuentas,9527193.0,1.104576e+00,0.459495,0.0,1.0,1.0,1.0,36.0
ctas_activas,9527193.0,1.034584e+00,0.409644,0.0,1.0,1.0,1.0,36.0
tiene_ctas_activas,9527193.0,9.419072e-01,0.233919,0.0,1.0,1.0,1.0,1.0
ctas_embargadas,9527193.0,3.053365e-03,0.057891,0.0,0.0,0.0,0.0,4.0
tiene_ctas_embargadas,9527193.0,3.393350e-02,0.181058,0.0,0.0,0.0,0.0,1.0
pension_fopep,9527193.0,5.913263e-02,0.235873,0.0,0.0,0.0,0.0,1.0
tiene_cred_hipo_1,9527193.0,3.135939e-02,0.174287,0.0,0.0,0.0,0.0,1.0
tiene_cred_hipo_2,9527193.0,3.135939e-02,0.174287,0.0,0.0,0.0,0.0,1.0
cant_mora_30_tdc_ult_3m_sf,9527193.0,2.145123e-02,0.187086,0.0,0.0,0.0,0.0,11.0
cant_mora_30_consum_ult_3m_sf,9527193.0,1.014636e-01,0.747179,0.0,0.0,0.0,0.0,150.0
cant_oblig_tot_sf,9527193.0,3.774108e+00,3.750180,0.0,1.0,3.0,5.0,139.0
cant_cast_ult_12m_sr,9527193.0,1.797572e-01,1.796506,0.0,0.0,0.0,0.0,528.0
profesion_tag_gasto_familiar,9527193.0,4.567552e+01,16.437045,1.0,44.0,44.0,55.0,79.0
ocupacion_tag_gasto_familiar,9527193.0,5.798133e+00,1.576430,1.0,6.0,6.0,6.0,10.0
ciudad_residencia_tag_gasto_familiar,9527193.0,7.706051e+02,236.856495,2.0,428.0,892.0,928.0,1502.0
rep_calif_cred_tag_gasto_familiar,9527193.0,5.219546e+00,2.505010,1.0,3.0,5.0,8.0,8.0
genero_tag,9527193.0,1.481323e+00,0.499651,1.0,1.0,1.0,2.0,2.0

In [54]:
df_complete[features_f].describe().T

,count,mean,std,min,25%,50%,75%,max
id_cli,9527193.0,2.985499e+06,2.532554e+06,3.000000e+00,1082598.0,2255384.000,3940060.0,8.704801e+06
categoria,9527193.0,1.493664e+00,6.699088e-01,0.000000e+00,1.0,1.000,2.0,5.000000e+00
cupo_total_tc,9527193.0,6.289413e+06,1.312793e+07,0.000000e+00,0.0,0.000,7700000.0,9.662000e+08
cuota_tc_bancolombia,9527193.0,2.682018e+05,6.997905e+05,0.000000e+00,0.0,0.000,296000.0,1.187058e+08
mediana_nom3,9527193.0,1.432649e+06,2.925975e+06,0.000000e+00,0.0,0.000,2124801.0,5.826296e+08
mediana_pen3,9527193.0,2.178064e+05,1.099234e+06,0.000000e+00,0.0,0.000,0.0,8.252953e+08
ingreso_nompen,9527193.0,1.650455e+06,3.049736e+06,0.000000e+00,0.0,0.000,2446286.0,8.252953e+08
ingreso_final,9527193.0,4.790094e+06,7.579053e+06,0.000000e+00,1902000.0,3116200.220,5300000.0,6.678545e+09
cuota_de_vivienda,9527193.0,1.611561e+05,1.143519e+06,0.000000e+00,0.0,0.000,0.0,5.723090e+08
cuota_de_consumo,9527193.0,8.978521e+05,5.424928e+06,-4.110399e+08,0.0,97000.000,786000.0,2.460707e+09
cuota_rotativos,9527193.0,4.496823e+04,1.317855e+06,0.000000e+00,0.0,0.000,0.0,1.008301e+09
cuota_tarjeta_de_credito,9527193.0,5.786361e+05,2.841368e+06,0.000000e+00,0.0,244000.000,629000.0,4.396925e+09
cuota_de_sector_solidario,9527193.0,7.959000e+04,4.518026e+06,0.000000e+00,0.0,0.000,0.0,5.146613e+09
cuota_sector_real_comercio,9527193.0,4.348420e+05,3.512795e+07,0.000000e+00,0.0,0.000,46000.0,4.995000e+10
cupo_tc_mdo,9527193.0,1.114982e+07,3.570418e+07,0.000000e+00,0.0,3080000.000,12152000.0,5.002155e+10
saldo_prom3_tdc_mdo,9527193.0,3.128938e+06,3.565709e+07,0.000000e+00,0.0,14666.667,2664000.0,3.900324e+10
cuota_tc_mdo,9527193.0,6.412010e+05,6.140603e+06,0.000000e+00,0.0,0.000,405000.0,9.770945e+09
saldo_no_rot_mdo,9527193.0,3.036021e+07,9.685447e+07,0.000000e+00,0.0,1782000.000,28725000.0,4.661178e+10
cuota_libranza_sf,9527193.0,1.076285e+05,1.251617e+06,0.000000e+00,0.0,0.000,0.0,3.001250e+08
ind,9527193.0,5.799301e+05,4.108460e+07,-4.994239e+10,31354.0,766900.000,1941610.0,5.586829e+08
pol_centr_ext,9527193.0,1.256958e+00,3.069023e+00,0.000000e+00,0.0,0.000,0.0,2.400000e+01
gasto_familiar,9527193.0,7.776832e+05,1.511546e+06,-9.300000e+06,193285.0,451249.000,879599.0,7.190166e+08
estado_civil_tag_gasto_familiar,9527193.0,2.809383e+00,1.839962e+00,1.000000e+00,1.0,3.000,5.0,5.000000e+00
nivel_academico_tag_gasto_familiar,9527193.0,2.900756e+00,1.206656e+00,1.000000e+00,3.0,3.000,3.0,6.000000e+00

plt.rcParams.update({'font.size': 20})
sns.set_style('darkgrid')
plt.style.use("dark_background")
var_hist = Var_missing
plt.figure(figsize=(25,25*2))
plt.title("Distribucin de Variables Numericas")
for i,var in enumerate(var_hist):
    plt.subplot(5,2,i+1)
    sns.histplot(df_missing[var], color='r', kde=True , label='Missing', alpha = 0.7)
    sns.histplot(df_complete[var], color='b', kde=True, label='Complete',alpha = 0.3)
    plt.legend(loc=4)
    plt.xlabel(var)
    plt.ylabel("count")

plt.rcParams.update({'font.size': 20})
sns.set_style('darkgrid')
plt.style.use("dark_background")
var_hist = Var_missing
plt.figure(figsize=(25,25*2))
plt.title("Distribucin de Variables Numericas")
for i,var in enumerate(var_hist):
    plt.subplot(5,2,i+1)
    sns.histplot(df_missing[var], color='r', kde=True , label='Missing', alpha = 0.7)
    sns.histplot(df_complete[var], color='b', kde=True, label='Complete',alpha = 0.3)
    plt.legend(loc=4)
    plt.xlabel(var)
    plt.ylabel("count")
    
![Texto alternativo](https://lh3.googleusercontent.com/-pDhw6NgPZBE/YBTYDXFLT5I/AAAAAAAA7qw/8cELHaSSCLQnaTkT_wq1tuTiDXyhh7rsgCK8BGAsYHg/s0/2021-01-29.png)

In [55]:
df_complete

,id_cli,periodo,fecha_nacimiento,edad,ult_actual,categoria,codigo_ciiu,ind_mora_vigente,cartera_castigada,mora_max,...,ciudad_residencia_tag_gasto_familiar,rep_calif_cred_tag_gasto_familiar,genero_tag,estado_civil,nivel_academico,profesion,ocupacion,ciudad_residencia,rep_calif_cred,genero
0,2089776,201908,19840630,35,20180526,1.0,10,1,1,0,...,928,5,2,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,LORICA,C,M
1,2089776,201909,19840630,35,20180526,1.0,10,1,1,0,...,928,5,2,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,LORICA,C,M
2,2089776,201907,19840630,35,20180526,1.0,10,1,1,0,...,928,5,2,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,LORICA,C,M
3,2089776,201903,19840630,35,20180526,1.0,10,1,1,0,...,928,5,2,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,LORICA,C,M
4,2089776,201911,19840630,35,20180526,1.0,10,1,1,0,...,928,5,2,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,LORICA,C,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9527188,8596193,202011,19740415,47,20201010,2.0,10,1,1,0,...,892,8,1,SOLTERO,UNIVERSITARIO,OTROS,Empleado,PUERRES,A,F
9527189,8616083,202011,19850620,35,20201003,3.0,90,1,1,28,...,428,5,2,DIVORCIADO,UNIVERSITARIO,CARRERA MILITAR,Empleado,PEDRAZA,C,M
9527190,8670207,202011,19740316,47,20200616,3.0,10,1,1,23,...,1002,3,2,DIVORCIADO,UNIVERSITARIO,QUIMICA FARMACEUTICA,Independiente,MURILLO,D,M
9527191,8677655,202011,19780722,42,20200423,2.0,10,1,1,0,...,892,7,1,CASADO,ESPECIALIZACION,ECONOMIA,Empleado,PUERRES,B,F
9527192,8692808,202011,19801025,40,20200221,2.0,10,1,1,20,...,428,4,1,UNION LIBRE,UNIVERSITARIO,OTROS,Empleado,PEDRAZA,E,F

In [56]:
df_complete['id_cli'] = df_complete['id_cli'].round().astype(str)
df_complete['periodo'] = df_complete['periodo'].round().astype(str)
#df_complete['id_cli'] = [x[:-2] for x in df_complete['id_cli']]
#df_complete['periodo'] = [x[:-2] for x in df_complete['periodo']]
df_complete['id_registro'] = df_complete['id_cli']+'#'+df_complete['periodo']
df_complete

,id_cli,periodo,fecha_nacimiento,edad,ult_actual,categoria,codigo_ciiu,ind_mora_vigente,cartera_castigada,mora_max,...,rep_calif_cred_tag_gasto_familiar,genero_tag,estado_civil,nivel_academico,profesion,ocupacion,ciudad_residencia,rep_calif_cred,genero,id_registro
0,2089776,201908,19840630,35,20180526,1.0,10,1,1,0,...,5,2,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,LORICA,C,M,2089776#201908
1,2089776,201909,19840630,35,20180526,1.0,10,1,1,0,...,5,2,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,LORICA,C,M,2089776#201909
2,2089776,201907,19840630,35,20180526,1.0,10,1,1,0,...,5,2,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,LORICA,C,M,2089776#201907
3,2089776,201903,19840630,35,20180526,1.0,10,1,1,0,...,5,2,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,LORICA,C,M,2089776#201903
4,2089776,201911,19840630,35,20180526,1.0,10,1,1,0,...,5,2,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,LORICA,C,M,2089776#201911
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9527188,8596193,202011,19740415,47,20201010,2.0,10,1,1,0,...,8,1,SOLTERO,UNIVERSITARIO,OTROS,Empleado,PUERRES,A,F,8596193#202011
9527189,8616083,202011,19850620,35,20201003,3.0,90,1,1,28,...,5,2,DIVORCIADO,UNIVERSITARIO,CARRERA MILITAR,Empleado,PEDRAZA,C,M,8616083#202011
9527190,8670207,202011,19740316,47,20200616,3.0,10,1,1,23,...,3,2,DIVORCIADO,UNIVERSITARIO,QUIMICA FARMACEUTICA,Independiente,MURILLO,D,M,8670207#202011
9527191,8677655,202011,19780722,42,20200423,2.0,10,1,1,0,...,7,1,CASADO,ESPECIALIZACION,ECONOMIA,Empleado,PUERRES,B,F,8677655#202011
9527192,8692808,202011,19801025,40,20200221,2.0,10,1,1,20,...,4,1,UNION LIBRE,UNIVERSITARIO,OTROS,Empleado,PEDRAZA,E,F,8692808#202011

In [61]:
lista=df_complete['periodo'].astype(int)
df_complete['anho'] = (lista/100).round().astype(int)
df_complete['mes'] = (lista%100)
df_complete[['anho','mes']]

         anho  mes
0        2019    8
1        2019    9
2        2019    7
3        2019    3
4        2019   11
...       ...  ...
9527188  2020   11
9527189  2020   11
9527190  2020   11
9527191  2020   11
9527192  2020   11

[9527193 rows x 2 columns]

In [62]:
df_complete

,periodo,fecha_nacimiento,edad,ult_actual,categoria,codigo_ciiu,ind_mora_vigente,cartera_castigada,mora_max,cant_moras_30_ult_12_meses,...,estado_civil,nivel_academico,profesion,ocupacion,ciudad_residencia,rep_calif_cred,genero,id_registro,anho,mes
0,201908,19840630,35,20180526,1.0,10,1,1,0,0,...,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,LORICA,C,M,2089776#201908,2019,8
1,201909,19840630,35,20180526,1.0,10,1,1,0,0,...,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,LORICA,C,M,2089776#201909,2019,9
2,201907,19840630,35,20180526,1.0,10,1,1,0,0,...,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,LORICA,C,M,2089776#201907,2019,7
3,201903,19840630,35,20180526,1.0,10,1,1,0,0,...,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,LORICA,C,M,2089776#201903,2019,3
4,201911,19840630,35,20180526,1.0,10,1,1,0,0,...,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,LORICA,C,M,2089776#201911,2019,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9527188,202011,19740415,47,20201010,2.0,10,1,1,0,0,...,SOLTERO,UNIVERSITARIO,OTROS,Empleado,PUERRES,A,F,8596193#202011,2020,11
9527189,202011,19850620,35,20201003,3.0,90,1,1,28,0,...,DIVORCIADO,UNIVERSITARIO,CARRERA MILITAR,Empleado,PEDRAZA,C,M,8616083#202011,2020,11
9527190,202011,19740316,47,20200616,3.0,10,1,1,23,0,...,DIVORCIADO,UNIVERSITARIO,QUIMICA FARMACEUTICA,Independiente,MURILLO,D,M,8670207#202011,2020,11
9527191,202011,19780722,42,20200423,2.0,10,1,1,0,0,...,CASADO,ESPECIALIZACION,ECONOMIA,Empleado,PUERRES,B,F,8677655#202011,2020,11
9527192,202011,19801025,40,20200221,2.0,10,1,1,20,0,...,UNION LIBRE,UNIVERSITARIO,OTROS,Empleado,PEDRAZA,E,F,8692808#202011,2020,11

In [63]:
df_complete.to_csv("/mnt/workstation/data/Alomarrano/littlepig_full_ok.csv", index=False)
df_complete.shape

UserWarning: `DataFrame.to_csv` defaulting to pandas implementation.
UserWarning: Distributing <class 'pandas.core.frame.DataFrame'> object. This may take some time.

(9527193, 64)