In [1]:
import numpy                 as np
import pandas                as pd
import matplotlib.pyplot     as plt
import seaborn               as sns
import missingno as msno
from zipfile import ZipFile as zf
import random

/pip_envs/Debuggers3.6/lib/python3.6/site-packages/pandas/compat/__init__.py:120: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
df = pd.read_csv("/mnt/workstation/data/input_CategoricasArregladas.csv")#, sep= ",", names =header)
df

,Unnamed: 0,periodo,id_cli,fecha_nacimiento,edad,genero,estado_civil,nivel_academico,profesion,ocupacion,...,cuota_libranza_sf,cant_oblig_tot_sf,cant_cast_ult_12m_sr,ind,rep_calif_cred,pol_centr_ext,convenio_lib,ingreso_nomina,ingreso_segurida_social,gasto_familiar
0,0,201908.0,2089776.0,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,...,0.0,1.0,0.0,311715.5,C,0.0,NaN,1255032.0,NaN,232526.0
1,1,201909.0,2089776.0,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,...,0.0,1.0,0.0,311715.5,C,0.0,NaN,1255032.0,NaN,265900.0
2,2,201907.0,2089776.0,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,...,0.0,1.0,0.0,311306.0,C,0.0,NaN,1255032.0,NaN,243052.0
3,3,201903.0,2089776.0,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,...,0.0,1.0,0.0,311306.0,C,0.0,NaN,1172612.0,NaN,276014.0
4,4,201911.0,2089776.0,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,...,0.0,0.0,0.0,677516.0,C,0.0,NaN,1255032.0,NaN,418866.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19255243,19255243,201910.0,2090044.0,19670629.0,52.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,...,0.0,3.0,0.0,929800.0,C,0.0,NaN,NaN,NaN,25500.0
19255244,19255244,202002.0,2090044.0,19670629.0,53.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,...,0.0,3.0,0.0,41800.0,D,0.0,NaN,NaN,NaN,147900.0
19255245,19255245,201903.0,2090044.0,19670629.0,52.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,...,0.0,0.0,0.0,928500.0,B,0.0,NaN,NaN,NaN,777437.1
19255246,19255246,202001.0,2090044.0,19670629.0,52.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,...,0.0,3.0,0.0,41800.0,D,0.0,NaN,NaN,NaN,1131012.0
19255247,19255247,202004.0,2090044.0,19670629.0,53.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,...,0.0,3.0,0.0,879800.0,B,0.0,NaN,NaN,2650000.0,597462.0

In [3]:
lista=df['periodo'].astype(int)

In [4]:
df['anio'] = (lista/100).round().astype(int)

In [5]:
df['mes'] = (lista%100)

In [6]:
prom = df[['id_cli','mes','cupo_total_tc','cuota_de_vivienda','ind']].groupby(by = ['id_cli','mes']).mean()

In [7]:
prom

               cupo_total_tc  cuota_de_vivienda           ind
id_cli    mes
3.0       1        6600000.0                0.0  3.281244e+06
          2        6600000.0                0.0  3.155679e+06
          3        6600000.0                0.0  2.775457e+06
          4        6600000.0                0.0  2.123905e+06
          5        6600000.0                0.0  2.601551e+06
...                      ...                ...           ...
8704800.0 7        1700000.0                0.0  7.537400e+05
          8        1700000.0                0.0  5.397950e+05
          9        1700000.0                0.0  6.162950e+05
          10       1700000.0                0.0  5.230038e+05
          11       1700000.0                0.0  5.230038e+05

[10397407 rows x 3 columns]

In [8]:
maxi = df[['id_cli','mes','mora_max','cant_moras_30_ult_12_meses','cant_moras_60_ult_12_meses',
          'cant_moras_90_ult_12_meses','cant_mora_30_tdc_ult_3m_sf','cant_mora_30_consum_ult_3m_sf'
          ]].groupby(by = ['id_cli','mes']).max()
maxi

               mora_max  cant_moras_30_ult_12_meses  \
id_cli    mes
3.0       1         0.0                         0.0
          2         0.0                         0.0
          3         0.0                         0.0
          4         0.0                         0.0
          5         0.0                         0.0
...                 ...                         ...
8704800.0 7         0.0                         0.0
          8         0.0                         0.0
          9         0.0                         0.0
          10        0.0                         0.0
          11        0.0                         0.0

               cant_moras_60_ult_12_meses  cant_moras_90_ult_12_meses  \
id_cli    mes
3.0       1                           0.0                         0.0
          2                           0.0                         0.0
          3                           0.0                         0.0
          4                           0.0                         0.0
          5                           0.0                         0.0
...                                   ...                         ...
8704800.0 7                           0.0                         0.0
          8                           0.0                         0.0
          9                           0.0                         0.0
          10                          0.0                         0.0
          11                          0.0                         0.0

               cant_mora_30_tdc_ult_3m_sf  cant_mora_30_consum_ult_3m_sf
id_cli    mes
3.0       1                           0.0                            0.0
          2                           0.0                            0.0
          3                           0.0                            0.0
          4                           0.0                            0.0
          5                           0.0                            0.0
...                                   ...                            ...
8704800.0 7                           0.0                            0.0
          8                           0.0                            0.0
          9                           0.0                            0.0
          10                          0.0                            0.0
          11                          0.0                            0.0

[10397407 rows x 6 columns]

In [9]:
desvio =  df[['id_cli','mes','saldo_no_rot_mdo']].groupby(by = ['id_cli','mes']).std()
desvio

               saldo_no_rot_mdo
id_cli    mes
3.0       1                 NaN
          2         2828.427125
          3         2828.427125
          4         1414.213562
          5         1414.213562
...                         ...
8704800.0 7         1414.213562
          8         1414.213562
          9         4242.640687
          10       74246.212025
          11       74246.212025

[10397407 rows x 1 columns]

In [10]:
ultim = df[['id_cli','mes','codigo_ciiu', 'ctas_activas', 'ctas_embargadas', 'mediana_nom3', 'mediana_pen3',
           'cupo_tc_mdo','cant_oblig_tot_sf','cant_cast_ult_12m_sr','genero','estado_civil','nivel_academico',
           'profesion','ocupacion','ciudad_residencia','rep_calif_cred','ind_mora_vigente','cartera_castigada'
           ,'tenencia_tc','tiene_consumo','tiene_crediagil','tiene_ctas_activas','tiene_ctas_embargadas','pension_fopep',
           'tiene_cred_hipo_1','tiene_cred_hipo_2']].sort_values(by =[ 
    'id_cli','mes'])

In [11]:
ultim.drop_duplicates(subset=['id_cli','mes'], inplace = True, keep='last')
ultim

,id_cli,mes,codigo_ciiu,ctas_activas,ctas_embargadas,mediana_nom3,mediana_pen3,cupo_tc_mdo,cant_oblig_tot_sf,cant_cast_ult_12m_sr,...,ind_mora_vigente,cartera_castigada,tenencia_tc,tiene_consumo,tiene_crediagil,tiene_ctas_activas,tiene_ctas_embargadas,pension_fopep,tiene_cred_hipo_1,tiene_cred_hipo_2
5775419,3.0,1,10.0,1.0,0.0,0.0,0.0,13579000.0,4.0,0.0,...,True,True,True,False,False,True,False,False,False,False
5775512,3.0,2,10.0,1.0,0.0,5378092.0,0.0,16272000.0,4.0,0.0,...,True,True,True,False,False,True,False,False,False,False
5775510,3.0,3,10.0,1.0,0.0,0.0,0.0,13579000.0,4.0,0.0,...,True,True,True,False,False,True,False,False,False,False
5775506,3.0,4,10.0,1.0,0.0,7926427.0,0.0,16272000.0,4.0,0.0,...,True,True,True,False,False,True,False,False,False,False
5775505,3.0,5,10.0,1.0,0.0,3679205.0,0.0,16272000.0,4.0,0.0,...,True,True,True,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3214422,8704800.0,7,90.0,1.0,0.0,0.0,0.0,5750000.0,4.0,0.0,...,True,True,True,False,False,True,False,False,False,False
3214424,8704800.0,8,90.0,1.0,0.0,0.0,0.0,7750000.0,4.0,0.0,...,True,True,True,False,True,True,False,False,False,False
3214421,8704800.0,9,90.0,1.0,0.0,0.0,0.0,5750000.0,4.0,0.0,...,True,True,True,False,False,True,False,False,False,False
3214418,8704800.0,10,90.0,1.0,0.0,0.0,0.0,5750000.0,4.0,0.0,...,True,True,True,False,False,True,False,False,False,False
3214691,8704800.0,11,90.0,1.0,0.0,0.0,0.0,5750000.0,4.0,0.0,...,True,True,True,False,False,True,False,False,False,False

In [12]:
ultim['ind_mora_vigente'] = ultim['ind_mora_vigente'].astype(int)
ultim['cartera_castigada'] = ultim['cartera_castigada'].astype(int)
ultim['tenencia_tc'] = ultim['tenencia_tc'].astype(int)
ultim['tiene_consumo'] = ultim['tiene_consumo'].astype(int)
ultim['tiene_crediagil'] = ultim['tiene_crediagil'].astype(int)
ultim['tiene_ctas_activas'] = ultim['tiene_ctas_activas'].astype(int)
ultim['tiene_ctas_embargadas'] = ultim['tiene_ctas_embargadas'].astype(int)
ultim['pension_fopep'] = ultim['pension_fopep'].astype(int)
ultim['tiene_cred_hipo_1'] = ultim['tiene_cred_hipo_1'].astype(int)
ultim['tiene_cred_hipo_2'] = ultim['tiene_cred_hipo_2'].astype(int)

In [13]:
ultim

,id_cli,mes,codigo_ciiu,ctas_activas,ctas_embargadas,mediana_nom3,mediana_pen3,cupo_tc_mdo,cant_oblig_tot_sf,cant_cast_ult_12m_sr,...,ind_mora_vigente,cartera_castigada,tenencia_tc,tiene_consumo,tiene_crediagil,tiene_ctas_activas,tiene_ctas_embargadas,pension_fopep,tiene_cred_hipo_1,tiene_cred_hipo_2
5775419,3.0,1,10.0,1.0,0.0,0.0,0.0,13579000.0,4.0,0.0,...,1,1,1,0,0,1,0,0,0,0
5775512,3.0,2,10.0,1.0,0.0,5378092.0,0.0,16272000.0,4.0,0.0,...,1,1,1,0,0,1,0,0,0,0
5775510,3.0,3,10.0,1.0,0.0,0.0,0.0,13579000.0,4.0,0.0,...,1,1,1,0,0,1,0,0,0,0
5775506,3.0,4,10.0,1.0,0.0,7926427.0,0.0,16272000.0,4.0,0.0,...,1,1,1,0,0,1,0,0,0,0
5775505,3.0,5,10.0,1.0,0.0,3679205.0,0.0,16272000.0,4.0,0.0,...,1,1,1,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3214422,8704800.0,7,90.0,1.0,0.0,0.0,0.0,5750000.0,4.0,0.0,...,1,1,1,0,0,1,0,0,0,0
3214424,8704800.0,8,90.0,1.0,0.0,0.0,0.0,7750000.0,4.0,0.0,...,1,1,1,0,1,1,0,0,0,0
3214421,8704800.0,9,90.0,1.0,0.0,0.0,0.0,5750000.0,4.0,0.0,...,1,1,1,0,0,1,0,0,0,0
3214418,8704800.0,10,90.0,1.0,0.0,0.0,0.0,5750000.0,4.0,0.0,...,1,1,1,0,0,1,0,0,0,0
3214691,8704800.0,11,90.0,1.0,0.0,0.0,0.0,5750000.0,4.0,0.0,...,1,1,1,0,0,1,0,0,0,0

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19255248 entries, 0 to 19255247
Data columns (total 68 columns):
 #   Column                         Dtype
---  ------                         -----
 0   Unnamed: 0                     int64
 1   periodo                        float64
 2   id_cli                         float64
 3   fecha_nacimiento               float64
 4   edad                           float64
 5   genero                         object
 6   estado_civil                   object
 7   nivel_academico                object
 8   profesion                      object
 9   ocupacion                      object
 10  tipo_vivienda                  object
 11  ult_actual                     float64
 12  categoria                      int64
 13  codigo_ciiu                    float64
 14  ind_mora_vigente               bool
 15  cartera_castigada              bool
 16  ciudad_residencia              object
 17  departamento_residencia        object
 18  ciudad_laboral                 object
 19  departamento_laboral           object
 20  rechazo_credito                object
 21  mora_max                       float64
 22  cant_moras_30_ult_12_meses     float64
 23  cant_moras_60_ult_12_meses     float64
 24  cant_moras_90_ult_12_meses     float64
 25  cupo_total_tc                  float64
 26  tenencia_tc                    bool
 27  cuota_tc_bancolombia           float64
 28  tiene_consumo                  bool
 29  tiene_crediagil                bool
 30  nro_tot_cuentas                float64
 31  ctas_activas                   float64
 32  tiene_ctas_activas             bool
 33  ctas_embargadas                float64
 34  tiene_ctas_embargadas          bool
 35  pension_fopep                  bool
 36  cuota_cred_hipot               float64
 37  tiene_cred_hipo_1              bool
 38  tiene_cred_hipo_2              bool
 39  mediana_nom3                   float64
 40  mediana_pen3                   float64
 41  ingreso_nompen                 float64
 42  cat_ingreso                    object
 43  ingreso_final                  float64
 44  cant_mora_30_tdc_ult_3m_sf     float64
 45  cant_mora_30_consum_ult_3m_sf  float64
 46  cuota_de_vivienda              float64
 47  cuota_de_consumo               float64
 48  cuota_rotativos                float64
 49  cuota_tarjeta_de_credito       float64
 50  cuota_de_sector_solidario      float64
 51  cuota_sector_real_comercio     float64
 52  cupo_tc_mdo                    float64
 53  saldo_prom3_tdc_mdo            float64
 54  cuota_tc_mdo                   float64
 55  saldo_no_rot_mdo               float64
 56  cuota_libranza_sf              float64
 57  cant_oblig_tot_sf              float64
 58  cant_cast_ult_12m_sr           float64
 59  ind                            float64
 60  rep_calif_cred                 object
 61  pol_centr_ext                  float64
 62  convenio_lib                   float64
 63  ingreso_nomina                 float64
 64  ingreso_segurida_social        float64
 65  gasto_familiar                 float64
 66  anio                           int64
 67  mes                            int64
dtypes: bool(10), float64(41), int64(4), object(13)
memory usage: 8.5+ GB

In [15]:
df.isna().sum()
pd.set_option('display.max_columns', None)

In [16]:
labels = pd.read_csv("/mnt/workstation/data/labels.csv")#, sep= ",", names =header)

In [17]:
labels

        Categoria      Particip        Variable  Label        Var_mean
0          CASADO  9.678370e+05    estado_civil      5  gasto_familiar
1     UNION LIBRE  8.678049e+05    estado_civil      4  gasto_familiar
2      DIVORCIADO  7.881397e+05    estado_civil      3  gasto_familiar
3           VIUDO  6.969590e+05    estado_civil      2  gasto_familiar
4         SOLTERO  6.912766e+05    estado_civil      1  gasto_familiar
...           ...           ...             ...    ...             ...
9109            D  1.101550e+06  rep_calif_cred      5  ingreso_nompen
9110            F  1.099701e+06  rep_calif_cred      4  ingreso_nompen
9111            G  1.099355e+06  rep_calif_cred      3  ingreso_nompen
9112            H  1.095841e+06  rep_calif_cred      2  ingreso_nompen
9113            E  1.055179e+06  rep_calif_cred      1  ingreso_nompen

[9114 rows x 5 columns]

In [18]:
output = prom.merge(maxi, on = ['id_cli','mes']).merge(desvio, on = ['id_cli','mes']).merge(ultim, on = ['id_cli','mes'])

In [19]:
output['estado_civil'].unique().tolist()

['CASADO', nan, 'SOLTERO', 'UNION LIBRE', 'DIVORCIADO', 'VIUDO']

In [20]:
output['estado_civil'].value_counts()

SOLTERO        4812906
CASADO         2770839
UNION LIBRE    1198955
DIVORCIADO      418593
VIUDO           180592
Name: estado_civil, dtype: int64

In [21]:
output['ocupacion'].unique().tolist()

['Empleado',
 'Pensionado',
 'Independiente',
 'Jubilado',
 'Rentista de Capital',
 'Desempleado sin Ingresos',
 'Otro',
 'Comerciante',
 'Desempleado con Ingresos',
 'Estudiante',
 nan]

In [22]:
output['ocupacion'].value_counts()

Empleado                    6575120
Independiente               1683888
Estudiante                   712296
Jubilado                     514845
Desempleado sin Ingresos     263668
Comerciante                  257547
Otro                         137198
Rentista de Capital           94734
Pensionado                    93343
Desempleado con Ingresos      28291
Name: ocupacion, dtype: int64

In [23]:
output['rep_calif_cred'].unique().tolist()

['A', 'G', 'E', 'C', 'H', 'D', 'B', 'F', nan]

In [24]:
output['rep_calif_cred'].value_counts()

A    2066277
C    1434297
B    1422861
G    1186129
D    1166217
H     999326
E     738349
F     419530
Name: rep_calif_cred, dtype: int64

In [25]:
output['saldo_no_rot_mdo'].unique().tolist()

[nan,
 2828.42712474619,
 1414.213562373095,
 2121.3203435596424,
 21213.203435596424,
 14088395.508360773,
 14840757.123543259,
 15272092.260067053,
 14529630.13982118,
 74690982.18995383,
 1393000.3589374986,
 1240972.4009823909,
 943987.552884041,
 1505430.3371461597,
 1101672.365088641,
 1164604.8686142438,
 257386.8683519033,
 1221173.4111091676,
 1436133.872589878,
 226981.27676088177,
 53033.00858899106,
 0.0,
 95404261.13125136,
 95789634.32699804,
 84433499.42114209,
 86536434.98839088,
 149773701.536685,
 16361036.703094337,
 27915868.61446371,
 29865362.01019502,
 37148561.856416464,
 60406010.99642319,
 349310.74990615447,
 234759.45135393378,
 234052.34457274724,
 50204.581464244875,
 50911.68824543142,
 135057.39520663058,
 122329.47314527273,
 155563.49186104044,
 30405.591591021544,
 31819.80515339464,
 143542.67658086916,
 14019099.043804491,
 13954045.21993533,
 13435028.842544403,
 13563722.276720354,
 5634226.832494411,
 214253.3546995239,
 207889.39366884498,
 6363.961030678927,
 202939.64620053914,
 123743.68670764581,
 2972676.9081082456,
 3263297.795175917,
 2365272.1830690014,
 12483263.11506731,
 113137.0849898476,
 171826.94782833106,
 206475.18010647187,
 1714026.837596191,
 1989798.4822589448,
 1874540.0769255375,
 2787414.9314373704,
 2421840.725563925,
 266579.2565073284,
 181019.33598375617,
 90509.66799187809,
 5889492.380502754,
 5446843.535479976,
 4026266.0120762014,
 5127938.377164843,
 4067985.312166208,
 217081.7818242701,
 38890.87296526011,
 10239613.298362395,
 9219965.319891393,
 8051824.917371216,
 6034449.270645997,
 9789893.38552775,
 8775195.154525055,
 3119048.0118138613,
 2952170.811453836,
 225567.06319850867,
 672458.5489084068,
 2424669.1526886714,
 39060578.59274489,
 39564038.62094971,
 64346.71708797583,
 11313.70849898476,
 4242.640687119285,
 108906465.1180085,
 87493857.57011746,
 59865781.41559667,
 66271461.74636561,
 32870565.830237847,
 113844.19177103415,
 168998.52070358486,
 452548.3399593904,
 12415380.864073401,
 64547535.413832806,
 64130342.41293274,
 53798805.233016096,
 58841183.68965737,
 1405021.17421767,
 478711.2908632927,
 1269963.7790110393,
 567806.7452927977,
 17436546.117279075,
 16776108.38365084,
 16527913.903454361,
 15385229.3450569,
 10745194.646910775,
 7724434.477681845,
 7329868.893779752,
 10127183.320153734,
 6742263.15861373,
 3944241.6254585623,
 22685399.75402682,
 19823738.61056486,
 24067793.511246517,
 6453763.591889619,
 4269510.744804374,
 213546.24791833735,
 108894.44430272831,
 255265.54800834367,
 403050.8652763321,
 804687.5169902911,
 347896.5363437814,
 43840.62043356595,
 28738233.800983664,
 29926880.30015825,
 10418511.314002592,
 43303219.27986417,
 39385140.60530951,
 73428796.58553584,
 69835987.03032699,
 70516930.86060964,
 66116605.36128575,
 64328332.311664976,
 10249512.793299006,
 13843736.562070228,
 10352043.276571056,
 12872171.844719911,
 10004853.847008461,
 91923.88155425117,
 189504.61735799475,
 448305.69927227113,
 801859.0898655449,
 24079107.219745502,
 5598871.493435083,
 18939148.02730049,
 20025264.043203026,
 19330178.07729665,
 2785293.6110938108,
 2754180.9127216027,
 2929543.3944558664,
 77781.74593052022,
 854184.9916733494,
 33622220.33863915,
 32608229.21441764,
 2064044.6942835322,
 3206729.252680993,
 9107535.341682732,
 7071067.811865475,
 9030460.702533398,
 6166678.238727881,
 29294726.837777477,
 3457045.0532210306,
 1465832.357399713,
 5663925.317304246,
 15556.349186104046,
 9910808.64511065,
 2148190.401244731,
 2491844.2969013937,
 2269812.7676088177,
 12542660.08468698,
 176278185.01590037,
 3512199.3821535814,
 8123949.809052245,
 4495784.914784069,
 9115313.516275784,
 19416445.10460141,
 15890103.586824097,
 14533165.673727112,
 21500288.788758162,
 32094162.58449502,
 11511698.397716993,
 12089404.637946403,
 11363205.973667819,
 48708343.51525414,
 59483236.64697475,
 723370.2371538382,
 785595.6338982543,
 622253.9674441618,
 7886361.930573565,
 8149405.65317496,
 1600889.7526063437,
 1585333.4034202395,
 1182989.644925094,
 2184252.8470852454,
 1903531.454954186,
 67882.25099390856,
 70003.57133746821,
 2754888.0195027892,
 13917275.667313628,
 28824500.828288425,
 22760353.07283259,
 296759281.0351514,
 291598108.63927084,
 36599846.9942157,
 35066839.492603265,
 26301543.833014823,
 25236641.02054788,
 27883341.70252913,
 946108.8732276006,
 7071.067811865475,
 67209085.33821897,
 66017610.41191964,
 677408.2963767125,
 1839891.8446473966,
 909339.3206059001,
 2897723.589302472,
 3271075.969768969,
 15069859.7206477,
 14002128.481056014,
 12658625.596801573,
 14508416.936385581,
 3483915.1109061195,
 85760031.74264805,
 84604619.26218922,
 7793023.83545694,
 92397643.09764616,
 91688414.99611606,
 14225574.223910963,
 13862121.338381078,
 14075667.586299416,
 14061525.450675685,
 21920.310216782975,
 65053.82386916237,
 7671401.469092854,
 7307948.583562968,
 7409064.853272645,
 7916060.415383399,
 5501290.75763134,
 151320.85117392117,
 293449.3141924172,
 356381.81771801994,
 914996.1748553925,
 2830548.4450897495,
 1626345.5967290592,
 2940149.9961736645,
 2795193.1060304223,
 410829.0398693841,
 105083845.85891402,
 105352546.43576491,
 109136274.82189412,
 40546917.04679901,
 19439072.52159938,
 51232714.724090114,
 43018962.35382718,
 26266188.493955493,
 55487376.22648957,
 3024295.7031348636,
 3326230.2987015196,
 2105056.887592352,
 4732665.686481562,
 3765343.6098183654,
 1606546.606855836,
 1617860.3153548208,
 2225972.1471752515,
 927016.9901355638,
 3456337.946439844,
 5120867.309352977,
 3818376.6184073566,
 2456488.957842066,
 1318754.1469129112,
 6144050.8217299115,
 4862066.2274387,
 48083.26112068523,
 1641194.8391339767,
 1796758.3309950172,
 1404314.0674364835,
 14236180.825628761,
 13827473.106102936,
 16549127.106889958,
 33278566.442982487,
 34314477.877420776,
 30627623.12031412,
 33772126.97625069,
 26680553.06773081,
 30882888.668322463,
 2107178.2079359116,
 1801000.9716821366,
 2174353.3521486335,
 215667.568261897,
 11049957.669602178,
 10559932.670239901,
 10560639.777021088,
 26290230.124515835,
 8220116.331293615,
 6386588.447676897,
 27726363.997105714,
 1660993.8290072002,
 2009597.472132168,
 1459468.3963690342,
 1039446.9683442248,
 626496.6081312811,
 78269649.60953894,
 20007586.37367336,
 22515694.126542047,
 16811463.722710166,
 23089157.726084337,
 22718633.772742584,
 23221386.69416622,
 21017334.857207753,
 4236276.726088606,
 106271785.25130741,
 236626213.25626627,
 230523881.73462635,
 30114263.597172685,
 28925617.0979981,
 28299120.48986682,
 31445745.666146956,
 7992427.947751546,
 128964963.17992729,
 136528884.4182798,
 270857252.53350705,
 279870742.6732919,
 60518440.97463185,
 16223150.88076296,
 14599633.711158646,
 7126222.140798026,
 7826257.854172708,
 1291176.9824466358,
 29698.484809834998,
 17405433.418906868,
 15173097.310700936,
 8190417.84648378,
 6908433.252192569,
 4111825.9325997736,
 4750343.356011226,
 10414268.673315471,
 10107384.33028051,
 3681197.9028571662,
 3553211.5754624014,
 2764080.407658214,
 3075207.391380295,
 1990505.5890401313,
 48963609.063262485,
 47873250.40667283,
 7215317.595227531,
 5816660.38204054,
 3783728.386129216,
 7726555.798025405,
 6099503.094515159,
 661144.840409422,
 369816.84656056436,
 60104.07640085654,
 1506137.4439273463,
 1963635.5313550425,
 16453667.691429775,
 15490588.255453696,
 13811209.650135646,
 3266833.3290818497,
 64617538.985170275,
 9953942.158763029,
 79216465.58954774,
 79483044.84605506,
 75094740.16201134,
 2934493.141924172,
 4842267.237565477,
 2891359.628271793,
 574170.7063234766,
 18108297.559406295,
 11433209.545005286,
 10156174.698182382,
 92672707.63552773,
 80754422.83862847,
 86013883.07709402,
 91361024.55642669,
 96699680.75438511,
 247724961.2937703,
 249775570.9592113,
 4124553.8546611317,
 57886589.535055526,
 62262166.297037885,
 2429618.900156977,
 2725189.5346929543,
 1924037.5516085958,
 2346887.406758151,
 1933937.0465452075,
 4343049.850047775,
 23692319.81043646,
 20609334.244463116,
 17459173.534277044,
 16196280.82307787,
 15979199.0412536,
 15228251.639633488,
 15258657.231224509,
 1042275.395468971,
 8371437.182467536,
 105351132.22220252,
 104921918.4060223,
 108748073.19902271,
 825193.613644701,
 651952.4522539969,
 24506906.822363365,
 24557818.510608796,
 23611709.637381196,
 18688125.119979266,
 13170570.906380635,
 2845397.6874946672,
 4958232.749680071,
 5336534.877614874,
 73539.10524340095,
 45922342.79737914,
 43100279.63366363,
 44126291.57316531,
 45244934.50100243,
 4782870.267945807,
 33941.12549695428,
 4949.747468305833,
 397394.0110268397,
 230516.8106668145,
 2937321.5690489183,
 7612711.606254371,
 8399014.346933812,
 1204909.955141877,
 1910602.5227660513,
 38183.76618407357,
 15932529.993695289,
 25820004.115026783,
 13704436.526176477,
 80946755.88311121,
 84490067.96363701,
 33031786.17634838,
 3025709.9166972367,
 2373757.46444324,
 3914543.1406487273,
 2993183.0047626556,
 1684328.3527863561,
 20337805.24048748,
 12710244.391828192,
 12366590.49617153,
 11977681.766518928,
 12396288.980981365,
 444333880.4823463,
 330046332.7595082,
 328723335.97190815,
 299048185.6858523,
 7311484.117468901,
 5000659.156551264,
 5605942.561246948,
 4541039.748780008,
 11765549.732162964,
 25564031.460237253,
 12498112.357472228,
 9927072.10107794,
 7978285.812127816,
 26006680.305260032,
 21935866.565969076,
 29323718.215806127,
 6140515.287823979,
 903682.4663564077,
 109601.55108391486,
 439820.4178980326,
 29050067.89148693,
 28946123.19465251,
 1716855.2647209375,
 1665943.576475506,
 35278971.526959226,
 33814553.38312189,
 2781050.9704066915,
 2014547.219600474,
 95771956.65746836,
 311265576.6511935,
 279712350.75430614,
 304770800.86599505,
 307577307.68052447,
 11567559.833430732,
 597505.2301026327,
 2705390.544819731,
 2607809.8090159874,
 2454367.6374985063,
 2732967.709286006,
 3331887.152951012,
 2438104.181531216,
 2524371.208835975,
 1832113.6700543447,
 5214205.404469602,
 6178699.054008053,
 978635.7851621818,
 8655694.108504528,
 9123798.797650022,
 36062.44584051392,
 34648.23227814083,
 2201930.516614909,
 275771.64466275356,
 300520.38200428267,
 3895451.2575566904,
 3723624.3097283593,
 7643824.304626578,
 7084502.840708019,
 2180010.206398126,
 352846.2838120872,
 17551804.522612482,
 17657163.433009278,
 3758979.6487876866,
 2606395.5954536144,
 695793.0726875628,
 491439.2129246505,
 830143.3611130068,
 1373908.475845462,
 6858935.777509511,
 6866713.952102563,
 15648273.067658296,
 17626050.73463707,
 13634432.95483901,
 17902529.48608101,
 12691859.61551734,
 1534421.7151748082,
 84961001.07990724,
 84328847.61752647,
 84516938.02132209,
 304055.9159102154,
 1009748.4835343899,
 627910.8216936542,
 873983.9815465728,
 809637.2644585969,
 980757.1055057414,
 992777.9207859128,
 252437.12088359747,
 707.1067811865476,
 39597.97974644666,
 709935.2083112937,
 2061923.3739399726,
 58689.862838483445,
 408000.61274463794,
 14016977.723460931,
 12654382.956114454,
 4357191.985671506,
 5877471.565222583,
 3978182.7509555165,
 3573717.6721168114,
 3235720.6307096416,
 1849084.2328028218,
 64601275.52920298,
 63907603.77685898,
 57354138.12882206,
 39984767.155755706,
 37671113.767713316,
 19881721.366622157,
 48790.36790187178,
 3982425.3916426357,
 1922623.3380462227,
 16172946.299298715,
 22663479.443810035,
 27409580.159134142,
 173948.2681718907,
 14070010.732049923,
 14068596.51848755,
 14231938.184941642,
 14368409.793710645,
 48412772.880718164,
 42630760.730955765,
 43873147.34550053,
 83229296.57278138,
 81436780.8824735,
 222738.63607376246,
 40078812.35765351,
 44740060.25923523,
 42434892.15256709,
 24473672.803647596,
 75246768.11996646,
 5995558.397680736,
 6156071.637010083,
 4673268.7168618925,
 8792872.824054718,
 10315273.723949356,
 127279.22061357855,
 63639.61030678928,
 72831.9984622144,
 1521693.7931134503,
 239709.19882223962,
 106066.01717798212,
 52325.90180780452,
 7778.174593052023,
 130814.75451951129,
 118086.83245815344,
 152735.06473629427,
 18381947.88372549,
 8153648.293862079,
 20832779.987318065,
 21088752.642107595,
 22309218.946435574,
 12020.815280171308,
 296984.84809834993,
 656195.0929411161,
 1296833.8366961281,
 183847.76310850235,
 9446946.596652275,
 29728183.294644833,
 18861366.28136997,
 17629586.268543,
 18199514.33417936,
 67175.14421272202,
 1391586.1453751256,
 3535.5339059327375,
 82024.38661763951,
 85559.92052357225,
 8485.28137423857,
 4392547.324730833,
 8380629.570622961,
 5959495.951840223,
 6477805.222449962,
 7195518.605354307,
 16970.56274847714,
 35355.33905932738,
 118793.93923933999,
 144249.7833620557,
 35355339.05932738,
 34187905.763588384,
 30179317.42104185,
 42426.40687119285,
 3276025.7172372746,
 13299264.340556586,
 2193445.2352406704,
 966614.9698820105,
 10923385.555769786,
 25998902.13066698,
 38137804.243296444,
 28073553.42666831,
 79058780.77734314,
 79522642.8258015,
 292742.20741123066,
 55357975.685532436,
 58027303.78451165,
 60125996.711073324,
 45991639.26193543,
 80315309.52751163,
 4242640.687119286,
 2146069.0809011715,
 720541.8100290919,
 5017629.719299741,
 4949747.468305833,
 137999666.5231478,
 10030309.691131176,
 7085209.947489206,
 4927827.15808905,
 10682262.143385174,
 7810701.504986604,
 127986.3273947651,
 115258.40533340725,
 197989.8987322333,
 89802.56121069154,
 167584.30714121176,
 121622.36636408618,
 52378227.709612325,
 77870134.27816854,
 8106979.246303767,
 7680593.857248279,
 3654327.8451720774,
 28284.2712474619,
 55154.32893255071,
 10136375.708309159,
 30671463.740747686,
 3823326.3658756623,
 6555586.968380482,
 175197725.85424733,
 47634248.314631775,
 50097101.23350452,
 264572487.46232098,
 341275895.55153173,
 9605338.51563806,
 9696555.290411126,
 1448861.794651236,
 2141826.4402140523,
 1851205.5531463814,
 4188900.5717491074,
 3168545.4864969193,
 31112.69837220809,
 25242297.874797374,
 25204114.1086133,
 33234.018715767736,
 161220.34611053285,
 76367.53236814713,
 976514.4648186221,
 775696.1389616426,
 857013.4187980955,
 694378.8591251897,
 45698897.05452419,
 42457519.56956506,
 43724654.92145135,
 5020458.146424487,
 4089198.5156018045,
 10871766.76074317,
 29022490.727020655,
 16329924.004722128,
 42352160.659168266,
 2667206.7786356574,
 2635386.973482263,
 2954292.1317973956,
 2094450.2858745537,
 11334214.595639171,
 10968640.389765725,
 10635593.09582686,
 3636650.175642414,
 5231883.073999265,
 4905906.847872267,
 19405838.50288361,
 19498469.491219047,
 67162416.29066065,
 54976138.0236917,
 55688194.55234655,
 39336350.23740764,
 48531566.8199575,
 18738329.70144351,
 25367455.775067393,
 2361736.6491630687,
 3208143.4662433662,
 2153847.255494224,
 2542755.9851468247,
 41881227.54289802,
 73066757.91356833,
 70661180.6439717,
 68187014.01659997,
 4387597.577262527,
 3367949.5987915257,
 20775504.338041954,
 21229466.891563717,
 3278854.144362021,
 3218042.9611799777,
 3925149.7423665253,
 4661247.901581721,
 5395931.847234544,
 6936717.523440031,
 4080713.2342275656,
 3650085.204484958,
 4718523.550857832,
 4377698.082325916,
 5787669.004011892,
 5272895.267308085,
 4550232.136935433,
 7037126.686368521,
 5590386.2120608445,
 8645087.50678673,
 2195566.55558423,
 1677257.2849744908,
 2694783.9431019328,
 1972827.9195104677,
 94045.20189781082,
 24041.630560342615,
 5656.85424949238,
 3099249.021940638,
 8869240.356422866,
 3001668.286136894,
 33243918.210704345,
 31890515.831513293,
 221324.42251138936,
 3515027.809278328,
 22627.41699796952,
 11824946.701782634,
 17790099.50787235,
 5881714.205909702,
 50884818.18774633,
 53415553.35761299,
 56088416.99049813,
 77106458.95448707,
 79598303.25138848,
 110308.65786510141,
 441234.63146040565,
 26870.057685088806,
 6824994.652012557,
 8168497.536266997,
 6636904.248216935,
 8925101.792136602,
 7223802.87660177,
 5492098.369475914,
 13925760.948687866,
 12839644.93278533,
 59915278.89027973,
 61835073.80120121,
 6071218.823267697,
 6170213.772633813,
 7517959.297575373,
 14550843.343256775,
 3522098.8770901933,
 16147490.455176,
 114974855.51415144,
 100009647.59711935,
 12143144.753316581,
 11465736.456939869,
 1194303.3534240788,
 1752210.6037802647,
 1357645.0198781712,
 907925.1070435271,
 941866.2325404813,
 941159.1257592947,
 12749842.371574638,
 3424518.1412864495,
 1332189.1757554556,
 1904238.5617353725,
 1455225.7556819147,
 441941.7382415922,
 340118.3617507294,
 28439127.632541753,
 28416500.215543784,
 16543470.252640465,
 71472232.12199266,
 87870038.3777087,
 87943577.4829521,
 31956276.762163643,
 960251.0088513315,
 7340475.49549755,
 12825502.7971616,
 20668024.107301597,
 7971921.851097137,
 7394922.717648914,
 8081523.402181052,
 159806.13254815975,
 2769737.2619077065,
 2215365.5454574535,
 1985555.8415718256,
 1060660.1717798214,
 137424081.60326195,
 131916426.88459994,
 259508.18869546294,
 312541.197284454,
 12370126.030077463,
 38676619.61056059,
 38196494.10613492,
 38366199.7336197,
 38661770.36815567,
 147078.2104868019,
 17677.66952966369,
 617304.219975856,
 20346290.521861717,
 19431294.347006325,
 3546140.507650536,
 3506542.527904089,
 1479974.493023444,
 188090.40379562165,
 180312.2292025696,
 43133.5136523794,
 13898183.784221591,
 13937074.65718685,
 16227393.52145008,
 12435886.96072781,
 12069605.64807318,
 12255574.731525242,
 10036673.652161855,
 12309314.846895419,
 11999602.07673571,
 11462908.029815122,
 12293758.497709315,
 55861.43571373726,
 2925300.753768747,
 3132483.0406564055,
 2361029.542381882,
 2468509.7731222375,
 22131735.144357752,
 68413995.29336084,
 35974057.49286561,
 37828798.57991792,
 13339569.427084219,
 24988446.540351402,
 21641710.144995473,
 22609032.22165867,
 24058601.123091094,
 8624581.41013232,
 4963182.497148377,
 6098088.880952786,
 4133746.2428165567,
 6922575.387816301,
 5567758.795062875,
 570635.1724175438,
 1720390.7986268701,
 1081873.3752154177,
 262336.61582020915,
 196575.68516986023,
 311126.9837220809,
 212839.14113715081,
 135764.50198781712,
 14440534.685391674,
 14522559.072009314,
 11501091.795999195,
 11021673.398354717,
 10034552.331818296,
 136432010.78925723,
 103171829.1225856,
 36401149.98870228,
 77587998.67247511,
 82422487.73544754,
 4808326.112068523,
 4695189.027078675,
 3540483.6534010433,
 6131322.899668554,
 6836308.360511541,
 5364819.148862336,
 6606498.656625913,
 5052985.058359069,
 25554131.965300642,
 5709180.151300184,
 3909593.393180421,
 2626194.5853268374,
 4673975.823643079,
 10448209.798812427,
 11036522.640759634,
 8649330.14747385,
 5023993.68033042,
 7504524.268732829,
 19596757.333803978,
 12747013.944449892,
 11054907.417070484,
 11214006.442837458,
 11414824.768694436,
 10142739.669339838,
 13435.028842544403,
 62248731.26819534,
 6612155.510875406,
 6684987.50933762,
 5072784.048232292,
 8603368.206696725,
 6918332.747129181,
 35979007.240333915,
 35901225.49440339,
 35030777.04676275,
 35556157.385184355,
 1277034.846822905,
 1778373.554684167,
 11056321.630632857,
 10544376.321053797,
 5434115.613418617,
 12193349.334780825,
 9270877.008136824,
 7568870.985820805,
 5786254.790449519,
 7842521.310139999,
 5965859.912870902,
 25675754.331664726,
 28960972.437057428,
 21768989.365609054,
 6878734.767382734,
 10570539.2719577,
 37852840.21047826,
 33151287.222368907,
 35397058.35941738,
 32154266.660895877,
 34027392.52425904,
 189486939.68846506,
 193773420.99601793,
 223872128.24400452,
 2498915.364713259,
 19232597.341492906,
 18990059.71554592,
 19543017.2184338,
 17095720.64874716,
 7661501.974156243,
 7583720.228225722,
 6949445.445501389,
 5069248.514326359,
 21853842.179351438,
 22104865.086672664,
 15232494.280320607,
 18379119.456600744,
 13876263.474004809,
 26162.95090390226,
 3418154.1802557707,
 43111593.34216262,
 38238213.40622493,
 36145884.44069394,
 691550.4320004435,
 24748.737341529162,
 14618725.594250683,
 4468914.857098981,
 3751201.4741946347,
 4535382.894530516,
 3438660.2769101807,
 14695093.12661883,
 3150160.7101860694,
 1866054.795551299,

In [26]:
output.fillna(value={'mora_max':0,'cant_moras_30_ult_12_meses':0,'cant_moras_60_ult_12_meses':0,'cant_moras_90_ult_12_meses':0,
    'cant_mora_30_tdc_ult_3m_sf':0,'cant_mora_30_consum_ult_3m_sf':0,'ctas_embargadas':0,'cant_oblig_tot_sf':0,
     'cant_cast_ult_12m_sr':0,'profesion':'OTROS','nivel_academico':'UNIVERSITARIO','ciudad_residencia':'BOGOTA D.C.',
      'ctas_activas':0,'estado_civil':'SOLTERO','ocupacion':'Empleado','saldo_no_rot_mdo':0},inplace = True)

In [27]:
output.dropna(subset = ['ind','ctas_embargadas','cant_oblig_tot_sf',], inplace = True)

In [28]:
labels = labels.loc[labels['Variable'].isin(['id_cli','mes','codigo_ciiu', 'ctas_activas', 'ctas_embargadas', 'mediana_nom3', 'mediana_pen3',
           'cupo_tc_mdo','cant_oblig_tot_sf','cant_cast_ult_12m_sr','genero','estado_civil','nivel_academico',
           'profesion','ocupacion','ciudad_residencia','rep_calif_cred','ind_mora_vigente','cartera_castigada'
           ,'tenencia_tc','tiene_consumo','tiene_crediagil','tiene_ctas_activas','tiene_ctas_embargadas','pension_fopep',
           'tiene_cred_hipo_1','tiene_cred_hipo_2']),:]
print(labels['Var_mean'].unique())
labels_gasto_familiar =  labels.loc[labels['Var_mean'] == 'gasto_familiar',:]
print(labels_gasto_familiar)
labels_ind =  labels.loc[labels['Var_mean'] == 'ind',:]
print(labels_ind)
labels_ingreso = labels.loc[labels['Var_mean'] == 'ingreso_nompen',:]
print(labels_ingreso)

['gasto_familiar' 'ind' 'ingreso_nompen']
        Categoria       Particip        Variable  Label        Var_mean
0          CASADO  967837.042851    estado_civil      5  gasto_familiar
1     UNION LIBRE  867804.852140    estado_civil      4  gasto_familiar
2      DIVORCIADO  788139.686010    estado_civil      3  gasto_familiar
3           VIUDO  696959.019761    estado_civil      2  gasto_familiar
4         SOLTERO  691276.611696    estado_civil      1  gasto_familiar
...           ...            ...             ...    ...             ...
3033            C  745750.890623  rep_calif_cred      5  gasto_familiar
3034            E  735321.594399  rep_calif_cred      4  gasto_familiar
3035            D  734435.232154  rep_calif_cred      3  gasto_familiar
3036            G  716602.568091  rep_calif_cred      2  gasto_familiar
3037            H  650557.024339  rep_calif_cred      1  gasto_familiar

[1629 rows x 5 columns]
        Categoria      Particip        Variable  Label Var_mean
3038       CASADO  1.737485e+06    estado_civil      5      ind
3039        VIUDO  1.516885e+06    estado_civil      4      ind
3040  UNION LIBRE  1.376242e+06    estado_civil      3      ind
3041      SOLTERO  1.080842e+06    estado_civil      2      ind
3042   DIVORCIADO  6.015128e+05    estado_civil      1      ind
...           ...           ...             ...    ...      ...
6071            D  7.770746e+05  rep_calif_cred      5      ind
6072            E  7.585961e+05  rep_calif_cred      4      ind
6073            F  6.058121e+05  rep_calif_cred      3      ind
6074            G  4.990211e+05  rep_calif_cred      2      ind
6075            H -1.701739e+06  rep_calif_cred      1      ind

[1629 rows x 5 columns]
        Categoria      Particip        Variable  Label        Var_mean
6076        VIUDO  1.588661e+06    estado_civil      5  ingreso_nompen
6077       CASADO  1.553970e+06    estado_civil      4  ingreso_nompen
6078   DIVORCIADO  1.175200e+06    estado_civil      3  ingreso_nompen
6079  UNION LIBRE  1.083780e+06    estado_civil      2  ingreso_nompen
6080      SOLTERO  1.082504e+06    estado_civil      1  ingreso_nompen
...           ...           ...             ...    ...             ...
9109            D  1.101550e+06  rep_calif_cred      5  ingreso_nompen
9110            F  1.099701e+06  rep_calif_cred      4  ingreso_nompen
9111            G  1.099355e+06  rep_calif_cred      3  ingreso_nompen
9112            H  1.095841e+06  rep_calif_cred      2  ingreso_nompen
9113            E  1.055179e+06  rep_calif_cred      1  ingreso_nompen

[1629 rows x 5 columns]

In [29]:
# se hace lo mismo con los otros dos valores pero toca cambiarlo en el for
for i,row in labels_gasto_familiar.iterrows():
    output[row['Variable']].replace(row['Categoria'],row['Label'],inplace = True)
output['genero'].replace('F' , 1, inplace = True)
output['genero'].replace('M' , 2, inplace = True)

In [30]:
output

,id_cli,mes,cupo_total_tc,cuota_de_vivienda,ind,mora_max,cant_moras_30_ult_12_meses,cant_moras_60_ult_12_meses,cant_moras_90_ult_12_meses,cant_mora_30_tdc_ult_3m_sf,cant_mora_30_consum_ult_3m_sf,saldo_no_rot_mdo,codigo_ciiu,ctas_activas,ctas_embargadas,mediana_nom3,mediana_pen3,cupo_tc_mdo,cant_oblig_tot_sf,cant_cast_ult_12m_sr,genero,estado_civil,nivel_academico,profesion,ocupacion,ciudad_residencia,rep_calif_cred,ind_mora_vigente,cartera_castigada,tenencia_tc,tiene_consumo,tiene_crediagil,tiene_ctas_activas,tiene_ctas_embargadas,pension_fopep,tiene_cred_hipo_1,tiene_cred_hipo_2
0,3.0,1,6600000.0,0.0,3.281244e+06,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,10.0,1.0,0.0,0.0,0.0,13579000.0,4.0,0.0,1,5,5,55,6,731,8.0,1,1,1,0,0,1,0,0,0,0
1,3.0,2,6600000.0,0.0,3.155679e+06,0.0,0.0,0.0,0.0,0.0,0.0,2828.427125,10.0,1.0,0.0,5378092.0,0.0,16272000.0,4.0,0.0,1,5,5,55,6,731,2.0,1,1,1,0,0,1,0,0,0,0
2,3.0,3,6600000.0,0.0,2.775457e+06,0.0,0.0,0.0,0.0,0.0,0.0,2828.427125,10.0,1.0,0.0,0.0,0.0,13579000.0,4.0,0.0,1,5,5,55,6,731,8.0,1,1,1,0,0,1,0,0,0,0
3,3.0,4,6600000.0,0.0,2.123905e+06,0.0,0.0,0.0,0.0,0.0,0.0,1414.213562,10.0,1.0,0.0,7926427.0,0.0,16272000.0,4.0,0.0,1,5,5,55,6,731,4.0,1,1,1,0,0,1,0,0,0,0
4,3.0,5,6600000.0,0.0,2.601551e+06,0.0,0.0,0.0,0.0,0.0,0.0,1414.213562,10.0,1.0,0.0,3679205.0,0.0,16272000.0,4.0,0.0,1,5,5,55,6,731,8.0,1,1,1,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10397402,8704800.0,7,1700000.0,0.0,7.537400e+05,0.0,0.0,0.0,0.0,0.0,0.0,1414.213562,90.0,1.0,0.0,0.0,0.0,5750000.0,4.0,0.0,1,1,3,53,10,919,8.0,1,1,1,0,0,1,0,0,0,0
10397403,8704800.0,8,1700000.0,0.0,5.397950e+05,0.0,0.0,0.0,0.0,0.0,0.0,1414.213562,90.0,1.0,0.0,0.0,0.0,7750000.0,4.0,0.0,1,1,3,53,10,919,8.0,1,1,1,0,1,1,0,0,0,0
10397404,8704800.0,9,1700000.0,0.0,6.162950e+05,0.0,0.0,0.0,0.0,0.0,0.0,4242.640687,90.0,1.0,0.0,0.0,0.0,5750000.0,4.0,0.0,1,1,3,53,10,919,8.0,1,1,1,0,0,1,0,0,0,0
10397405,8704800.0,10,1700000.0,0.0,5.230038e+05,0.0,0.0,0.0,0.0,0.0,0.0,74246.212025,90.0,1.0,0.0,0.0,0.0,5750000.0,4.0,0.0,1,1,3,53,10,919,8.0,1,1,1,0,0,1,0,0,0,0
10397406,8704800.0,11,1700000.0,0.0,5.230038e+05,0.0,0.0,0.0,0.0,0.0,0.0,74246.212025,90.0,1.0,0.0,0.0,0.0,5750000.0,4.0,0.0,1,1,3,53,10,919,8.0,1,1,1,0,0,1,0,0,0,0

In [31]:
output.isna().sum()

id_cli                                0
mes                                   0
cupo_total_tc                         0
cuota_de_vivienda                     0
ind                                   0
mora_max                              0
cant_moras_30_ult_12_meses            0
cant_moras_60_ult_12_meses            0
cant_moras_90_ult_12_meses            0
cant_mora_30_tdc_ult_3m_sf            0
cant_mora_30_consum_ult_3m_sf         0
saldo_no_rot_mdo                      0
codigo_ciiu                           0
ctas_activas                          0
ctas_embargadas                       0
mediana_nom3                          0
mediana_pen3                          0
cupo_tc_mdo                           0
cant_oblig_tot_sf                     0
cant_cast_ult_12m_sr                  0
genero                                0
estado_civil                          0
nivel_academico                       0
profesion                             0
ocupacion                             0
ciudad_residencia                     0
rep_calif_cred                   964154
ind_mora_vigente                      0
cartera_castigada                     0
tenencia_tc                           0
tiene_consumo                         0
tiene_crediagil                       0
tiene_ctas_activas                    0
tiene_ctas_embargadas                 0
pension_fopep                         0
tiene_cred_hipo_1                     0
tiene_cred_hipo_2                     0
dtype: int64

In [32]:
nulos = output.isna().sum()/len(output)*100
nulos.loc[nulos != 0]

rep_calif_cred    9.273362
dtype: float64

In [33]:
labels

        Categoria      Particip        Variable  Label        Var_mean
0          CASADO  9.678370e+05    estado_civil      5  gasto_familiar
1     UNION LIBRE  8.678049e+05    estado_civil      4  gasto_familiar
2      DIVORCIADO  7.881397e+05    estado_civil      3  gasto_familiar
3           VIUDO  6.969590e+05    estado_civil      2  gasto_familiar
4         SOLTERO  6.912766e+05    estado_civil      1  gasto_familiar
...           ...           ...             ...    ...             ...
9109            D  1.101550e+06  rep_calif_cred      5  ingreso_nompen
9110            F  1.099701e+06  rep_calif_cred      4  ingreso_nompen
9111            G  1.099355e+06  rep_calif_cred      3  ingreso_nompen
9112            H  1.095841e+06  rep_calif_cred      2  ingreso_nompen
9113            E  1.055179e+06  rep_calif_cred      1  ingreso_nompen

[4887 rows x 5 columns]

In [34]:
output.head()

,id_cli,mes,cupo_total_tc,cuota_de_vivienda,ind,mora_max,cant_moras_30_ult_12_meses,cant_moras_60_ult_12_meses,cant_moras_90_ult_12_meses,cant_mora_30_tdc_ult_3m_sf,cant_mora_30_consum_ult_3m_sf,saldo_no_rot_mdo,codigo_ciiu,ctas_activas,ctas_embargadas,mediana_nom3,mediana_pen3,cupo_tc_mdo,cant_oblig_tot_sf,cant_cast_ult_12m_sr,genero,estado_civil,nivel_academico,profesion,ocupacion,ciudad_residencia,rep_calif_cred,ind_mora_vigente,cartera_castigada,tenencia_tc,tiene_consumo,tiene_crediagil,tiene_ctas_activas,tiene_ctas_embargadas,pension_fopep,tiene_cred_hipo_1,tiene_cred_hipo_2
0,3.0,1,6600000.0,0.0,3.281244e+06,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,10.0,1.0,0.0,0.0,0.0,13579000.0,4.0,0.0,1,5,5,55,6,731,8.0,1,1,1,0,0,1,0,0,0,0
1,3.0,2,6600000.0,0.0,3.155679e+06,0.0,0.0,0.0,0.0,0.0,0.0,2828.427125,10.0,1.0,0.0,5378092.0,0.0,16272000.0,4.0,0.0,1,5,5,55,6,731,2.0,1,1,1,0,0,1,0,0,0,0
2,3.0,3,6600000.0,0.0,2.775457e+06,0.0,0.0,0.0,0.0,0.0,0.0,2828.427125,10.0,1.0,0.0,0.0,0.0,13579000.0,4.0,0.0,1,5,5,55,6,731,8.0,1,1,1,0,0,1,0,0,0,0
3,3.0,4,6600000.0,0.0,2.123905e+06,0.0,0.0,0.0,0.0,0.0,0.0,1414.213562,10.0,1.0,0.0,7926427.0,0.0,16272000.0,4.0,0.0,1,5,5,55,6,731,4.0,1,1,1,0,0,1,0,0,0,0
4,3.0,5,6600000.0,0.0,2.601551e+06,0.0,0.0,0.0,0.0,0.0,0.0,1414.213562,10.0,1.0,0.0,3679205.0,0.0,16272000.0,4.0,0.0,1,5,5,55,6,731,8.0,1,1,1,0,0,1,0,0,0,0

In [35]:
output['saldo_no_rot_mdo'].unique()

array([0.00000000e+00, 2.82842712e+03, 1.41421356e+03, ...,
       6.87321933e+07, 8.87461437e+07, 6.91048386e+07])

In [36]:
from sklearn.impute import KNNImputer
X = output.values.tolist()
imputer = KNNImputer(n_neighbors=5, weights="distance")
datos_knni = imputer.fit_transform(X)
datos_knni = pd.DataFrame(datos_knni)
datos_knni

KeyboardInterrupt:

In [43]:
df_sinnulos = output[~output['rep_calif_cred'].isnull()]
df_pedazo = df_sinnulos.sample(n=1000000, replace = False)
df_nulos = output[output['rep_calif_cred'].isnull()]

In [44]:
df_total = pd.concat([df_pedazo,df_nulos],axis=1)

In [ ]:
from sklearn.impute import KNNImputer
X = df_total.values.tolist()
imputer = KNNImputer(n_neighbors=5, weights="distance")
datos_knni = imputer.fit_transform(X)
datos_knni = pd.DataFrame(datos_knni)
datos_knni