# Requirements

In [19]:
import numpy                 as np
import pandas                as pd
import matplotlib.pyplot     as plt
import seaborn               as sns

from scipy import stats
import sklearn.metrics       as Metrics
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, mean_absolute_error
from sklearn.model_selection import train_test_split
#from sklearn.model_selection import GridSearchCV
#from sklearn.model_selection import cross_val_score
from sklearn.ensemble import ExtraTreesRegressor
#from sklearn.model_selection import RandomizedSearchCV
from sklearn.preprocessing import MinMaxScaler

# Loading data

In [2]:
#df = pd.read_csv("/mnt/workstation/data/Alomarrano/littlepig_full_ok.csv")
df_onehot = pd.read_csv("C:/Users/dielesro/Documents/Workstation/Debuggers/data/4rf_full_ok_encoded_bestVar.csv")
id_cli = df_onehot.iloc[-281666:,-1]
df_onehot = df_onehot.drop(['id_registro'], axis=1)
df_onehot

,categoria,ingreso_final,mediana_nom3,ocupacion_tag_gasto_familiar,cartera_castigada,ind_mora_vigente,rep_calif_cred_tag_gasto_familiar,genero_tag,estado_civil_tag_gasto_familiar,profesion_tag_gasto_familiar,ctas_activas,periodo,profesion_AUXILIAR DE ODONTOLOGIA,profesion_BACTERIOLOGIA,profesion_CARRERA MILITAR,profesion_COMERCIO INTERNACIONAL,gasto_familiar
0,1.0,2406953.0,779157.0,6,1,1,2,1,1.0,44,2,201902,0,0,0,0,3.663700e+05
1,1.0,3014036.0,0.0,6,1,1,3,1,1.0,44,2,202001,0,0,0,0,7.372630e+05
2,2.0,1242174.0,0.0,6,1,1,3,1,1.0,44,2,202009,0,0,0,0,4.473640e+05
3,1.0,2851369.0,741967.0,6,1,1,4,1,1.0,44,2,201908,0,0,0,0,4.797520e+05
4,1.0,3171369.0,0.0,6,1,1,3,1,1.0,44,2,201911,0,0,0,0,1.599610e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1527188,2.0,3876343.0,2281362.0,6,1,1,8,1,1.0,44,1,202011,0,0,0,0,7.431714e+05
1527189,3.0,26913722.0,14956096.0,6,1,1,5,2,3.0,47,2,202011,0,0,1,0,8.502165e+05
1527190,3.0,16301000.0,0.0,8,1,1,3,2,3.0,46,1,202011,0,0,0,0,7.853290e+05
1527191,2.0,14481371.0,11916465.0,6,1,1,7,1,5.0,64,1,202011,0,0,0,0,1.029045e+06
1527192,2.0,8407800.0,0.0,6,1,1,4,1,4.0,44,1,202011,0,0,0,0,9.110522e+05

## Normalization

In [4]:
Estandar = MinMaxScaler()
Estandar.fit(df_onehot)

df_std = Estandar.transform(df_onehot)
df_std = pd.DataFrame(df_std)
round(df_std.describe().T,2)

        count  mean   std  min   25%   50%   75%  max
0   1527193.0  0.31  0.14  0.0  0.20  0.20  0.40  1.0
1   1527193.0  0.00  0.00  0.0  0.00  0.00  0.00  1.0
2   1527193.0  0.00  0.01  0.0  0.00  0.00  0.01  1.0
3   1527193.0  0.54  0.17  0.0  0.56  0.56  0.56  1.0
4   1527193.0  0.00  0.00  0.0  0.00  0.00  0.00  0.0
5   1527193.0  0.00  0.00  0.0  0.00  0.00  0.00  0.0
6   1527193.0  0.61  0.36  0.0  0.29  0.71  1.00  1.0
7   1527193.0  0.49  0.50  0.0  0.00  0.00  1.00  1.0
8   1527193.0  0.46  0.46  0.0  0.00  0.50  1.00  1.0
9   1527193.0  0.58  0.21  0.0  0.55  0.55  0.69  1.0
10  1527193.0  0.07  0.03  0.0  0.07  0.07  0.07  1.0
11  1527193.0  0.52  0.46  0.0  0.05  0.91  0.96  1.0
12  1527193.0  0.00  0.02  0.0  0.00  0.00  0.00  1.0
13  1527193.0  0.00  0.06  0.0  0.00  0.00  0.00  1.0
14  1527193.0  0.00  0.06  0.0  0.00  0.00  0.00  1.0
15  1527193.0  0.01  0.09  0.0  0.00  0.00  0.00  1.0
16  1527193.0  0.02  0.00  0.0  0.02  0.02  0.02  1.0

In [23]:
x_val = df_std.iloc[-281666:,:-1]
y_val = df_std.iloc[-281666:,-1]
y = df_std.iloc[:-281666,-1]

In [24]:
print(x_val.shape)
print(y_val.shape)
print(y.shape)

(281666, 16)
(281666,)
(1245527,)

### Train/test Sets

In [7]:
X_train, X_test, y_train, y_test = train_test_split(df_std.iloc[:-281666,:-1],
                                                    y,
                                                    test_size=0.30)

X_train

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
395337,0.2,0.000320,0.004263,0.555556,0.0,0.0,0.857143,1.0,0.00,0.551282,0.071429,0.073394,0.0,0.0,0.0,0.0
636940,0.2,0.000457,0.000000,0.777778,0.0,0.0,0.571429,0.0,1.00,0.487179,0.071429,0.064220,0.0,0.0,0.0,0.0
367237,0.2,0.000302,0.004024,0.555556,0.0,0.0,1.000000,0.0,0.00,0.512821,0.071429,0.064220,0.0,0.0,0.0,1.0
270508,0.2,0.000268,0.003795,0.555556,0.0,0.0,0.428571,0.0,0.00,0.551282,0.000000,1.000000,0.0,0.0,0.0,0.0
786527,0.2,0.000262,0.003944,0.555556,0.0,0.0,0.571429,0.0,0.00,0.551282,0.071429,0.926606,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1212494,0.8,0.000951,0.000000,0.777778,0.0,0.0,1.000000,0.0,1.00,0.692308,0.071429,1.000000,0.0,0.0,0.0,0.0
757051,0.2,0.000289,0.004307,0.555556,0.0,0.0,0.857143,1.0,1.00,0.679487,0.071429,0.045872,0.0,0.0,0.0,0.0
1149114,0.2,0.000249,0.002056,0.555556,0.0,0.0,0.571429,1.0,0.00,0.871795,0.071429,0.082569,0.0,0.0,0.0,0.0
384418,0.2,0.000504,0.000000,0.555556,0.0,0.0,0.285714,0.0,0.75,0.551282,0.071429,0.000000,0.0,0.0,0.0,0.0
609453,0.4,0.001229,0.005906,0.555556,0.0,0.0,1.000000,1.0,1.00,0.551282,0.071429,0.073394,0.0,0.0,0.0,0.0

# Default ~ _ExtraTrees_

## Submission

In [ ]:
etr = ExtraTreesRegressor(n_jobs=-1, 
                            random_state=42,
                            criterion='mae',
                            max_features = 'sqrt',
                            n_estimators = 10, 
                            max_depth = 10)
etr.fit(X_train,y_train)
y_hat=etr.predict(X_test)#[::,1]
mean_absolute_error(y_test, y_hat)

In [ ]:
sum((y_hat_rf0/y_test).abs()/len(y_hat_rf0))

In [25]:
y_hat = r0.predict(x_val)
y_hat

array([0.01815012, 0.01639075, 0.01783303, ..., 0.02050752, 0.01825865,
       0.01804297])

In [26]:
sub_normalized = pd.DataFrame(x_val)
sub_normalized[16] = y_hat
sub_normalized

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
1245527,0.4,0.000723,0.016087,0.555556,0.0,0.0,1.000000,1.0,1.00,0.474359,0.142857,0.0,0.0,0.0,0.0,0.0,0.018150
1245528,0.2,0.000347,0.005197,0.555556,0.0,0.0,0.000000,1.0,0.00,0.692308,0.071429,0.0,0.0,0.0,0.0,0.0,0.016391
1245529,0.4,0.000802,0.013274,0.555556,0.0,0.0,1.000000,1.0,1.00,0.551282,0.142857,0.0,0.0,0.0,0.0,0.0,0.017833
1245530,0.2,0.000556,0.000000,0.555556,0.0,0.0,0.142857,1.0,0.50,0.576923,0.071429,0.0,0.0,0.0,0.0,0.0,0.016309
1245531,0.6,0.001357,0.000000,0.555556,0.0,0.0,1.000000,0.0,0.50,0.974359,0.071429,0.0,0.0,0.0,0.0,0.0,0.017679
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1527188,0.4,0.000580,0.005085,0.555556,0.0,0.0,1.000000,0.0,0.00,0.551282,0.071429,1.0,0.0,0.0,0.0,0.0,0.018814
1527189,0.6,0.004030,0.033339,0.555556,0.0,0.0,0.571429,1.0,0.50,0.589744,0.142857,1.0,0.0,0.0,1.0,0.0,0.023832
1527190,0.6,0.002441,0.000000,0.777778,0.0,0.0,0.285714,1.0,0.50,0.576923,0.071429,1.0,0.0,0.0,0.0,0.0,0.020508
1527191,0.4,0.002168,0.026563,0.555556,0.0,0.0,0.857143,0.0,1.00,0.807692,0.071429,1.0,0.0,0.0,0.0,0.0,0.018259
1527192,0.4,0.001259,0.000000,0.555556,0.0,0.0,0.428571,0.0,0.75,0.551282,0.071429,1.0,0.0,0.0,0.0,0.0,0.018043

In [27]:
sub_desnorm = Estandar.inverse_transform(sub_normalized)
sub_desnorm = pd.DataFrame(sub_desnorm).iloc[:,-1]
sub_desnorm

0         1.303152e+06
1         2.753418e+05
2         1.117911e+06
3         2.273272e+05
4         1.028180e+06
              ...
281661    1.690963e+06
281662    4.622717e+06
281663    2.680328e+06
281664    1.366555e+06
281665    1.240559e+06
Name: 16, Length: 281666, dtype: float64

In [13]:
n = 10
n

10

In [28]:
sub_record = pd.DataFrame(id_cli.iloc[-281666:,])
sub_record.reset_index(inplace = True, drop =True)
sub_record.reset_index(inplace = True)
sub_gasto = pd.DataFrame(sub_desnorm)
sub_gasto.reset_index(inplace = True, drop =True)
sub_gasto.reset_index(inplace = True)
sub = pd.merge(sub_record,sub_gasto, on = 'index',how="left")
sub = sub.drop(columns=['index'], axis=0)
sub.columns = ['id_registro','gasto_familiar']
sub

           id_registro  gasto_familiar
0          4055#201902    1.303152e+06
1         12598#201902    2.753418e+05
2         23697#201902    1.117911e+06
3         23768#201902    2.273272e+05
4          7174#201902    1.028180e+06
...                ...             ...
281661  8596193#202011    1.690963e+06
281662  8616083#202011    4.622717e+06
281663  8670207#202011    2.680328e+06
281664  8677655#202011    1.366555e+06
281665  8692808#202011    1.240559e+06

[281666 rows x 2 columns]

In [29]:
n
n = n+1
sub_name = "C:/Users/dielesro/Documents/Workstation/Debuggers/data/Subet{}.csv".format(n)
sub_name

'C:/Users/dielesro/Documents/Workstation/Debuggers/data/SubNN12.csv'

In [30]:
np.mean(sub['gasto_familiar'])

1088778.4692728156

In [31]:
sub.to_csv(sub_name, index=False)