<a href="https://colab.research.google.com/github/DLesmes/ML_NN_Sk/blob/main/NN_from_Sk.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Requeriments

In [1]:
import numpy as np
import modin.pandas as pd
#import pandas as pd
from keras.models import Sequential
from keras.layers import Dense, Activation
from sklearn.preprocessing import MinMaxScaler

UserWarning: Modin Ray engine was started with 339 GB free space avaliable, if it is not enough for your application, please set environment variable MODIN_ON_RAY_PLASMA_DIR=/directory/without/space/limiting

## Load Data (Alomarrano)

In [2]:
df_onehot = pd.read_csv("/mnt/workstation/data/Alomarrano/littlepig_full_ok.csv")
id_cli = df_onehot['id_registro']
#df = df.drop(['id_registro'], axis=1)
df_onehot

,periodo,fecha_nacimiento,edad,ult_actual,categoria,codigo_ciiu,ind_mora_vigente,cartera_castigada,mora_max,cant_moras_30_ult_12_meses,...,estado_civil,nivel_academico,profesion,ocupacion,ciudad_residencia,rep_calif_cred,genero,id_registro,anho,mes
0,201908,19840630,35,20180526,1.0,10,1,1,0,0,...,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,LORICA,C,M,2089776#201908,2019,8
1,201909,19840630,35,20180526,1.0,10,1,1,0,0,...,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,LORICA,C,M,2089776#201909,2019,9
2,201907,19840630,35,20180526,1.0,10,1,1,0,0,...,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,LORICA,C,M,2089776#201907,2019,7
3,201903,19840630,35,20180526,1.0,10,1,1,0,0,...,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,LORICA,C,M,2089776#201903,2019,3
4,201911,19840630,35,20180526,1.0,10,1,1,0,0,...,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,LORICA,C,M,2089776#201911,2019,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9527188,202011,19740415,47,20201010,2.0,10,1,1,0,0,...,SOLTERO,UNIVERSITARIO,OTROS,Empleado,PUERRES,A,F,8596193#202011,2020,11
9527189,202011,19850620,35,20201003,3.0,90,1,1,28,0,...,DIVORCIADO,UNIVERSITARIO,CARRERA MILITAR,Empleado,PEDRAZA,C,M,8616083#202011,2020,11
9527190,202011,19740316,47,20200616,3.0,10,1,1,23,0,...,DIVORCIADO,UNIVERSITARIO,QUIMICA FARMACEUTICA,Independiente,MURILLO,D,M,8670207#202011,2020,11
9527191,202011,19780722,42,20200423,2.0,10,1,1,0,0,...,CASADO,ESPECIALIZACION,ECONOMIA,Empleado,PUERRES,B,F,8677655#202011,2020,11
9527192,202011,19801025,40,20200221,2.0,10,1,1,20,0,...,UNION LIBRE,UNIVERSITARIO,OTROS,Empleado,PEDRAZA,E,F,8692808#202011,2020,11

In [3]:
features = pd.DataFrame(df_onehot.dtypes)
features.columns = ['type']
features_f = features[features['type'] == 'float64'].index
features_o = features[features['type'] == 'object'].index
#features_i = features[features['type'] == 'int64'].index
#features_b = features[features['type'] == 'bool'].index

UserWarning: Distributing <class 'pandas.core.series.Series'> object. This may take some time.

## One-Hot Encoding

In [4]:
df_onehot.iloc[9000000:-281666,:]

,periodo,fecha_nacimiento,edad,ult_actual,categoria,codigo_ciiu,ind_mora_vigente,cartera_castigada,mora_max,cant_moras_30_ult_12_meses,...,estado_civil,nivel_academico,profesion,ocupacion,ciudad_residencia,rep_calif_cred,genero,id_registro,anho,mes
9000000,201902,19901105,28,20180809,1.0,10,1,1,0,0,...,SOLTERO,UNIVERSITARIO,OTROS,Otro,ARBOLEDAS,H,M,4094093#201902,2019,2
9000001,202005,19901105,29,20191209,1.0,10,1,1,0,0,...,SOLTERO,UNIVERSITARIO,OTROS,Otro,ARBOLEDAS,D,M,4094093#202005,2020,5
9000002,202009,19840621,36,20191213,2.0,10,1,1,0,0,...,CASADO,ESPECIALIZACION,OTROS,Empleado,PUERRES,B,F,1921343#202009,2020,9
9000003,201909,19840621,35,20190304,2.0,10,1,1,0,0,...,CASADO,ESPECIALIZACION,COMERCIO INTERNACIONAL,Empleado,PUERRES,A,F,1921343#201909,2019,9
9000004,201904,19840621,35,20190304,2.0,10,1,1,1,0,...,CASADO,ESPECIALIZACION,COMERCIO INTERNACIONAL,Empleado,PUERRES,A,F,1921343#201904,2019,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9245522,201910,19670629,52,20190424,1.0,10,1,1,0,0,...,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,PEDRAZA,C,F,2090044#201910,2019,10
9245523,202002,19670629,53,20190424,1.0,10,1,1,14,0,...,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,PEDRAZA,D,F,2090044#202002,2020,2
9245524,201903,19670629,52,20180521,1.0,10,1,1,0,0,...,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,PEDRAZA,B,F,2090044#201903,2019,3
9245525,202001,19670629,52,20190424,1.0,10,1,1,14,0,...,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,PEDRAZA,D,F,2090044#202001,2020,1
9245526,202004,19670629,53,20190424,1.0,10,1,1,14,0,...,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,PEDRAZA,B,F,2090044#202004,2020,4

In [ ]:
df_onehot = pd.get_dummies(df_onehot.iloc[9000000:-281666,:],
                           columns=features_o)
list(df_onehot.columns)

In [ ]:
df_onehot

## Normalization

In [ ]:
Estandar = MinMaxScaler()
Estandar.fit(df_onehot)

df_std = Estandar.transform(df_onehot)
df_std = pd.DataFrame(df_std)
round(df_std.describe().T,2)

In [ ]:
x_val = df_std.loc[-281666:,]
y_val = df_std.loc[-281666:,'gasto_familiar']

## Best Variables

In [ ]:
X = pd.read_csv("/mnt/workstation/data/Alomarrano/littlepig_PCAVariables.csv")
list(X['Selected_variables'])

In [ ]:
df = df_std[list(X['Variable'])[:16]]
df

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(df.loc[:-281666,],
                                                    df_std.loc[:-281666,'gasto_familiar'],
                                                    test_size=0.30)

# Arquitectura

In [ ]:
#Definición de la arquitectura
model = Sequential()
model.add(Dense(32, input_dim=32, kernel_initializer='normal',activation='linear'))
model.add(Dense(16, kernel_initializer='normal',activation='linear'))
model.add(Dense(8, kernel_initializer='normal',activation='linear'))
model.add(Dense(1, kernel_initializer='normal'))

# Compilación del modelo
model.compile(loss='mean_squared_error',
              optimizer='adam',
              metrics=['mean_absolute_percentage_error'])

In [ ]:
print(model.summary())

In [ ]:
from keras.utils import plot_model
plot_model(model, to_file='model.png',show_shapes=True)

# <h1 id="keras">Entrenamiento y Evaluación del modelo</h1>

Ahora realizaremos diferentes entrenamientos de la red neuronal diseña y evaluaremos su desempeño.

In [ ]:
#Entrena el modelo
model.fit(x_train,
          y_train,
          batch_size=32,
          epochs=5,
          validation_data=(x_val,y_val),
          use_multiprocessing=True)

In [ ]:
results = model.evaluate(x_test, y_test)

for i in range(len(model.metrics_names)):
  print(model.metrics_names[i]," : ", results[i])

In [ ]:
model.fit(x_train,
          y_train,
          batch_size=32,
          epochs=50,
          validation_data=(x_val,y_val),
          use_multiprocessing=True)

In [ ]:
results = model.evaluate(x_test, y_test)

for i in range(len(model.metrics_names)):
  print(model.metrics_names[i]," : ", results[i])

In [ ]:
import matplotlib.pyplot as plt

history = model.fit(x_train, y_train,
                    batch_size=32,
                    epochs=100,
                    validation_data=(x_val,y_val),
                    verbose=0
                   use_multiprocessing=True)

# Plot training & validation accuracy values
plt.figure(figsize=(13,6))
plt.plot(history.history['mean_absolute_percentage_error'])
plt.plot(history.history['val_mean_absolute_percentage_error'])
plt.title('Model mean_absolute_percentage_error')
plt.ylabel('MAPE %')
plt.xlabel('Epoch')
plt.legend(['Train', 'Test'], loc='upper right')
plt.show()

# Plot training & validation loss values
plt.figure(figsize=(13,6))
plt.plot(history.history['loss'])
plt.plot(history.history['val_loss'])
plt.title('Model loss')
plt.ylabel('Loss')
plt.xlabel('Epoch')
plt.legend(['Train', 'Test'], loc='upper right')
plt.show()

# Submission

In [ ]:
sub = pd.DataFrame()
sub['id_registro'] = id_cli.iloc[-281666:,]
sub['gasto_familiar'] = model.predict(x_val)
sub

In [ ]:
sub.to_csv("/mnt/workstation/data/Alomarrano/SubNN1.csv", index=False)

**Happy Coding!**